{% if theadItems is not defined or theadItems is empty %}
    {% set theadItems = [
        { label: "Date"},
        { label: "Ammount Due"},
        { label: "Reference Number"}
    ] %}
{% endif %}

{% if tbodyRows is not defined or tbodyRows is empty %}
    {% set tbodyRows = [
        [
            { cssItemAlign: "center", cellValue: "Oct 10, 2018" },
            { cssItemAlign: "center", cellValue: "$136.34" },
            { cssItemAlign: "center", cellValue: "76567687-112" }
        ],
        [
            { cssItemAlign: "center", cellValue: "Oct 10, 2018" },
            { cssItemAlign: "center", cellValue: "$136.34" },
            { cssItemAlign: "center", cellValue: "76567687-112" }
        ]
    ] %}
{% endif %}

{# ------------------------------------------------------------------------------------------------------------------ #}

<div class="table-container table-container--dynamic-data {{ class|default('') }}" data-animate="fade-in">
    <div class="table-responsive text-nowrap scrollbar-custom text-nowrap">
        <table class="table border {{ tableClass|default('') }}">
            {% include 'molecules-table-thead' with {
                class:"thead--compress",
                isDynamic: true,
                isHidden: isBulkEditHidden|default(false),
                isTheadCheckboxChecked: isTheadCheckboxChecked|default(false),
                theadTheme: theadTheme|default('dark'),
                theadItems: theadItems
            } only %}

            <tbody class="">
                {% for row in tbodyRows %}
                    {% if row.title is defined %}
                        <tr>
                            <td class="bg-gray--100"></td>
                            <td class="bg-gray--100 p-table-td" colspan="{{ theadItems|length }}">
                                <p class="mb-0 vui--text-highlight">{{ row.title }}</p>
                            </td>
                        </tr>
                    {% endif %}

                    {% include 'molecules-table-row' with {
                        class: row.class|default(""),
                        isDynamic: true,
                        isChecked: row.isChecked|default(false),
                        inputType: inputType|default('checkbox'),
                        rowDatas: row.datas,
                        rowCollapseID: "rowCollapse_" ~ loop.index
                    } only %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if hasNoPagination is not defined or hasNoPagination is not same as (true) %}
        <div class="d-md-flex align-items-center justify-content-between my-3">
            <div class="">
                {% block footer_left_content %}
                    {#<span class="color-gray--600">1-25 of 200</span>#}
                    {#{% include 'molecules-table-line-selection' with { class:"" } only %}#}
                {% endblock %}
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <span class="color-gray--600 mr-3">1-25 of 200</span>
                {% include '@components/control/control-pagination.twig' with { class:"" } only %}
            </div>
        </div>
    {% endif %}
</div>