<div class="card {{ class|default('') }}">
    <div class="p-4">
        <div class="row align-items-center">
            <div class="col-md-3 col-lg-2 text-center mb-3 mb-md-0">
                {% include '@atoms/06-icons/icon-svg-calendar.twig' with {
                    class:"",
                    iconSize: iconCalendarSize|default('6')
                } only %}
            </div>

            <div class="col-md-9 col-lg-10">
                <p class="mb-0 small">Your appointment is schedule for</p>
                <p class="font-weight-bold h5 mb-3">Saturday, April 7, between 9h - 12h</p>

                <p class="mb-0 small">This time slot will be reserved to you until completion of your order <strong>(max. 15 minutes).</strong></p>
            </div>
        </div>
    </div>
</div>