{% embed '@organisms/25-equipment/item-equipment.twig' %}
    {% block unactive_content %}
        <div>
            {% embed '@molecules/14-tooltip/01-button-outline-tooltip-custom.twig' with {
                class: "mt-4 w-100",
                buttonColor: "light",
                buttonClass:"w-100",
                buttonLabel:"Remove"
            } only %}
                {% block tooltip_content %}
                    <h2>Why do you want to remove your equipment ?</h2>
                    {% include '@atoms/03-form/selectlist.twig' with {
                        selectClass: "js-DEMO-custom-select",
                        options: [
                            { label:"Choose", value:"-", isSelected:true },
                            { label:"I'm not using it", value:"A", },
                            { label:"It's damaged", value:"B" },
                            { label:"It's damaged - client responsability", value:"C" },
                            { label:"It was stolen", value:"C" },
                            { label:"I lost it", value:"C" },
                        ]
                    } %}

                    {% include '@atoms/02-buttons/00-button.twig' with {
                        buttonClass:"w-100 color--dark js-DEMO-select-equipment-item",
                        buttonLabel:"Continue",
                        extraAttribute : 'style=display:none;'
                    } only %}

                    {% include '@atoms/01-text/text-information.twig' with {
                        class:"mt-3",
                        textLabel:"You will need to pay the EIP due of this equipment. <span class='font-italic'>Installment plan balance : $00.00</span>"
                    } only %}
                {% endblock %}
            {% endembed %}
        </div>

      {% endblock %}
{% endembed %}
