{# ----------------------------------------------------------------- #}
{% set reversed     = reversed|default(false)|json_parse %}

<div
    class="d-flex align-items-center justify-content-center h-100 w-100 {% if reversed %}reversed bf-color-bg-ground{% endif %}"
>

    {# ----------------------------------------------------------------- #}
    {% include '@bf-components/tag/twig/index.twig' with {
        label       : label,
        variant     : variant,
        reversed    : reversed,
    } only %}

</div>