{% set isDisabled   = isDisabled|json_parse %}

<div class="d-flex flex-column minh-100">

    {% for index in [1,2] %}
        <div class="d-flex flex-grow-1 {{ index == 2 ? "reversed bf-color-bg-ground" : ""  }}">
            <ul class="container list-unstyled d-flex flex-row flex-wrap align-items-center justify-content-center gap-3">

                <li style="flex: 1">
                    {% include "@bf-components/tile/twig/index.twig" with {
                        content : "<img src="/logo/apple.svg">",
                        class   : "w-100",
                        style   : "height: 6rem;"
                    } %}
                </li>
                <li style="flex: 1">
                    {% include "@bf-components/tile/twig/index.twig" with {
                        content : "<img src="/logo/google.svg">",
                        class   : "w-100",
                        style   : "height: 6rem;"
                    } %}
                </li>
                <li style="flex: 1">
                    {% include "@bf-components/tile/twig/index.twig" with {
                        content : "<img src="/logo/samsung.svg">",
                        class   : "w-100",
                        style   : "height: 6rem;"
                    } %}
                </li>
                <li style="flex: 1">
                    {% include "@bf-components/tile/twig/index.twig" with {
                        content : "<img src="/logo/lg.svg">",
                        class   : "w-100",
                        style   : "height: 6rem;"
                    } %}
                </li>
                <li style="flex: 1">
                    {% include "@bf-components/tile/twig/index.twig" with {
                        content : "<img src="/logo/motorola.svg">",
                        class   : "w-100",
                        style   : "height: 6rem;"
                    } %}
                </li>
                <li style="flex: 1">
                    {% include "@bf-components/tile/twig/index.twig" with {
                        content : "<img src="/logo/huawei.svg">",
                        class   : "w-100",
                        style   : "height: 6rem;"
                    } %}
                </li>

            </ul>

        </div>
    {% endfor %}
</div>
