
<div class='d-flex flex-column justify-content-center minh-100 {% if reversed %}reversed bf-color-bg-ground{% endif %}'>
    {% for index in [1,2] %}

        <div class='flex-grow-1 d-flex align-items-center justify-content-center minh-100 py-4 {% if index == 2 and reversed is not defined %}reversed bf-color-bg-ground{% endif %}'>

            {% include '@bf-components/tile/twig/index.twig' %}

            {% include '@bf-components/tile/twig/index.twig' with {
                content     : 'disabled',
                isDisabled  : true
            } %}

            {% include '@bf-components/tile/twig/index.twig' with {
                content: '<h3 class="m-0">Text</h3>'
            } %}

            {% include '@bf-components/tile/_doc/block.drupal.twig' %}

        </div>

    {% endfor %}
</div>