<div class="border card-rounded py-4 text-center">
    <div class="py-md-6 py-lg-8 p-4">
        <button type="button" class="mb-4 p-4 vui--style-reset position-relative icon-btn-circle">
            {% include '@atoms/06-icons/icon-svg-plus.twig' with { iconSize: iconSize|default(6), iconColor:"svg-fill--dark", iconClass:"position-absolute--center"} %}
        </button>

        <h3 class="font-weight-light">Add Helix <br>Service TV</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore laboriosam laudantium. </p>
    </div>
</div>