<div class="row">
    <div class="col-6">
        {% include '@atoms/04-links/02-link-back.twig' with {
            class:"h6 m-0 h-100",
            href: btnBackHref|default(''),
            label: btnBackLabel|default('Back')
        } %}
    </div>
    <div class="col-6 text-right">
        {% include '@atoms/04-links/01-link-button.twig' with {
            class:"w-100--mobile-only",
            buttonColor: "primary",
            label: btnNextLabel|default("Next"),
            href: btnNextHref|default(''),
        } only %}
    </div>
</div>