/* *****************************************************************************
*
*  Price box
*
* ***************************************************************************** */
.price-box {
  max-height: 6rem;

  &--sm {
    .price-box__dollar {
      @include media-scale(font-size, 2.4rem, 3rem);
    }

    .price-box__infos *,
    .price-box__dollarsign,
    .price-box__cent {
      @include media-scale(font-size, 0.875rem!important, 1rem !important);
    }

    .price-box__infos {
      //@include media-scale(transform, translate(0rem, .2rem), translate(0rem, .4rem));
      .button-tooltip {
        svg {
          @extend .svg-size--1;
        }
      }
    }
  }

  &__dollarsign,
  &__cent {
    @include media-scale(font-size, 1.3rem!important, 1.875rem !important);
    @extend .vui--font-secondary;
    transform: translate(-10%, 0em);
    line-height: 1;
  }

  &__dollar {
    @include media-scale(font-size, 3.4rem, 4.25rem);
    @extend .vui--font-secondary;
    line-height: 0.8;
  }

  &__period {
    @include media-scale(font-size, 1rem, 1.4rem !important);
  }

  &__infos {
    @extend .vui--font-secondary;
    text-align: left;
    //transform: translate(0rem, .5rem);

    .button-tooltip {
      height: 1.15rem;
    }

    &, * {
      font-size: 1rem ;
    }
  }
}
