<!-- carousel-help.twig -->
{% if footerHelpCarouselHasSeparator is defined and footerHelpCarouselHasSeparator is same as (true) %}
    <div class="container-fluid">
        <hr class="m-0" data-animate>
    </div>
{% endif %}

<section class="py-section">
    <div class="container-fluid" data-animate-row>
        <h2 class="mb-4" data-animate>We are here to help</h2>

        <div data-animate>
            {% include '@molecules/12-carousel/carousel--overflow-visible.twig' with {
                items: [
                    {imgSrc:"/images/assets/my-helix/carousel-help-01.jpg", title:"Visit our Community", desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam, cum delectus deserunt."},
                    {imgSrc:"/images/assets/my-helix/carousel-help-02.jpg", title:"Visit our Support", desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam, cum delectus deserunt."},
                    {imgSrc:"/images/assets/my-helix/carousel-help-03.jpg", title:"Store Locator", desc:"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam, cum delectus deserunt."}
                ]
            } only %}
        </div>
    </div>
</section>
