
<div class="card-group carousel-KSP js-slick-carousel--only-mobile {{ class|default('') }}">
    {% include '@molecules/03-card/card-KSP.twig' %}
    {% include '@molecules/03-card/card-KSP--bg.twig' %}
    {% include '@molecules/03-card/card-KSP--stripe.twig' %}
    {% include '@molecules/03-card/card-KSP.twig' %}
</div>
