


<div class='bf-quantity-button js-bf-quantity-button'>
    <button type="button" disabled class="bf-button-icon js-bf-quantity-button__minus bf-quantity-button__minus vui--style-reset p-0 m-0">

    {% include '@bf-components/icon/twig/index.twig' with {
        name        : "minus-circle-outline",
        class       : "bf-icon",
        size        : "medium",
        type        : "interface"
    } %}
    </button>

    <div class="bf-input">
        <input id="{{ input.id }}"
               type="number"
               name="quantity"
               aria-label="number"
               class="text-center bf-quantity-button__input js-bf-quantity-button__input border-0"
               min="{{ inputMinValue|default('0') }}"
               max="{{ inputMaxValue|default('3') }}"
               value="{{ inputValue|default('0') }}"
        >
    </div>

    <button type="button" class="bf-button-icon js-bf-quantity-button__plus bf-quantity-button__plus vui--style-reset p-0 m-0">
    {% include '@bf-components/icon/twig/index.twig' with {
        name        : "plus-circle-outline",
        class       : "bf-icon",
        size        : "medium",
        type        : "interface"
    } %}
    </button>

</div>