{# Import macros #}
{% import "@bf-utils/macros/twig/index.twig" as macros %}

{# Default Variables (Props, Controls) #}
{% set class = class|default("") %}
{% set extraAttribute = extraAttribute|default({}) %}
{% set href = href|default('javascript:window.scrollTo(top);') %}
{% set label = label|default("Back to top") %}

{# Boolean Variables #}
{% set hasLabel = label is defined and label is not empty %}

{# Boolean Variables - ORDER IS IMPORTANT #}
{% set isHierarchyPrimary = hasHierarchy and hierarchy is same as("primary") %}
{% set isIconPositionRight = hasIconPosition and iconPosition is same as("right") %}

{# Arrays of Classes With Dynamic Elements #}
{% set linkClasses = [
  "bf-link",
  (class),
] %}

{# Objects of Attributes With Dynamic Elements #}
{% set linkAttributes = {
  "href": href,
  "class": linkClasses|join(' ')|trim,
  "data-title": (hasLabel ? label|render|default("")),
} %}

{# Template #}
<a {{ macros.addAttributes(linkAttributes, extraAttribute) }}>
    {{ label }}
    {% include '@bf-components/icon/twig/index.twig' with {
        name: 'chevron-up'
    } only %}
</a>
