{# TODO: Do not seem that this file is used anywhere. Check if it is really the case. #}

{# Import macros #}
{% import "@bf-utils/macros/twig/index.twig" as macros %}

{# Boolean Variables #}
{% set hasLabel = label is defined and label is not empty %}

{# Default Variables (Props, Controls) #}
{% set buttonColor = buttonColor|default("primary") %}
{% set buttonSize = buttonSize|default("md") %}
{% set class = class|default("") %}
{% set href = href|default("#") %}
{% set id = id|default("") %}
{% set label = label|default("Link button label") %}
{% set target = target|default("_self") %}

{# "data-title" Translation Filter Object #}
{% set dataTitleTranslationObject = {
  langcode: "EN",
  context: "data-title-attribute"
} %}

{# Arrays of Classes With Dynamic Elements #}
{% set buttonClasses = [
  "btn",
  "btn-" ~ buttonSize,
  "btn-outline-" ~ buttonColor,
  (class),
] %}

{# Objects of Attributes With Dynamic Elements #}
{% set buttonAttributes = {
  "href": href,
  "id": id,
  "class": buttonClasses|join(' ')|trim,
  "target": target,
  "data-title": (hasLabel ? label|render|t([],dataTitleTranslationObject)),
} %}

{# Template #}
<a {{ macros.addAttributes(buttonAttributes, extraAttribute) }}>
  {{ label }}
</a>
