{% set buttons         	    = buttons|json_parse %}
{% set reversed             = reversed|json_parse %}
{% set highlight            = highlight|json_parse %}

{% set variants = [
    {},
    { reversed: reversed|default(true) },
    { highlight: highlight|default(true) }
] %}

<div>
    {% for variant in variants %}
        {% include '@bf-sections/buttons-nav/twig/index.twig' with variant %}
    {% endfor %}
</div>