{% embed "molecules-modal" with {
    modalId:"modalAddNewPaymentMethod",
    modalTitle:"Add new payment method",
} %}
    {% block modal_body %}
        {% embed '@molecules/10-tab/tab--input-radio.twig' with {
            tabClass:"mb-6",
            tabNavId:"tabNewPayment",
            tabContentId:"tabNewPaymentContent",
            tabNavItems: [
                { id:"_newpayment_creditcard", label:"Credit card", isSelected:true },
                { id:"_newpayment_bankaccount", label:"Bank account", isSelected:false}
            ]
        } only %}
            {% block tab_pane_content %}
                {# Tab : credit card  ---------------------------------------------- #}
                <div id="_newpayment_creditcard" class="tab-pane fade active show" role="tabpanel" aria-labelledby="tab-newpayment_creditcard">
                    {% include 'templates-add-credit-card' %}
                </div>

                {# Tab : bank account  ---------------------------------------------- #}
                <div id="_newpayment_bankaccount" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-newpayment_creditcard">
                    <h3>Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad autem consectetur cumque, doloremque ea et hic id illum ipsam ipsum odio quo repellendus soluta veniam? Culpa eum expedita veritatis!</p>
                </div>
            {% endblock %}
        {% endembed %}

        <div class="d-md-flex justify-content-end">
            {% include '@components/button/button-primary.twig' with {
                buttonLabel:"Close",
                buttonClass:"btn-reset link-underline btn--condensed",
                dataDismiss:"modal"
            } %}

            {#{% include '@components/button/button-secondary.twig' with {#}
                {#buttonClass:"btn--condensed w-100--mobile-only mr-md-3",#}
                {#buttonLabel:"Save and add a new payment method",#}
                {#dataDismiss:"modal"#}
            {#} %}#}

            {% include '@components/button/button-primary.twig' with {
                buttonClass:"btn--condensed w-100--mobile-only",
                buttonLabel:"Save",
                buttonColor:"primary",
                dataDismiss:"modal"
            } %}
        </div>
    {% endblock %}
{% endembed %}
