{% embed "molecules-modal" with {
    modalId:"modalAddNewCreditCard",
    modalTitle:"Add a new credit card",
} %}
    {% block modal_body %}
        {% include 'templates-add-credit-card' with {
            class:"mb-6"
        } %}

        <div class="d-md-flex justify-content-end">
            {% include '@components/button/button-primary.twig' with {
                buttonLabel:"Close",
                buttonClass:"btn-reset link-underline btn--condensed",
                dataDismiss:"modal"
            } %}

            {% include '@components/button/button-primary.twig' with {
                buttonClass:"btn--condensed w-100--mobile-only",
                buttonLabel:"Save",
                buttonColor:"primary",
                dataDismiss:"modal"
            } %}
        </div>
    {% endblock %}
{% endembed %}
