{% embed "molecules-modal" with {
    modalId:"modalUserAlreadyExists",
    modalTitle:"A Videotron Helix account already exists with this email address",
    modalSubtitle:" ",
    modalSize: "md",
    modalHeaderClass: "",
    modalBodyClass: "",
} %}
    {% block modal_body %}
        <p class="font-weight-bold mb-5 h4">peter.jackson@gmail.com</p>
        <p>You need to log in to access your Helix account!</p>


        <div class="mt-6 text-md-right">
            {% include '@atoms/04-link/link-button-primary.twig' with {
                class: "w-100--mobile-only",
                label: "Go to log in",
                href: "",
            } only %}
        </div>
    {% endblock %}
{% endembed %}
