{% embed "molecules-modal" with {
    modalId:"modalSaveMyCart",
    modalTitle:"Save lorem ipsum",
    modalSize:"lg",
    hasScrollContainer: false
} %}
    {% block modal_header %}
        {{ parent() }}
        <p class="h4">Lorem ipsum dolor sit amet, consectetur adipisicing elit ducimus eos error inventore omnis sapiente soluta. </p>
    {% endblock %}

    {% block modal_body %}
        <div class="row">
            <div class="col-12">
                {% include '@components/form/form-input-text.twig' with { label:"Email address", inputPlaceholder:"email@address.com" } %}
            </div>
            {#<div class="col-12">#}
                {#{% include '@components/form/form-input-checkbox.twig' with { label:"I accept to receive communication by EMAIL from Videotron including offers and promotions but also information about products and services.", inputId:"account_comm_preferences_agree_email"} %}#}
            {#</div>#}
        </div>

        {#<p class="small color-gray--700 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab alias aliquid amet inventore iusto minus, officiis optio pariatur quaerat repellendus velit voluptatem, voluptatum? A atque eum officia repellat voluptates.</p>#}

        <div class="d-flex justify-content-end mt-4">
            {% include '@components/button/button-primary.twig' with {
                buttonLabel:"Cancel",
                buttonClass:"btn-reset link-underline btn--condensed",
                dataDismiss:"modal"
            } %}
            {% include '@components/button/button-primary.twig' with {
                buttonLabel:"Save",
                buttonClass:"btn-primary btn--condensed js-modal-toggle-target",
                dataTarget:"#modalSaveMyCartConfirmation"
            } %}
        </div>
    {% endblock %}
{% endembed %}
