<div class="{{ class|default('') }}">
    <div class="row mb-3 d-none d-md-block">
        <div class="col-md-4 offset-md-8">
            <div class="row">
                <div class="col-6 d-flex justify-content-center"><span class="font-weight-medium">Lorem</span></div>
                <div class="col-6 d-flex justify-content-center"><span class="font-weight-medium">Lorem</span></div>
            </div>
        </div>
    </div>

    {% for i in 1..4 %}
        <div class="row mb-4">
            <div class="col-md-8 mb-3 mb-md-0">
                <p class="m-0">
                    <span class="font-weight-medium">Lorem ipsum dolor site amet</span>
                    <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque dolore excepturi.
                </p>
            </div>

            <div class="col-md-4 d-flex align-items-center">
                <div class="row mb-3 mb-md-0">
                    <div class="col-md-6 d-md-flex justify-content-center flex-column align-items-center mb-3 mb-md-0">
                        <div class="row">
                            <div class="col-6 d-md-none d-flex align-items-center">
                                <p class="font-weight-medium m-0">Courriel</p>
                            </div>
                            <div class="col-6 col-md-12">
                                {% include '@atoms/03-form/input-toggle-switch.twig' with { class:"m-0", isChecked:true } %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-md-flex justify-content-center flex-column align-items-center">
                        <div class="row">
                            <div class="col-6 d-md-none d-flex align-items-center">
                                <p class="font-weight-medium m-0">Text</p>
                            </div>
                            <div class="col-6 col-md-12">
                                {% include '@atoms/03-form/input-toggle-switch.twig' with { class:"m-0" } %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>