<!-- overview-block.twig -->
<div class="{{ class|default('') }}">
    {% for link in listItems %}
        <div class="{{ (loop.last is not same as (true)) ? 'border-bottom' : '' }} pt-1 pb-1">
            {% include '@molecules/07-content/content-point-text.twig' %}
        </div>
    {% endfor %}
</div>
