<!-- alert-callout.twig -->
{% embed '@molecules/02-alert/alert-callout.twig' with {
    themeColor: themeColor|default("primary")
} %}
    {% block callout_body %}
        <div class="row d-block d-md-flex align-items-center justify-content-between">
            <div class="col-12">
                {% if alertDate is defined and alertDate is not empty %}
                    <p class="mb-1 color-gray--700 small" data-animate="fade-in">{{ alertDate|default('') }}</p>
                {% endif %}

                {% if alertTitle is defined and alertTitle is not empty %}
                    <h3 class="">{{ alertTitle|default('Alert heading title') }}</h3>
                {% endif %}

                <div class="mb-0">
                    {{ alertTxt|default('200 bytes lôrem ïpsum dolor sit àmet, consectetur adipiscing elit. Nam nec pretium nulla. Étiam sollicitudin, turpis ac rhoncus fermentum, ante justo iaculis ïpsum, ac elementum Ôdio arcu nec posueres')|raw }}
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
