{% embed '@molecules/02-alert/alert-callout.twig' with {
    themeColor:"danger",
    flexAlignItems:"start",
    alertTitle:"Error",
} %}
    {% block callout_content %}
        <p class="mb-4">All VOD and PPV purchases will be added to a further invoice.</p>

        <ul class="pl-3">
            <li>Error 1</li>
            <li>Error 2</li>
            <li>Error 3</li>
        </ul>
    {% endblock %}
{% endembed %}