{% set containerClasses = [
    '',
    'reversed bf-color-bg-ground',
    'bf-color-bg-action-primary'
] %}

<div class='d-flex flex-column minh-100'>
    {% for containerClass in containerClasses %}
        
        <div class='d-flex flex-column align-items-center py-6 px-4 {{ containerClass }}'>

            {% include '@bf-components/button-nav/twig/index.twig' %}

        </div>
        
    {% endfor %}
</div>