{# Default Variables (Props, Controls) #}
{% set isFeatured = isFeatured|json_parse %}
{% set isDisabled = isDisabled|json_parse %}
{% set reversed = reversed|json_parse %}
{% set highlight = highlight|json_parse %}

{% set variants = [
  {
    backgroundClass: "bf-color-bg-ground",
    reversed: reversed|default(false),
    highlight: highlight|default(false)
  },
  {
    backgroundClass: "bf-color-bg-underground",
    reversed: reversed|default(false),
    highlight: highlight|default(false)
  },
  {
    backgroundClass: "bf-color-bg-ground reversed",
    reversed: reversed|default(true),
    highlight: highlight|default(false)
  },
  {
    backgroundClass: "bf-color-bg-underground reversed",
    reversed: reversed|default(true),
    highlight: highlight|default(false)
  },
  {
    backgroundClass: "bf-color-bg-highlight highlight",
    reversed: reversed|default(false),
    highlight: highlight|default(true)
  }
] %}

{# Template #}
<div class="d-flex flex-wrap">
  {% for variant in variants %}

    {# In Loop : Arrays of Classes With Dynamic Elements #}
    {% set variantContainerClasses = [
      "flex-1 p-4",
      (variant.backgroundClass),
    ] %}

    <div class="{{ variantContainerClasses|join(' ')|trim }}">
      {% include "@bf-components/button-nav/twig/index.twig" with variant %}
    </div>
  {% endfor %}
</div>
