{% set isFeatured  = isFeatured|json_parse %}
{% set isDisabled  = isDisabled|json_parse %}
{% set reversed    = reversed|json_parse %}
{% set highlight   = highlight|json_parse %}

{% set variants = [
  {
    backgroundClass: 'flex-1 p-4 bf-color-bg-ground'
  },
  {
    backgroundClass: 'flex-1 p-4 bf-color-bg-underground'
  },
  {
    backgroundClass: 'flex-1 p-4 bf-color-bg-ground reversed',
    reversed: reversed|default(true)
  },
  {
    backgroundClass: 'flex-1 p-4 bf-color-bg-underground reversed',
    reversed: reversed|default(true)
  },
  {
    backgroundClass: 'flex-1 p-4 bf-color-bg-highlight',
    highlight: highlight|default(true)
    }
] %}

<div class='d-flex flex-wrap'>
  {% for variant in variants %}
    <div class='{{ variant.backgroundClass }}'>
      {% include '@bf-components/button-nav/twig/index.twig' with variant %}
    </div>
  {% endfor %}
</div>