<html>
    <head>
        {# TODO: replace this URL by a CSS build upon SASS in this repo. #}
        <link href='https://videotron.com/residentiel/static/css/videotron-core.css' rel='stylesheet'>
        {# <link href='http://localhost:9008/styles/style.css' rel='stylesheet'> #}

        <style>
            .center {
                display: flex; 
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                height: 100%;
            }
        </style>
    </head>
    <body>

        <pre>{{ dump(_context) }}</pre>

        <main class='center'>
            {% if component == 'button' %}
                {% include '../projects/front-end-library/src/lib/components/button/twig/button.twig' with _context %}
            {% endif %}
        <main>
    </body>
</html>


