{#
    Edit this component and don't forget to delete this comment.

    In your component, the file /common/style.scss is aimed to share styles across Twig and Angular.
    Try to use it as much as possible, in order to avoid styles for specific framework.

    Enjoy :)
#}

<div class="bf-%component-name% {{ class|default("") }}">
    {{ label|default("Label") }}
</div>