{% set button       = button|json_parse %}
{% set reversed     = reversed|json_parse %}

{# {% if bgImage is defined and bgImage is not empty %}
    {% set defaultImgSrc = bgImage %}
{% else %}
    {% set defaultImgSrc = '/images/hero/hero-block-sample.png' %}
{% endif %} #}

<div>
    {% include '@bf-components/hero/twig/index.twig' %}
</div>