{# Default Variables (Props, Controls) #}
{% set buttons = buttons|json_parse %}
{% set blockSelection = blockSelection|json_parse %}
{% set badge = badge|json_parse %}
{% set image = image|json_parse %}
{% set _imageReversed = _imageReversed|json_parse %}
{% set price = price|json_parse %}
{% set icon = icon|json_parse %}
{% set reversed = reversed|json_parse %}

{# Template #}
<div class="d-flex flex-column w-100">
  {% include "@bf-components/hero/twig/index.twig" with {
    reversed: reversed|default(false)
  } %}

  {% include "@bf-components/hero/twig/index.twig" with {
    image: _imageReversed,
    reversed: reversed|default(true)
  } %}
</div>
