
{% set imageReversed    = (image is defined and image is not empty) ? 
        {
            default     : '/images/_docs/hero-helix-reversed.png',
            mobile      : '/images/_docs/hero-helix-reversed-mobile.png',
            alt         : 'Helix'
        }
        :
        ''
%}


<div class='d-flex flex-column w-100'>
    {% include '@bf-components/hero/twig/index.twig' with {
        reversed    : reversed|default(false),
    } %}

    {% include '@bf-components/hero/twig/index.twig' with {
        image       : imageReversed,
        reversed    : reversed|default(true),
    } %}
</div>
