{% set button           = button|json_parse %}
{% set blockSelection   = blockSelection|json_parse %}
{% set reversed         = reversed|json_parse %}

<div class='d-flex flex-column w-100'>
    {% include '@bf-components/hero/twig/index.twig' %}

    {% include '@bf-components/hero/twig/index.twig' with {
        reversed: true,
    } %}
</div>
