{% set button           = button|json_parse %}
{% set blockSelection   = blockSelection|json_parse %}
{% set badge            = badge|json_parse %}
{% set image            = image|json_parse %}
{% set price            = price|json_parse %}
{% set breadcrumb       = breadcrumb|json_parse %}
{% set reversed         = reversed|json_parse %}
{% set background = background|json_parse %}


{% set imageReversed    = (image is defined and image is not empty) ?
        {
            default     : '/images/_docs/hero-helix-reversed.png',
            mobile      : '/images/_docs/hero-helix-reversed-mobile.png',
            alt         : 'Helix',
            isBgFull    : (image.isBgFull) ? true : false
        }
        :
        ''
%}


<div class='d-flex flex-column w-100 gap-3'>
    {% include '@bf-components/hero/twig/index.twig' with {
        reversed    : reversed|default(false),
    } %}

    {% include '@bf-components/hero/twig/index.twig' with {
        image       :  imageReversed,
        reversed    : reversed|default(true),
    } %}
</div>
