<section class='
	bf-section-tiles-ksp bf-color-bg-ground
	{{ hasFeaturedLayout|default(false) ? 'bf-section-tiles-ksp--featured-layout' }}
	{{ reversed ? 'reversed' }}
	{{ class|default('') }}'
>
	<div class='container-fluid py-6'>
		<h1 class='h2 mb-4 mb-md-5'>
			{{ title }}
		</h1>
		<ul class='bf-section-tiles-ksp__list list-unstyled'>
			{% for tile in tiles %}
				<li class='bf-section-tiles-ksp__item'>
					{% include '@bf-components/tile-ksp/twig/index.twig' with tile %}
				</li>
			{% endfor %}
		</ul>
	</div>
</section>