<section className='container-fluid my-6'>
  <header>
    <h1 className='h2'>Form example</h1>
    <p className='bf-color-neutral-secondary'>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
  </header>
  <div>
    <form id='form-profile'>
      <div className='d-flex flex-column gap-4'>
        {% include '@bf-components/input-radio/twig/index.twig' with {
          label: 'Data usage',
          description: 'Lorem ipsum dolor sit amet',
          name: 'data-usage',
          isRequired: isRequired,
          options: [
            {
              value: 'casual',
              id: '',
              isChecked: false,
              isDisabled: isDisabled,
              isInvalid: isInvalid,
              extraAttribute: '',
              label: 'Casual',
              labelClass: '',
              labelExtraAttribute: '',
              ariaLabel: '',
              class: '',
            },
            {
              value: 'regular',
              isChecked: false,
              isDisabled: isDisabled,
              isInvalid: isInvalid,
              label: 'Regular',
            },
            {
              value: 'every-day',
              isChecked: false,
              isDisabled: isDisabled,
              isInvalid: isInvalid,
              label: 'Every Day',
            }
          ],
          areOptionTiles: false,
          errorMessage: '',
          class: ''
        } only %}

        {% include '@bf-components/input-radio/twig/index.twig' with {
          label: 'Data usage',
          name: 'data-usage-tile',
          isRequired: isRequired,
          options: [
            {
              value: 'casual',
              id: 'casual-tile',
              isChecked: false,
              isDisabled: isDisabled,
              isInvalid: isInvalid,
              extraAttribute: '',
              label: 'Casual',
              labelClass: '',
              labelExtraAttribute: '',
              ariaLabel: '',
              class: '',
            },
            {
              value: 'regular',
              id: 'regular-tile',
              isChecked: false,
              isDisabled: isDisabled,
              isInvalid: isInvalid,
              label: 'Regular',
            },
            {
              value: 'every-day',
              id: 'every-day-tile',
              isChecked: false,
              isDisabled: isDisabled,
              isInvalid: isInvalid,
              label: 'Every Day',
            }
          ],
          areOptionTiles: true,
          errorMessage: '',
          class: ''
        } only %}

        {% include '@bf-components/input-checkbox/twig/index.twig' with {
          label: 'Devices',
          name: 'devices',
          options: [
            {
              id: 'phone',
              value: 'phone',
              isChecked: false,
              isRequired: isRequired,
              isDisabled: isDisabled,
              isInvalid: isInvalid,
              isInvalid: false,
              extraAttribute: '',
              label: 'Phone',
              labelClass: '',
              labelExtraAttribute: '',
              ariaLabel: '',
              class: '',
            },
            {
              id: 'television',
              value: 'television',
              isChecked: false,
              isRequired: isRequired,
              isDisabled: isDisabled,
              isInvalid: isInvalid,
              label: 'Television',
            },
            {
              id: 'tablet',
              value: 'tablet',
              isChecked: false,
              isRequired: isRequired,
              isDisabled: isDisabled,
              isInvalid: isInvalid,
              label: 'Tablet',
            }
          ],
          areOptionTiles: false,
          errorMessage: '',
          class: ''
        } only %}

        {% include '@bf-components/input-checkbox/twig/index.twig' with {
          label: 'Devices',
          description: 'plain description of the device you need to choose from',
          name: 'devices-tile',
          options: [
            {
              id: 'phone-tile',
              value: 'phone',
              isChecked: false,
              isRequired: isRequired,
              isDisabled: isDisabled,
              isInvalid: isInvalid,
              isInvalid: false,
              extraAttribute: '',
              label: 'Phone',
              labelClass: '',
              labelExtraAttribute: '',
              ariaLabel: '',
              class: '',
            },
            {
              id: 'television-tile',
              value: 'television',
              isChecked: false,
              isRequired: isRequired,
              isDisabled: isDisabled,
              isInvalid: isInvalid,
              label: 'Television',
            },
            {
              id: 'tablet-tile',
              value: 'tablet',
              isChecked: false,
              isRequired: isRequired,
              isDisabled: isDisabled,
              isInvalid: isInvalid,
              label: 'Tablet',
            }
          ],
          areOptionTiles: true,
          errorMessage: '',
          class: ''
        } only %}
      </div>

    <button type='submit' className='bf-button bf-button--primary mt-4' data-title='Submit'>
        <span className='bf-button__inner'>
          <span className='bf-button__label'>Submit</span>
      </span>
    </button>
    {# TODO: replace with bifrost Button when type=submit is merged
      {% include '@bf-components/button/twig/index.twig' with {
        label: 'Submit',
        type: 'submit',
        hierarchy: 'primary',
        extraAttribute: 'type="submit"',
        class: 'mt-4',
      } only %}
      #}
    </form>
  </div>
  <aside className='bf-color-bg-underground mt-4 p-3'>
    <h1 className='h4'>Output</h1>
    <pre id='form-profile-output' className='m-0'></pre>
  </aside>

</section>

<script type='text/javascript'>
  const form = document.getElementById('form-profile');
  const formOutput = document.getElementById('form-profile-output');

  function displayOutput() {
    const formData = new FormData(form);
    let formObj = serialize(formData);
    console.log(formObj);

    function serialize (data) {
      let obj = {};
      for (let [key, value] of data) {
        if (obj[key] !== undefined) {
          if (!Array.isArray(obj[key])) {
            obj[key] = [obj[key]];
          }
          obj[key].push(value);
        } else {
          obj[key] = value;
        }
      }
      return obj;
    }
    formOutput.textContent = JSON.stringify(formObj, undefined, 2);
  }

  form.addEventListener('submit', function (event) {
    event.preventDefault();
    displayOutput();
  });
</script>