<div class="mt-5 row">
    <div class="col-6 col-md-8 d-flex justify-content-end">
        {% include '@atoms/02-buttons/00-button.twig' with {
            buttonLabel:"Cancel",
            buttonType:"Submit",
            buttonClass:"btn-reset link-underline btn--condensed" ,
            dataToggle:"collapse",
            dataTarget:"#collapse" ~ inlineAnchor,
            ariaExpanded: isActive is same as(true) ? 'true' : 'false',
            ariaControls:"collapse" ~ inlineAnchor
        } %}
    </div>
    <div class="col-6 col-md-4">
        {% include '@atoms/02-buttons/00-button.twig' with {
            buttonLabel:"Lorem",
            buttonType:"Submit",
            buttonClass:"btn-primary btn--condensed w-100" ,
            dataToggle:"collapse",
            dataTarget:"#collapse" ~ inlineAnchor,
            ariaExpanded: isActive is same as(true) ? 'true' : 'false',
            ariaControls:"collapse" ~ inlineAnchor
        } %}
    </div>
</div>
