{% embed "molecules-modal" with {
    modalId:"modalContactUs",
    hasScrollContainer: false
} %}
    {% block modal_header %}
        <h2 class="mb-2">Thank You!</h2>
        <p class="mb-0">Since you showed some interest for our residential phone service!</p>
        <p class="font-weight-bold">Please contact us to finalize your irder.</p>
    {% endblock %}

    {% block modal_body %}
        {% include 'organisms-cta-contact-us' with { class:"" } only %}
    {% endblock %}
{% endembed %}
