{% embed "molecules-modal" with {
    modalId:"modalPlanNoLongerAvailable",
    modalTitle:"A Videotron Helix account already exists with this email address",
    modalSubtitle:" ",
    modalSize: "md",
    modalHeaderClass: "text-center",
    modalBodyClass: "text-center",
} %}
    {% block modal_header %}
        <div class="d-flex mb-3 align-items-center justify-content-center">
            {% include '@atoms/06-icons/icon-svg.twig' with {
                iconName:"error",
                iconColor:"dark",
                iconClass:"",
                iconSize:"7"
            } only %}
        </div>

        <p class="vui--font-secondary lh-3 h3 ">You plan is no longer available:</p>

        <p class="h3">
            <strong>Internet 100</strong> <br>
            <strong>TV super plan</strong>
        </p>

    {% endblock %}

    {% block modal_body %}
        {% include 'atoms-text-callout' with {
            class:"mb-4",
            text:"If you modify your actual internet plan, you will not be able to return to it."
        } only %}

        <p class="h4 font-weight-bold mb-3 ">Do you still want to modify your services ?</p>

        <div class="d-flex justify-content-center">
            {% include '@atoms/02-buttons/10-button-outline.twig' with {
                buttonClass:"mb-2 mb-md-0 mr-md-3 w-100--mobile-only",
                buttonLabel: "No, cancel",
                dataDismiss:"modal"
            } %}

            {% include '@atoms/02-buttons/00-button.twig' with {
                buttonClass:"",
                buttonLabel:"Yes, confirm",
                dataDismiss:"modal"
            } %}
        </div>
    {% endblock %}
{% endembed %}
