{% embed "molecules-modal" with {
    modalId:"modalFinalizeMyOrderConfirmation",
    modalTitle:"Thank you John Dow!",
    hasScrollContainer: false,
    modalSize:"md"
} %}
    {% block modal_header %}
        {{ parent() }}
        <p>We will contact you very soon to complete your order!</p>
    {% endblock %}

    {% block modal_body %}
        <div class="row">
            <div class="col-12">
                <p class="mb-0">
                    Also, your cart has been sent by email.
                </p>
                <p class="color-gray--600">
                    All prices shown are valid until XX/XX/XXXX
                </p>
            </div>
        </div>
        {#<div class="row mt-4">#}
            {#<div class="col-md-4 offset-md-8">#}
                {#<div class="d-flex justify-content-end">#}
                    {#{% include '@atoms/02-buttons/00-button.twig' with {#}
                        {#buttonLabel:"Close",#}
                        {#buttonClass:"btn-primary btn--condensed w-100",#}
                        {#dataDismiss:"modal"#}
                    {#} %}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {% endblock %}
{% endembed %}
