{% embed "molecules-modal" with {
    modalId:"modalSaveMyCartConfirmation",
    modalTitle:"Your cart has been sent by email !",
    modalSize:"md",
    hasScrollContainer: false
} %}
    {% block modal_header %}
        {{ parent() }}
        <p>All prices shown are valid until XX/XX/XXXX</p>
    {% endblock %}

    {% block modal_body %}
        <div class="d-md-flex justify-content-end">
            {#{% include '@atoms/02-buttons/00-button.twig' with {#}
                {#buttonLabel:"Close",#}
                {#buttonClass:"btn-reset link-underline btn--condensed",#}
                {#dataDismiss:"modal"#}
            {#} %}#}

            {% include '@atoms/04-links/01-link-button.twig' with {
                class:"w-100--mobile-only ml-md-3 mb-2 mb-md-0",
                label:"Print a quote",
                buttonColor : "csr",
                href:"/patterns/04-Pages-01-activation-(etiya)-13-cart-summary--print-a-quote/04-Pages-01-activation-(etiya)-13-cart-summary--print-a-quote.html",
                target: "_blank"
            } %}

            {#{% include '@atoms/02-buttons/00-button.twig' with {#}
                {#buttonClass:"btn--condensed w-100--mobile-only",#}
                {#buttonLabel:"Close",#}
                {#buttonColor:"primary",#}
                {#dataDismiss:"modal"#}
            {#} %}#}
        </div>
    {% endblock %}
{% endembed %}
