{% embed "molecules-modal" with {
    modalId:"modalSerialNumbers",
    modalTitle:"Please enter each of your items serial number.",
    modalSubtitle:"Please enter your devices' 16-digits serial number to insure comptability",
    modalSize: "md",
} %}
    {% block modal_body %}
        <div class="row mb-6">
            <div class="col-md-8">
                {% embed '@atoms/03-form/input-with-label.twig' with {
                    class:"mb-3",
                    label:"Helix FI Gateway serial number",
                    inputId:"_serialnumbers_1"
                } %}
                    {% block BLOCK_tooltip_content %}
                        <img src="/images/assets/serial-number/borne.png" alt="" class="img-fluid">
                    {% endblock %}
                {% endembed %}

                {% embed '@atoms/03-form/input-with-label.twig' with {
                    class:"mb-3",
                    label:"Helix Xi6 serial number",
                    labelTooltipTxt:"Here is a tooltip",
                    inputId:"_serialnumbers_2"
                } %}
                    {% block BLOCK_tooltip_content %}
                        <img src="/images/assets/serial-number/xi6.png" alt="" class="img-fluid">
                    {% endblock %}
                {% endembed %}

                {% embed '@atoms/03-form/input-with-label.twig' with {
                    class:"",
                    label:"Pod",
                    labelTooltipTxt:"Here is a tooltip",
                    inputId:"_serialnumbers_3",
                    tooltipTxt: "Lorem ipsum here is a quick guide to help you."
                } %}
                    {% block BLOCK_tooltip_content %}
                        <img src="/images/assets/serial-number/pod.png" alt="" class="img-fluid">
                    {% endblock %}
                {% endembed %}
            </div>
        </div>

        <div class="d-md-flex justify-content-end">
            {% include '@atoms/02-buttons/00-button.twig' with {
                buttonLabel:"Cancel",
                buttonClass:"btn-reset link-underline btn--condensed",
                dataDismiss:"modal"
            } %}

            {% include '@atoms/02-buttons/00-button.twig' with {
                buttonClass:"btn--condensed w-100--mobile-only",
                buttonLabel:"Continue",
                buttonColor:"primary",
                dataDismiss:"modal"
            } %}
        </div>
    {% endblock %}
{% endembed %}
