
<div class=''>
  <div class='d-block d-md-flex align-items-stretch flex-wrap'>

      {% include '@bf-sections/buttons-nav/twig/index.twig' with {
        title: 'Discover our services',
        titleTag: 'h2',
        buttons: [
          { label: 'Mobile',          iconName: 'mobility' },
          { label: 'Internet',        iconName: 'internet-residential' },
          { label: 'Television',      iconName: 'television' },
          { label: 'Accessories',     iconName: 'multi-product' },
          { label: 'Entertainment',   iconName: 'play' },
        ],
        isFeatured: false,
        highlight: true,
        class: 'd-flex bf-color-bg-highlight',
        extraAttribute: 'style="flex:2"'
      } only %}

    <div class='flex-1'>
      <div class="bf-color-bg-underground p-6 text-center">
        <div data-block-plugin-id="block_content:3e6718dc-0ffb-4851-b339-ea3bca3f11b3" class="block block-block-content block-block-content3e6718dc-0ffb-4851-b339-ea3bca3f11b3" id="">
          <div class="field field--name-body field--type-text-with-summary field--label-hidden field-rich-text-block">
            <div class="field field--name-body field--type-text-with-summary field--label-hidden field-rich-text-block field__item">
              <div class="field-rich-text-block">
                <h2>
                  Videotron, an integral part of Quebecers’ daily lives
                </h2>
              <p>
                Partner of your connected life, Videotron offers you state-of-the-art communication and entertainment solutions, as well as a unique customer experience.
              </p>
              <p>
                <a class="bf-link bf-link--primary" href="/pourquoi-choisir-videotron">
                  WHY CHOOSE VIDÉOTRON?
                </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>