# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
addon-jest.testresults.json

# Storybook
/storybook-static
build-storybook.log
documentation.json

# Angular Showcase
/projects/angular-showcase/node_modules

# Drupal Showcase
/projects/drupal-showcase/node_modules
/projects/drupal-showcase/vendor
/projects/drupal-showcase/web/*
# Ignore all /web/* except this path:
!/projects/drupal-showcase/web/themes/bifrost
/projects/drupal-showcase/web/themes/bifrost/node_modules
