{
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "none",
    "overrides": [
        {
            "files": ["*.twig", "*.html"],
            "options": {
                "tabWidth": 2,
                "editorconfig": true
            }
        }
    ]
}
