{
    "singleQuote": true,
    "trailingComma": "es5",
    "overrides": [
        {
            "files": ["*.twig", "*.html"],
            "options": {
                "editorconfig": true
            }
        }
    ]
}
