{
  "plugins": ["./node_modules/prettier-plugin-twig-melody"],
  "twigMelodyPlugins": ["./node_modules/prettier-plugin-twig-enhancements"],
  "singleQuote": true,
  "printWidth": 120,
  "trailingComma": "es5",
  "twigSingleQuote": false
}
