{# Responsive iframe video #}
<div class="embed-responsive embed-responsive-{{ videoRatio|default("16by9") }} video-container {{ class|default("") }}">
  <iframe class="embed-responsive-item {{ iframeClass|default("") }}"
          src="{{ videoSource|default("https://www.youtube.com/embed/Y9wrYkMH0RM?rel=0") }}"
          allowfullscreen></iframe>
</div>