/* *****************************************************************************
*
*  Accordion (collapse)
*
* ***************************************************************************** */

.form-input-accordion-item {
  $formInputAccordionItem: &;

  &__input:checked ~ &__collapse-content {
    @include transitions(max-height $transition-time-medium ease-out, opacity, $transition-time-base);
    transition-delay: .1s;
    max-height: 100vh;
    opacity: 1;
  }

  &__input {
    &:checked ~ #{$formInputAccordionItem}__label {
      font-weight: $font-weight-bold;
    }

    // Type RADIO
    &[type="radio"] ~ #{$formInputAccordionItem}__label {
      @extend .form-icon-input-radio;
    }
    &[type="radio"]:checked ~ #{$formInputAccordionItem}__label {
      @extend .form-icon-input-radio--checked;
    }

    // Type CHECKBOX
    &[type="checkbox"] ~ #{$formInputAccordionItem}__label {
      @extend .form-icon-input-checkbox;
    }
    &[type="checkbox"]:checked ~ #{$formInputAccordionItem}__label {
      @extend .form-icon-input-checkbox--checked;
    }
  }

  &__label {
    background: none;
    cursor: pointer;
    text-transform: uppercase;

    &:before,
    &:after {
      left: 1rem;
    }
  }

  &__collapse-content {
    @include transitions(max-height $transition-time-base, opacity $transition-time-base);
    border-left: 4px solid $vui-yellow;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
  }
}
