/* *****************************************************************************
*
*  FORM
*
* ***************************************************************************** */

.form-selection-input-card-btn {
  @include plain-hover-focus {
    cursor: pointer !important;
  }

  .form-selection-input-card-btn__input {
    &:not([disabled]) ~ .form-selection-input-card-btn__label:hover{
      & > .card:after  {
        opacity: 1;
      }
    }

    &:checked + .form-selection-input-card-btn__label {
      @extend .selection-state--active;
    }
  }

  .form-selection-input-card-btn__label {
    @extend .selection-state;
    cursor: pointer;

    & > .card {
      &:after {
        @include transitions(opacity);
        @include size(100%);
        @extend .position-absolute--center;
        content:"";
        box-shadow: $dropdown-box-shadow;
        border-radius: inherit;
        opacity: 0;
      }
    }
  }

  &--type-radio {
    position: relative;

    &:before {
      @include size(2rem);
      content:"";
      background: $white;
      border: $card-border-width solid $card-border-color;
      border-radius: 50%;
      position: absolute;
      z-index: 1;
      left: 1rem;
      top: 1rem;
      pointer-events: none;
    }
  }
}