{# For Demo purposes only #}
{% if dropdownItems is not defined or dropdownItems is empty %}
    {% set dropdownItems = [
        {id:"#", href:"", label:"Item 1", class:""},
        {id:"#", href:"", label:"Item 2", class:""},
        {id:"#", href:"", label:"Item 3", class:""},
    ] %}
{% endif %}

{# ------------------------------------------------------------------------------------------------------------------ #}

<div class="dropdown {{ class|default('') }} ">
    {% include '@atoms/02-buttons/10-button-outline.twig' with {
        buttonId: dropdownId|default('btnOutlineDropdownMenu'),
        dataToggle: "dropdown",
        ariaHaspopup: "true",
        ariaExpanded: "false"
    } %}

    <div class="dropdown-menu dropdown-menu--arrow border-0 p-4"
         x-placement="bottom-center"
         aria-labelledby="{{ dropdownId|default('btnOutlineDropdownMenu') }}">
        {% block dropdown_content %}
            {% for item in dropdownItems %}
                {% include '@atoms/04-links/link-next.twig' with {
                    linkClass: "m-0 py-3 d-block",
                    linkSize: '5',
                    href: item.href,
                    linkLabel: item.label|default('Scrllspy anchor link')
                } only %}

                {% if loop.last is not same as (true) %}
                    <hr class="my-1">
                {% endif %}
            {% endfor %}
        {% endblock %}
    </div>
</div>
