<div class='bf-dropdown {{ isDisabled ? 'disabled' }}'>
  <div class='dropdown'>
    {% include '@bf-components/button/twig/index.twig' with {
      label           : label ,
      hierarchy       : secondary,
      isDisabled      : false,
      iconName        : 'chevron-down',
      dataToggle      : 'dropdown',
      ariaExpanded    : false,
      ariaHaspopup    : true,
      iconPosition    : 'right',
      class           : 'dropdown-toggle mt-3',
    } only %}

    {% if dropdownItems is defined and dropdownItems is not empty %}
      <ul class="dropdown-menu list-unstyled">
        {% for item in dropdownItems %}
          {% if item.label is defined and item.label %}
            <li>
              {% include '@bf-components/link/twig/index.twig' with {
                label       : item.label,
                class       : 'dropdown-item',
                href        : item.href,
                iconName    : item.iconName,
                iconPosition: 'left',
                isUnderline : false
              } only %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>