<div class='bf-dropdown {{ isDisabled ? 'disabled' }}'>
  <div class='dropdown'>
    {% include '@bf-components/button/twig/index.twig' with {
      label           : label ,
      hierarchy       : secondary,
      isDisabled      : false,
      iconName        : 'chevron-down',
      dataToggle      : 'dropdown',
      ariaExpanded    : false,
      ariaHaspopup    : true,
      iconPosition    : 'right',
      class           : 'dropdown-toggle mt-3',
    } only %}

    {% if dropdownItems is defined and dropdownItems is not empty %}
      <ul class="dropdown-menu list-unstyled">
      {% for item in dropdownItems %}
        {% if item.label is defined and item.label %}
      {#  <a class='dropdown-item' href='{{ item.href }}'>
          {% if item.iconName is defined and item.iconName %}
            {% include '@bf-components/icon/twig/index.twig' with {
              name    : item.iconName,
              class   : 'mr-2'
            } only %}
          {% endif %}
          {{ item.label }}
        </a>#}


          <li>
            {% include '@bf-components/link/twig/index.twig' with {
              label   : item.label,
              class   : 'dropdown-item',
              href    : item.href
            } only %}
          </li>
        {% endif %}
      {% endfor %}

      </ul>
    {% endif %}
  </div>
</div>