{# Default Variables (Props, Controls) #}
{% set langcode = langcode|default("EN") %}

{# Boolean Variables #}
{% set hasLanguageBlock = languageBlock is defined and languageBlock is not empty %}
{% set isLangcodeEN = langcode is same as("EN") %}

{# Template #}
<nav class="bf-footer__legal d-flex align-items-center py-4">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div
        class="col-12 col-md-3 order-2 order-md-1 py-0 mt-2 mt-md-0"
        data-animate="fade-in"
      >
        {% if isReduced is same as(false) %}
          <div class="d-flex flex-row align-items-start mb-2">
            <a href="{{ logo.href|default("#") }}">
              {% include "@bf-components/logo/twig/index.twig" with {
                name: logo.name,
                size: "small",
                langcode: langcode,
                reversed: reversed
              } only %}
            </a>
          </div>
        {% endif %}

        <p class="m-0 small bf-color-neutral-secondary">
          &copy; {{ isLangcodeEN ? "Videotron" : "Vidéotron" }} {{ now|date("Y") }}
        </p>
      </div>

      <div class="col-12 col-md-9 order-1 order-md-2">
        <ul
          class="list-reset small pl-0 mb-0 d-flex flex-wrap justify-content-start justify-content-md-end gap-3"
          data-animate-row
        >
          {% for linkField in linkFields %}
            <li data-animate="fade-in">
              {% include "@bf-components/link/twig/index.twig" with {
                href: linkField.href,
                label: linkField.label,
                class: "d-block bf-p-small bf-color-neutral-secondary",
                rel: linkField.rel|default("dofollow"),
                isUnderline: false
              } only %}
            </li>
          {% endfor %}

          {% if hasLanguageBlock %}
            <li data-animate="fade-in">
              {{ languageBlock }}
            </li>
          {% else %}
            <li
              class="mb-3 mb-md-0"
              data-animate="fade-in"
            >
              {% include "@bf-components/link/twig/index.twig" with {
                href: "",
                label: isLangcodeEN ? "FR" : "EN",
                class: "d-block bf-p-small bf-color-neutral-secondary",
                isUnderline: false
              } only %}
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
