{% extends "base-page.twig" %}

{% set videoUrl = 'https://videotronen.akamaized.net/media/v1/pmp4/static/clear/23965570001/7e874b75-36b6-4c7a-8fac-f77709e30f96/55e784f7-434a-4f05-910b-e51998ef8056/main.mp4' %}
{% set videoPoster = 'https://cf-images.us-east-1.prod.boltdns.net/v1/static/23965570001/7e874b75-36b6-4c7a-8fac-f77709e30f96/e79ccda8-8aa7-40ae-9bac-d78447a58642/480x360/match/image.jpg' %}

{# ------------------------------------------------------------------------------------------------------------------ #}

{% block page_main_container %}
    {% embed '@organisms/03-hero/hero-video-background.twig' with {
        class: 'text-center color--white'
    } %}
        {% block hero_content %}
            <svg id="Group_980" data-name="Group 980" xmlns="http://www.w3.org/2000/svg" width="170.31" height="41.47"
                 viewBox="0 0 140.31 41.47">
                <path id="Path_354" data-name="Path 354"
                      d="M17.119,38.316V26.057H3.139V38.316H0V10.91H3.139V23h13.98V10.91h3.094V38.316Z"
                      transform="translate(0 -3.878)" fill="#fff"/>
                <path id="Path_355" data-name="Path 355"
                      d="M45.14,38.326V10.92H62.008v3.075H48.26v9H60.313v3.055H48.26v9.2H62.008v3.075Z"
                      transform="translate(-16.045 -3.882)" fill="#fff"/>
                <path id="Path_356" data-name="Path 356" d="M84.81,38.326V10.92h3.113V35.252h13.033v3.075Z"
                      transform="translate(-30.146 -3.882)" fill="#fff"/>
                <path id="Path_357" data-name="Path 357" d="M139.04,9l9.037,15L139.04,39,154.045,24Z"
                      transform="translate(-49.422 -3.199)" fill="#fff"/>
                <path id="Path_358" data-name="Path 358" d="M177.325,9,162.32,24,177.325,39,168.289,24Z"
                      transform="translate(-57.697 -3.199)" fill="#fff"/>
                <rect id="Rectangle_577" data-name="Rectangle 577" width="3.191" height="27.406"
                      transform="translate(78.809 7.038)" fill="#fff"/>
            </svg>

            <h2>L'expérience ultime, qui changera définitivement<br>votre vie connectée.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit numquam quibusdam expedita ipsum labore
                iste mollitia eos placeat, quos temporibus magnam veritatis cumque dolor tenetur soluta voluptas tempora
                totam quam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque delectus expedita voluptas quos fuga
                omnis, magni reiciendis. Dolore, odit, repellendus.</p>
        {% endblock %}
    {% endembed %}

    {% include '@templates/03-microsites-(symetris)/discover-channel-carousel.twig' %}
{% endblock %}
