{% set name     = (name is defined and name is same as ('business')) ? 'videotron-business' : 'videotron' %}
{% set size     = size|default('medium') %}
{% set langcode = langcode|default('en') %}

<div class='bf-logo d-inline-flex align-items-center justify-content-center {{ class }}'>
    {# {% if name|lower is same as ('videotron-business') %}
        {% if size|lower is same as ('large') %}
            {% if langcode|lower is same as ('fr') %}
                {% include '@bf-components/logo/twig/svg-twig/logo-videotron-business-large-fr.svg.twig' ignore missing %}
            {% else %}
                {% include '@bf-components/logo/twig/svg-twig/logo-videotron-business-large-en.svg.twig' ignore missing %}
            {% endif %}
        {% elseif size|lower is same as ('medium') %}
            {% if langcode|lower is same as ('fr') %}
                {% include '@bf-components/logo/twig/svg-twig/logo-videotron-business-medium-fr.svg.twig' ignore missing %}
            {% else %}
                {% include '@bf-components/logo/twig/svg-twig/logo-videotron-business-medium-en.svg.twig' ignore missing %}
            {% endif %}
        {% elseif size|lower is same as ('small') %}
            {% if langcode|lower is same as ('fr') %}
                {% include '@bf-components/logo/twig/svg-twig/logo-videotron-business-medium-fr.svg.twig' ignore missing %}
            {% else %}
                {% include '@bf-components/logo/twig/svg-twig/logo-videotron-business-medium-en.svg.twig' ignore missing %}
            {% endif %}
        {% endif %}
    {% else %}
        {% if size|lower is same as ('large') %}
            {% if langcode|lower is same as ('fr') %}
                {% include '@bf-components/logo/twig/svg-twig/logo-videotron-large-fr.svg.twig' ignore missing %}
            {% else %}
                {% include '@bf-components/logo/twig/svg-twig/logo-videotron-large-en.svg.twig' ignore missing %}
            {% endif %}
        {% elseif size|lower is same as ('medium') %}
            {% if langcode|lower is same as ('fr') %}
                {% include '@bf-components/logo/twig/svg-twig/logo-videotron-medium-fr.svg.twig' ignore missing %}
            {% else %}
                {% include '@bf-components/logo/twig/svg-twig/logo-videotron-medium-en.svg.twig' ignore missing %}
            {% endif %}
        {% elseif size|lower is same as ('small') %}
            {% if langcode|lower is same as ('fr') %}
                {% include '@bf-components/logo/twig/svg-twig/logo-videotron-medium-fr.svg.twig' ignore missing %}
            {% else %}
                {% include '@bf-components/logo/twig/svg-twig/logo-videotron-medium-en.svg.twig' ignore missing %}
            {% endif %}
        {% endif %}
    {% endif %} #}
</div>