{% set name     = (name is defined and name is same as ('business')) ? 'videotron-business' : 'videotron' %}
{% set size     = size|default('medium') %}
{% set langcode = langcode|default('EN') %}

<div class='bf-logo d-inline-flex align-items-center justify-content-center {{class}}'>
    {% include '@bf-components/logo/svg/logo-' ~ name ~ '-' ~ size ~ '-' ~ langcode ~ '.svg' %}
</div>