{% set name = name is defined and name is same as("business")
  ? "videotron-business"
  : "videotron"
%}
{% set size = size|default("medium") %}
{% set langcode = langcode|default("en") %}

<div class="bf-logo {{ class }}">
  {# prettier-ignore #}
  {% include "@bf-components/logo/svg/logo-" ~ (name|lower) ~ "-" ~ (size|lower) ~ "-" ~ (langcode|lower) ~ ".svg" %}
</div>
