<div class="{{ class|default('') }}">
    {% embed '@components/accordion/accordion-item-add.twig' with {
        inlineAnchor:"tab_bestTimeReach",
        headerTitle:"Best time to reach you (optional)"
    } %}
        {% block collapse_content %}
            <div class="mb-5">
                <p class="mb-3 h6 font-weight-medium">You may select any choices below</p>

                <div class="row">
                    <div class="col-md-4 mb-1 mb-md-0">
                        {% include '@components/form/input-selection-btn.twig' with { inputType:"checkbox", inputName:"_weekdays_bestTime_day",inputId:"bestTime_day_weekdays", labelName:"Weekdays", class:"w-100" } %}
                    </div>
                    <div class="col-md-4 mb-1 mb-md-0">
                        {% include '@components/form/input-selection-btn.twig' with { inputType:"checkbox", inputName:"_weekdays_bestTime_day",inputId:"bestTime_day_weekend", labelName:"Weekend", class:"w-100" } %}
                    </div>
                </div>
            </div>
            <div>
                <p class="mb-3 h6 font-weight-medium">Select the time range that best fits your schedule</p>

                <div class="row">
                    <div class="col-md-4 mb-1 mb-md-0">
                        {% include '@components/form/input-selection-btn.twig' with {
                            inputType:"checkbox",
                            inputName:"_weekdays_bestTime",
                            inputId:"bestTime_morning",
                            labelName:'<div>Morning</div><div class="mt-minus-1">8AM - 12PM</div>',
                            class:"w-100",
                            labelClass:"flex-column"
                        } %}
                    </div>
                    <div class="col-md-4 mb-1 mb-md-0">
                        {% include '@components/form/input-selection-btn.twig' with {
                            inputType:"checkbox",
                            inputName:"_weekdays_bestTime",
                            inputId:"bestTime_afternoon",
                            labelName:'<div>Afternoon</div><div class="mt-minus-1">12AM - 4PM</div>',
                            class:"w-100",
                            labelClass:"flex-column"
                        } %}
                    </div>
                    <div class="col-md-4 mb-1 mb-md-0">
                        {% include '@components/form/input-selection-btn.twig' with {
                            inputType:"checkbox",
                            inputName:"_weekdays_bestTime",
                            inputId:"bestTime_evening",
                            labelName:'<div>Evening</div><div class="mt-minus-1">4PM - 7PM</div>',
                            class:"w-100",
                            labelClass:"flex-column"
                        } %}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block collapse_buttons %}{% endblock %}
    {% endembed %}
</div>
