<p class="text-uppercase font-weight-medium" data-animate="">{{ suptitle|default('Here is my suptitle') }}</p>
<h2 class="mb-4 font-weight-{{ titleFontWeight|default('normal') }}" data-animate="">{{ title|default('Here is a default H2 title') }}</h2>
