<div class="row mb-4 align-items-center {{ class|default('') }}" data-animate="fade-in">
    <div class="col-6 col-md-8">
        <h2 class="mb-0">{{ headingLabel|default('Lorem') }}</h2>
    </div>

    <div class="col-6 col-md-4 text-right">
        {% include '@atoms/04-links/link-underline.twig' with {
            href: linkHref|default(''),
            label: linkLabel|default("View all"),
            class: linkClass|default("")
        } %}
    </div>
</div>