<!-- content-point-text.twig -->
<div class="d-flex px-2 py-4">
    <div class="">
        {% include '@atoms/06-icons/icon-step-number.twig' with { class:"icon-step-number--grey d-block" } %}
    </div>
    <div class="pl-4 pt-2">
        <p class="h4 font-weight-medium">{{ title|default('Bouton WPS (Wi-Fi Protected Setup)')|raw }}</p>
        {% block listing_body %}
            <p class="h4 font-weight-light">{{ text|default('Permet de connecter facilement des appareils au réseau Wi-Fi protégé de manière sécurisée sans avoir à entrer manuellement le nom du réseau et le mot de passe.')|raw }}</p>
        {%  endblock %}
    </div>
</div>
