{% embed '@molecules/03-card/card-block-content--link-beside.twig' with {
    class: "border--0 bg-primary"
} only %}
    {% block block_content %}
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolores excepturi explicabo nesciunt officia omnis.</p>
    {% endblock %}

    {% block block_content_link %}
        {% include '@atoms/02-buttons/00-button.twig' with {
            buttonClass:"w-100--mobile-only",
            buttonColor:"dark",
            buttonLabel:"Subscribe",
            dataToggle:"modal",
            dataTarget:"#modalVideotronplusSubscribe"
        } %}
    {% endblock %}
{% endembed %}