<div class="d-flex align-items-baseline {{ class }}">
    <p class="m-0 small">{{ item|default('You save each months') }}<sup>1</sup></p>
    <p class="m-0 small font-weight-bold badge badge-primary ml-2">{{ price|default('124,34$') }}</p>
</div>