<div class="d-flex justify-content-between {{ class }}">
    <p class="m-0 h5 font-weight-bold">{{ item|default('You save')|raw }}</p>
    <p class="m-0 font-weight-bold badge badge-primary">{{ price|default('124,34$') }}</p>
</div>