<p class="vui--text-dashed {{ priceDashedClass|default('') }}">
    <span class="vui--font-secondary {{ priceDashedPriceClass|default('') }}">{{ priceDashedLabel|default('79,00$') }}</span> /month
</p>