<div class="row align-items-center">
    <div class="col-lg-5">
        {% include '@atoms/07-payment/price-box.twig' with {
            priceClass: "w-100",
            priceDollar: priceDollar|default("152"),
            priceCent: priceCent|default("34"),
            priceInfosSupp: priceInfosSupp|default("Taxes incl."),
            priceBoxAlignement: "left"
        } only %}
    </div>
    <div class="col-lg-7">
        {% include '@atoms/07-payment/price-savings--vertical.twig' with {
            class:"border-left-gray-lg--200 pl-lg-3",
            priceDashed: priceDashed|default("$200.00/month"),
            priceSaved: priceSaved|default("<strong>$20.00/month</strong> until January 1st 2020")
        } only %}
    </div>
</div>
