<div class="{{ class|default('') }}">
    <div>
        <p class="vui--text-dashed mb-0">{{ priceDashed|default('150,00$') }}</p>
    </div>

    <div>
        <div class="badge badge-primary d-inline-flex small flex-wrap">
            <p class="font-weight-normal mb-0">You save :</p>
            <p class="mb-0 ml-1 font-weight-bold">{{ priceSaved|default('124,34$')|raw }}</p>
        </div>
    </div>
</div>