{% set icons = icons|json_parse %}
{% set footer = footer|json_parse %}

<section class="pt-4 px-3">
  {% include "@bf-components/banner-advanced/twig/index.twig" %}
</section>

<section class="pt-4 px-3">
  {% include "@bf-components/banner-advanced/twig/index.twig" with {
    icons: [
      {
        name: icons[0].name,
        label: icons[0].label
      },
      {
        name: icons[1].name,
        label: icons[1].label
      }
    ]
  } %}
</section>
