{% set isMonochromeColor = isMonochromeColor|json_parse %}

<div class="mt-6 px-2 container-fluid {{ _background }}">
  <div class="p-3 m-1 flex-grow-1 d-flex flex-column gap-4">
    <p class="small">
      No <strong>progressPercentValue</strong> or <strong>progressValue</strong>
      have been set
    </p>
    {% include "@bf-components/progress/twig/index.twig" %}
  </div>
  <div class="p-3 m-1 flex-grow-1 d-flex flex-column gap-4">
    <p class="small">Only <strong>progressPercentValue</strong> has been set</p>
    {% include "@bf-components/progress/twig/index.twig" with {
      progressPercentValue: progressPercentValue|default(25)
    } %}
    {% include "@bf-components/progress/twig/index.twig" with {
      progressPercentValue: progressPercentValue|default(55)
    } %}
    {% include "@bf-components/progress/twig/index.twig" with {
      progressPercentValue: progressPercentValue|default(95)
    } %}
  </div>
  <div class="p-3 m-1 flex-grow-1 d-flex flex-column gap-4">
    <p class="small">
      Only <strong>progressValue</strong> has been set. If set, <strong>
        progressPercentValue
      </strong>
      will be ignored
    </p>
    {% include "@bf-components/progress/twig/index.twig" with {
      progressValue: progressValue|default(25)
    } %}
    {% include "@bf-components/progress/twig/index.twig" with {
      progressValue: progressValue|default(55)
    } %}
    {% include "@bf-components/progress/twig/index.twig" with {
      progressValue: progressValue|default(95)
    } %}
  </div>
</div>
