{% set _items               = _items|json_parse %}
{% set reversed             = reversed|json_parse %}

<section class='d-flex flex-column justify-content-center {{ reversed|default(false) ? 'reversed bf-color-bg-ground' }}'>
  {% for item in _items %}
    {% include '@bf-sections/text-image/twig/index.twig' with item only %}
  {% endfor %}
</section>