{# Default Variables (Props, Controls) #}
{% set _reversed = _reversed|json_parse %}
{% set class = class|json_parse %}
{% set dataFilters = dataFilters|json_parse %}
{% set id = id|json_parse %}
{% set numberOfResults = numberOfResults|json_parse %}

{# Arrays of Classes With Dynamic Elements #}
{% set mainContainerClasses = [
  "pt-4",
  (_reversed ? "reversed bf-color-bg-ground"),
] %}

{# Template #}
<div class="{{ mainContainerClasses|join(' ')|trim }}">

    {% embed "@bf-sections/plp/twig/index.twig" with {
        class: class,
        dataFilters: dataFilters,
        id: id,
        numberOfResults: numberOfResults,
    } %}

      {# Custom Filters #}
      {% block customFiltersBlock %}{% endblock %}

      {# Results #}
      {% block resultsBlock %}

      {% endblock %}

    {% endembed %}

</div>
