{% set cardsObj = {
  buttons: [
      {
          hierarchy: 'primary-alt',
          href: 'https://www.videotron.com',
          label: 'Configurate',
      },
  ],
  contentBadges: [
      {
          iconName: 'credit-return',
          label: 'credit return',
      },
      {
          iconName: 'check-circle-outline',
          label: 'refurbish available',
      },
  ],
  detailsColors: [
      { name: 'Lorem', value: '4B4A46' },
      { name: 'Ipsum', value: '2C4651' },
      { name: 'Dolor', value: 'D4BBA5' },
      { name: 'Amet', value: 'C0C0C0' },
  ],
  detailsStorage: ['128 Go', '256 Go'],
  headerPromoBadge: {
      iconName: 'payment',
      label: 'Promotion',
  },
  image: {
      alt: 'iPhone 12 Mini',
      src: '/images/_docs/iphone-12-pro-max.png',
  },
  imageBadgeIcon: {
      name: 'security',
  },
  isTwoColsMobileVariant: true,
  note: 'Plan + Phone: from $150/month (24 months)<br/>No upfront payment',
  price: {
      cent: '99',
      details: '/month',
      dollar: '86',
      language: 'en',
      promotion: {
          direction: 'horizontal',
          priceSaved: '10.00',
          priceStriked: '40.99',
          savedLabel: 'You saved :',
          superscript: '1',
          title: '<b>Promotion</b> test',
      },
      upperTitle: 'From',
  },
  promotionBadges: [
      {
          iconName: '',
          label: 'Free Galaxy Buds Live',
      },
      {
          iconName: 'credit-welcome',
          label: '0$ Welcome credit',
      },
  ],
  subtitle: 'Discover the power of the phone',
  title: 'iPhone 12 Mini',
  visualBackgroundColor: '',
} %}

{# Default Variables (Props, Controls) #}
{% set _reversed = _reversed|json_parse %}
{% set class = class|json_parse %}
{% set dataFilters = dataFilters|json_parse %}
{% set id = id|json_parse %}
{% set numberOfResults = numberOfResults|json_parse %}
{% set numberOfResultsSize = numberOfResultsSize|json_parse %}
{% set numberOfResultsTag = numberOfResultsTag|json_parse %}

{# Arrays of Classes With Dynamic Elements #}
{% set mainContainerClasses = [
  "container container-fluid pt-4",
  (_reversed ? "reversed bf-color-bg-ground"),
] %}

{# Template #}
<div class="bf-color-bg-highlight d-flex" style="align-items: center; justify-content: center; min-height: 12rem; height: 30vh;">
  <div class="container container-fluid h1 mb-0">
    This zone is only a simulated height for Header + Hero
  </div>
</div>
<div class="{{ mainContainerClasses|join(' ')|trim }}">

    {% embed "@bf-sections/plp/twig/index.twig" with {
        class: class,
        dataFilters: dataFilters,
        id: id,
        numberOfResults: numberOfResults,
        numberOfResultsSize: numberOfResultsSize,
        numberOfResultsTag: numberOfResultsTag,
    } %}

      {# Custom Filters #}
      {% block customFiltersBlock %}{% endblock %}

      {# Results #}
      {% block resultsBlock %}
        {% for i in range(1, 12) %}
          {% include '@bf-components/card/twig/phone.twig' with cardsObj only %}
        {% endfor %}
      {% endblock %}

    {% endembed %}

</div>
