{% set image = image|json_parse %}

<div
    class="px-7 d-flex flex-column align-items-center justify-content-center h-100 w-100 {% if reversed %}reversed bf-color-bg-ground{% endif %}"
>
    {% include '@bf-components/banner/twig/index.twig' with {
        href                    : href|default(''),
        title                   : title|default(''),
        paragraph               : paragraph|default(''),
        badge                   : badge|default(''),
        image                   : {
            url:    image.url|default(''),
            alt:    image.alt|default(''),
        },
        class                   : class|default('mb-4'),
    } only %}

    {% include '@bf-components/banner/twig/index.twig' with {
        href                    : href|default(''),
        title                   : title|default(''),
        paragraph               : paragraph|default(''),
        badge                   : badge|default(''),
        iconName                : iconName|default(''),
        class                   : class|default('mb-4'),
    } only %}

    {% include '@bf-components/banner/twig/index.twig' with {
        href                    : href|default(''),
        title                   : title|default(''),
        paragraph               : paragraph|default(''),
        badge                   : badge|default(''),
        class                   : class|default(''),
    } only %}

</div>
