<div class="bf-slideshow">
  <div class="bf-slideshow__inner js-bf-slideshow--hero-slideshow {{ class|default("") }}">
    {% for slide in slides %}
      {% include "@bf-components/hero/twig/index.twig" with slide only %}
    {% endfor %}
  </div>

  {# Hero slideshow controls #}
  <div class="slick-slider position-absolute w-100 bottom-3">
    <div class="container-fluid margin-auto">
      <div class="bfslick__controls">
        <div class="bfslick__controls__counter"></div>
      </div>
    </div>
  </div>
</div>
