<div class='bf-slideshow__container'>
    <div class='bf-slideshow js-slick-carousel--hero-slideshow {{ class|default('') }}'>
    {% for slide in slides %}
        <div>
            {# supports Hero slides only #}
            {% include '@bf-components/hero/twig/index.twig' with slide  %}
        </div>
        {% endfor %}
    </div>
    {# Do Not remove - this HTML placeholder is used by the hero slideshow #}
    <div class="slick-slider position-absolute w-100 bottom-3">
        <div class='container-fluid margin-auto'>
            <div class='bfslick__controls'><div class='bfslick__controls__counter'></div></div>
        </div>
    </div>
</div>
