<div class='bf-slideshow js-slick-carousel--hero-slideshow {{ class|default('') }}'>
    {% for slide in slides %}
    <div>
        {% include '@bf-components/hero/twig/index.twig' with slide  %}
    </div>
    {% endfor %}
</div>