<div class='px-7 d-flex flex-column align-items-center justify-content-center h-100 w-100'>
    {% for index in [1,2] %}
        
        <div class='p-5 {{ index == 2 ? 'reversed bf-color-bg-ground' : ''  }}'>

            {% include '@bf-components/button-icon/twig/index.twig' with {
                icon        : icon,
                size        : size,
            } only %}

            {% include '@bf-components/button-icon/twig/index.twig' with {
                icon        : icon,
                size        : size,
                isDisabled  : isDisabled|json_parse|default(true)
            } only %}

            {% include '@bf-components/button-icon/twig/index.twig' with {
                href        : '#',
                icon        : icon,
                size        : size,
            } only %}

        </div>
        
    {% endfor %}
</div>