{% set isDisabled = isDisabled|json_parse %}

<div class='px-7 d-flex flex-column align-items-center justify-content-center minh-100'>
    {% for index in [1,2] %}
        
        <div class='p-5 {{ index == 2 ? 'reversed bf-color-bg-ground' : ''  }}'>

            {% include '@bf-components/button-icon/twig/index.twig' %}

            {% include '@bf-components/button-icon/twig/index.twig' with {
                isDisabled  : isDisabled|default(true),
                badge : NULL
            } %}

            {% include '@bf-components/button-icon/twig/index.twig' with {
                badge : {
                    label : '3',
                    },
            } %}

            {% include '@bf-components/button-icon/twig/index.twig' with {
                href        : href|default('#'),
                badge       :NULL
            } %}

        </div>
        
    {% endfor %}
</div>

<div style="background-color: 050504"><div style="background-color:FFFFFF20; width: 25px; height:24px"></div></div>