{% set isDisabled = isDisabled|json_parse %}

<div class='px-7 d-flex flex-column align-items-center justify-content-center minh-100'>
    {% for index in [1,2] %}
        
        <div class='p-5 {{ index == 2 ? 'reversed bf-color-bg-ground' : ''  }}'>

            {% include '@bf-components/button-icon/twig/index.twig' %}

            {% include '@bf-components/button-icon/twig/index.twig' with {
                isDisabled  : isDisabled|default(true)
            } %}

            {% include '@bf-components/button-icon/twig/index.twig' with {
                href        : href|default('#'),
            } %}

        </div>
        
    {% endfor %}
</div>