<div class="card mb-3" data-animate="">
    <div class="card-body py-4">
        <h2 class="mb-4" data-animate="">Amount due today</h2>

        <div class="mb-4">
            {% include '@atoms/07-payment/payment-item-price--subtotal.twig' with { item:"Down payment", price:"0,00$" } %}
            <hr class="border-top" data-animate="">
            {% include '@atoms/07-payment/payment-item-price--subitem.twig' with { item:"Equipments", price:"0,00$" } %}
        </div>

        <div class="mb-4">
            {% include '@atoms/07-payment/payment-item-price--subtotal.twig' with { item:"Unpaid balance", price:"0,00$" } %}
            <hr class="border-top" data-animate="">
            {% include '@atoms/07-payment/payment-item-price--subitem.twig' with { item:"Lorem ipsum 981272983789", price:"0,00$" } %}
            {% include '@atoms/07-payment/payment-item-price--subitem.twig' with { item:"Lorem ipsum 981272983789", price:"0,00$" } %}
        </div>

        <div class="border-top--dark border-width-4 mb-4 pt-4">
            <div class="align-items-center d-flex justify-content-between vui--font-secondary" >
                <p class="h3 m-0">Total due :</p>
                <p class="font-weight-bold h2 m-0 px-2">0,00$</p>
            </div>
        </div>

        <div class="text-center mt-6" data-animate="">
            {% include '@atoms/04-links/01-link-button.twig' with { label:"Bypass the credit adjustment", class:"d-block w-100", buttonColor:"csr" } %}
        </div>
    </div>

    {#<div class="border-top--dark border-width-4 card-body">#}
        {#{% include '@atoms/07-payment/payment-item-price--subtotal.twig' with { item:"Total due", price:"61,02$", fontWeight:"bold" } %}#}
    {#</div>#}
</div>
