{#
/**
 * @file
 * Bifrost's theme implementation to display a single Drupal page.
#}

<style>
    html {
        opacity: 1!important;
    }
</style>

<link rel="stylesheet" href="{{ base_path ~ directory }}/node_modules/@videotron-ui/bifrost-front-end-library/assets/css/bifrost.css">
<script type="text/javascript" src="{{ base_path ~ directory }}/node_modules/@videotron-ui/bifrost-front-end-library/assets/js/bifrost.js"></script>

<div class='loaded-end'>
    <div class='videotron-ui bf-base' style='min-height: 100vh'>

        {% include '@bifrost/includes/components/navigation-header.html.twig' %}

        <div class='container-fluid my-6'>
        
            {% include '@bifrost/includes/components/logo.html.twig' %}

            {% include '@bifrost/includes/components/icon.html.twig' %}
            
            <div class='reversed bf-color-bg-ground'>
                {% include '@bifrost/includes/components/input-search.html.twig' with {
                    class   : 'p-4',
                    reversed: true,
                } only %}
            </div>
        </div>

        {% include '@bifrost/includes/components/navigation-footer.html.twig' %}

    </div>
</div>
