<div class='container-fluid my-4'>

    <pre>&#123;&#123; price|format_price(language) &#125;&#125;</pre>
    <p>{{ price|format_price(language) }}</p>

    <hr />

    <pre>&#123;&#123; price|format_price('en') &#125;&#125;</pre>
    <p>{{ price|format_price('en') }}</p>

    <hr />

    <pre>&#123;&#123; price|format_price('fr') &#125;&#125;</pre>
    <p>{{ price|format_price('fr') }}</p>

    <hr />

    <pre>&#123;&#123; price|format_price &#125;&#125;</pre>
    <p>{{ price|format_price }}</p>
</div>