{% set modalSize = modalSize|json_parse %}
{% set modal_body_subcontainer = modal_body_subcontainer|json_parse|default('') %}
{% set modal_body_scroll_container = modal_body_scroll_container|json_parse|default('') %}
{% set modal_footer = modal_footer|json_parse %}

<div class='p-8'>
  {# button for DEMO only #}
  {% include '@bf-components/button/twig/index.twig' with {
    label: 'Launch modal',
    id: 'launchBtn2',
    hierarchy: 'primary',
    dataToggle: 'modal',
    dataTarget: '#exampleModal',
  } %}
</div>

{% include '@bf-components/modal/twig/index.twig' with {
  id: 'exampleModal',
} %}

{# FOR INTERNAL DEMO ONLY : If The modal is caught in reversed DIV, there will be issues #}
<div class='bf-color-bg-ground reversed'>
  <div class='p-8'>
    {% include '@bf-components/button/twig/index.twig' with {
      label: 'Launch modal',
      id: 'launchBtn',
      hierarchy: 'primary',
      dataToggle: 'modal',
      dataTarget: '#exampleModal1'
    } %}
  </div>

  {% include '@bf-components/modal/twig/index.twig' with {
    modalId: 'exampleModal1',
  } %}
</div>