<div class='p-8'>
  {% include '@bf-components/link/twig/index.twig' with {
    label: 'Launch modal',
    hierarchy: 'primary',
    dataToggle: 'modal',
    dataTarget: '#exampleModal',
  } %}
</div>

{% include '@bf-components/modal/twig/index.twig' with {
  id: 'exampleModal',
} %}

<div class='bf-color-bg-ground reversed'>
  <div class='p-8'>
    {% include '@bf-components/button/twig/index.twig' with {
      label: 'Launch modal',
      hierarchy: 'primary',
      dataToggle: 'modal',
      dataTarget: '#exampleModal1'
    } %}
  </div>

  {% include '@bf-components/modal/twig/index.twig' with {
    modalId: 'exampleModal1'
  } %}
</div>