{# Default Variables (Props, Controls) #}
{% set _reversed = _reversed|json_parse %}
{% set angle = angle|json_parse %}
{% set class = class|json_parse %}
{% set customBgColor = customBgColor|json_parse %}
{% set customFontColor = customFontColor|json_parse %}
{% set fontSize = fontSize|json_parse %}
{% set hierarchy = hierarchy|json_parse %}
{% set iconName = iconName|json_parse %}
{% set isRounded = isRounded|json_parse %}
{% set label = label|json_parse %}
{% set noUppercase = noUppercase|json_parse %}

{# Arrays of Classes With Dynamic Elements #}
{% set mainContainerClasses = [
  "d-flex flex-column justify-content-center",
  (_reversed ? "reversed bf-color-bg-ground"),
  (_disabled ? "disabled"),
] %}

{# Template #}
<div class="{{ mainContainerClasses|join(' ')|trim }}">
  {% for index in [1, 2] %}

    {# In Loop : Boolean Variables #}
    {% set isReversed = index == 2 and _reversed is not defined %}

    {# In Loop : Arrays of Classes With Dynamic Elements #}
    {% set innerContainerClasses = [
      "d-flex flex-column flex-sm-row justify-content-center gap-4 p-4",
      (isReversed ? "reversed bf-color-bg-ground"),
    ] %}

    <div class="{{ innerContainerClasses|join(' ')|trim }}">
      <div class="d-flex flex-column align-items-start py-2">
        <p class="small">hierarchy</p>

        {% include "@bf-components/badge/twig/index.twig" with {
          angle: angle,
          class: class,
          customBgColor: customBgColor,
          customFontColor: customFontColor,
          fontSize: fontSize|default("small"),
          hierarchy: hierarchy|default("primary"),
          iconName: iconName,
          isRounded: isRounded,
          label: label|default("primary"),
          noUppercase: noUppercase,
        } only %}

        {% include "@bf-components/badge/twig/index.twig" with {
          angle: angle,
          class: class,
          customBgColor: customBgColor,
          customFontColor: customFontColor,
          fontSize: fontSize|default("small"),
          hierarchy: hierarchy|default("secondary"),
          iconName: iconName,
          isRounded: isRounded,
          label: label|default("secondary"),
          noUppercase: noUppercase,
        } only %}

        {% include "@bf-components/badge/twig/index.twig" with {
          angle: angle,
          class: class,
          customBgColor: customBgColor,
          customFontColor: customFontColor,
          fontSize: fontSize|default("small"),
          hierarchy: hierarchy|default("tertiary"),
          iconName: iconName,
          isRounded: isRounded,
          label: label|default("tertiary"),
          noUppercase: noUppercase,
        } only %}

        {% include "@bf-components/badge/twig/index.twig" with {
          angle: angle,
          class: class,
          customBgColor: customBgColor,
          customFontColor: customFontColor,
          fontSize: fontSize|default("small"),
          hierarchy: hierarchy|default("tertiary-ground"),
          iconName: iconName,
          isRounded: isRounded,
          label: label|default("tertiary-ground"),
          noUppercase: noUppercase,
        } only %}
      </div>

      <div class="d-flex flex-column align-items-start py-2">
        <p class="small">iconName</p>

        {% include "@bf-components/badge/twig/index.twig" with {
          angle: angle,
          class: class,
          customBgColor: customBgColor,
          customFontColor: customFontColor,
          fontSize: fontSize|default("small"),
          hierarchy: hierarchy|default("primary"),
          iconName: iconName|default("camera"),
          isRounded: isRounded,
          label: label|default("primary"),
          noUppercase: noUppercase,
        } only %}

        {% include "@bf-components/badge/twig/index.twig" with {
          angle: angle,
          class: class,
          customBgColor: customBgColor,
          customFontColor: customFontColor,
          fontSize: fontSize|default("small"),
          hierarchy: hierarchy|default("secondary"),
          iconName: iconName|default("camera"),
          isRounded: isRounded,
          label: label|default("secondary"),
          noUppercase: noUppercase,
        } only %}

        {% include "@bf-components/badge/twig/index.twig" with {
          angle: angle,
          class: class,
          customBgColor: customBgColor,
          customFontColor: customFontColor,
          fontSize: fontSize|default("small"),
          hierarchy: hierarchy|default("tertiary"),
          iconName: iconName|default("camera"),
          isRounded: isRounded,
          label: label|default("tertiary"),
          noUppercase: noUppercase,
        } only %}

        {% include "@bf-components/badge/twig/index.twig" with {
          angle: angle,
          class: class,
          customBgColor: customBgColor,
          customFontColor: customFontColor,
          fontSize: fontSize|default("small"),
          hierarchy: hierarchy|default("tertiary-ground"),
          iconName: iconName|default("camera"),
          isRounded: isRounded,
          label: label|default("tertiary-ground"),
          noUppercase: noUppercase,
        } only %}
      </div>

      <div class="d-flex flex-column align-items-start py-2">
        <p class="small">angle</p>

        {% include "@bf-components/badge/twig/index.twig" with {
          angle: angle|default("left"),
          class: class,
          customBgColor: customBgColor,
          customFontColor: customFontColor,
          fontSize: fontSize|default("small"),
          hierarchy: hierarchy,
          iconName: iconName,
          isRounded: isRounded,
          label: label|default("Angle left"),
          noUppercase: noUppercase,
        } only %}

        {% include "@bf-components/badge/twig/index.twig" with {
          angle: angle|default("right"),
          class: class,
          customBgColor: customBgColor,
          customFontColor: customFontColor,
          fontSize: fontSize|default("small"),
          hierarchy: hierarchy,
          iconName: iconName,
          isRounded: isRounded,
          label: label|default("Angle right"),
          noUppercase: noUppercase,
        } only %}

        {% include "@bf-components/badge/twig/index.twig" with {
          angle: angle|default("left"),
          class: class,
          customBgColor: customBgColor,
          customFontColor: customFontColor,
          fontSize: fontSize|default("small"),
          hierarchy: hierarchy,
          iconName: iconName|default("camera"),
          isRounded: isRounded,
          label: label|default("Angle left"),
          noUppercase: noUppercase,
        } only %}

        {% include "@bf-components/badge/twig/index.twig" with {
          angle: angle|default("right"),
          class: class,
          customBgColor: customBgColor,
          customFontColor: customFontColor,
          fontSize: fontSize|default("small"),
          hierarchy: hierarchy,
          iconName: iconName|default("camera"),
          isRounded: isRounded,
          label: label|default("Angle right"),
          noUppercase: noUppercase,
        } only %}
      </div>

      <div class="d-flex flex-column align-items-start py-2">
        <p class="small">noUppercase & isRounded</p>

        {% include "@bf-components/badge/twig/index.twig" with {
          angle: angle,
          class: class,
          customBgColor: customBgColor,
          customFontColor: customFontColor,
          fontSize: fontSize|default("small"),
          hierarchy: hierarchy,
          iconName: iconName,
          isRounded: isRounded,
          label: label|default("noUppercase"),
          noUppercase: noUppercase|default(true),
        } only %}

        {% include "@bf-components/badge/twig/index.twig" with {
          angle: angle,
          class: class,
          customBgColor: customBgColor,
          customFontColor: customFontColor,
          fontSize: fontSize|default("small"),
          hierarchy: hierarchy,
          iconName: iconName,
          isRounded: isRounded|default(true),
          label: label|default("isRounded"),
          noUppercase: noUppercase|default(true),
        } only %}

        {% include "@bf-components/badge/twig/index.twig" with {
          angle: angle,
          class: class,
          customBgColor: customBgColor,
          customFontColor: customFontColor,
          fontSize: fontSize|default("small"),
          hierarchy: hierarchy,
          iconName: iconName|default("camera"),
          isRounded: isRounded,
          label: label|default("noUppercase"),
          noUppercase: noUppercase|default(true),
        } only %}

        {% include "@bf-components/badge/twig/index.twig" with {
          angle: angle,
          class: class,
          customBgColor: customBgColor,
          customFontColor: customFontColor,
          fontSize: fontSize|default("small"),
          hierarchy: hierarchy,
          iconName: iconName|default("camera"),
          isRounded: isRounded|default(true),
          label: label|default("isRounded"),
          noUppercase: noUppercase|default(true),
        } only %}
      </div>
    </div>
  {% endfor %}
</div>
