{% set reversed     = reversed|json_parse %}
{% set noUppercase  = noUppercase|json_parse %}
{% set isRounded    = isRounded|json_parse %}
{% set label        = label|json_parse %}

<div class='container-fluid {% if reversed %}reversed bf-color-bg-ground{% endif %} {{ _disabled ? 'disabled' : '' }}'>
  {% for index in [1,2] %}
    <div class='d-flex flex-column flex-md-row justify-content-center gap-4 p-4 {% if index == 2 and reversed is not defined %}reversed bf-color-bg-ground{% endif %}'>
      <div class='py-2'>
        <p class='small'>hierarchy</p>

        {% include '@bf-components/badge/twig/index.twig' with {
          label     : label|default('primary'),
          hierarchy : hierarchy|default('primary')
        } %}

        {% include '@bf-components/badge/twig/index.twig' with {
          label     : label|default('secondary'),
          hierarchy : hierarchy|default('secondary')
        } %}

        {% include '@bf-components/badge/twig/index.twig' with {
          label     : label|default('tertiary'),
          hierarchy : hierarchy|default('tertiary'),
        } %}

        {% include '@bf-components/badge/twig/index.twig' with {
          label     : label|default('tertiary-ground'),
          hierarchy : hierarchy|default('tertiary-ground')
        } %}
      </div>

      <div class='py-2'>
        <p class='small'>IconName</p>

        {% include '@bf-components/badge/twig/index.twig' with {
          label     : label|default('primary'),
          hierarchy : hierarchy|default('primary'),
          iconName  : iconName|default('camera')
        } %}

        {% include '@bf-components/badge/twig/index.twig' with {
          label     : label|default('secondary'),
          hierarchy : hierarchy|default('secondary'),
          iconName  : iconName|default('camera')
        } %}

        {% include '@bf-components/badge/twig/index.twig' with {
          label     : label|default('tertiary'),
          hierarchy : hierarchy|default('tertiary'),
          iconName  : iconName|default('camera')
        } %}

        {% include '@bf-components/badge/twig/index.twig' with {
          label     : label|default('tertiary-ground'),
          hierarchy : hierarchy|default('tertiary-ground'),
          iconName  : iconName|default('camera')
        } %}
      </div>

      <div class='py-2'>
        <p class='small'>angle</p>

        {% include '@bf-components/badge/twig/index.twig' with {
          label     : label|default('Angle left'),
          angle     : angle|default('left'),
        } %}

        {% include '@bf-components/badge/twig/index.twig' with {
          label     : label|default('Angle right'),
          angle     : angle|default('right')
        } %}

        {% include '@bf-components/badge/twig/index.twig' with {
          label     : label|default('Angle left'),
          angle     : angle|default('left'),
          iconName  : iconName|default('camera')
        } %}

        {% include '@bf-components/badge/twig/index.twig' with {
          label     : label|default('Angle right'),
          angle     : angle|default('right'),
          iconName  : iconName|default('camera')
        } %}
      </div>

      <div class='py-2'>
        <p class='small'>noUppercase & isRounded</p>

        {% include '@bf-components/badge/twig/index.twig' with {
          label       : label|default('noUppercase'),
          noUppercase : true
        } %}

        {% include '@bf-components/badge/twig/index.twig' with {
          label       : label|default('isRounded'),
          noUppercase : true,
          isRounded   : true
         } %}

        {% include '@bf-components/badge/twig/index.twig' with {
          label       : label|default('noUppercase'),
          iconName    : iconName|default('camera'),
          noUppercase : true,
        } %}

        {% include '@bf-components/badge/twig/index.twig' with {
          label       : label|default('isRounded'),
          iconName    : iconName|default('camera'),
          noUppercase : true,
          isRounded   : true
        } %}
      </div>

      <div class='py-2'>
        <p class='small'>promotion variant</p>

        {% include '@bf-components/badge/twig/index.twig' with {
          variant   : 'promotion',
          label     : label|default('promotion'),
        } %}

        {% include '@bf-components/badge/twig/index.twig' with {
          variant   : 'promotion',
          label     : label|default('promotion'),
          iconName  : iconName|default('camera'),
        } %}

        {% include '@bf-components/badge/twig/index.twig' with {
          variant   : 'promotion',
          label     : label|default('Lorem ipsum dolor sit amet, consectetur adipiscing elit.'),
        } %}

        {% include '@bf-components/badge/twig/index.twig' with {
          variant   : 'promotion',
          label     : label|default('Lorem ipsum dolor sit amet, consectetur adipiscing.'),
          iconName  : iconName|default('camera'),
        } %}
      </div>

    </div>
  {% endfor %}
</div>
