{% set buttonHierarchy = highlight is defined and highlight
  ? "primary"
  : "tertiary"
%}
{% set buttonClass = isFeatured is defined
  and (isFeatured is same as(true) or isFeatured is same as("true"))
  ? "bf-button-nav__featured "
%}

{% set class = "bf-button-nav p-2 " ~ buttonClass
  ~ (highlight|default(false) ? " highlight")
  ~ " "
  ~ (class|default(""))
%}
{% set content = description|default(null)
  ? '<span class="bf-text small">' ~ description ~ "</span>"
%}
{% include "@bf-components/button/twig/index.twig" with {
  hierarchy: buttonHierarchy,
  iconName: iconName|default("placeholder"),
  iconSize: "large",
  class: class,
  content: content
} %}
