{# Boolean Variables #}
{% set hasDescription = description is defined and description is not empty %}
{% set hasHighlight = highlight|default(false) is same as(true) %}
{% set isFeatured = isFeatured|default(false) is same as(true) or isFeatured|default(false) is same as("true") %}


{# Default Variables (Props, Controls) #}
{% set class = class|default("") %}
{% set iconName = iconName|default("placeholder") %}

{# Arrays of Classes With Dynamic Elements #}
{% set buttonNavClasses = [
  "bf-button-nav p-2",
  (isFeatured ? "bf-button-nav__featured"),
  (hasHighlight ? "highlight"),
  (class),
] %}

{# Template #}
{% include "@bf-components/button/twig/index.twig" with {
  hierarchy: (hasHighlight ? "primary" : "tertiary"),
  iconName: iconName,
  iconSize: "large",
  class: buttonNavClasses|join(' ')|trim,
  content: (hasDescription ? '<span class="bf-text small">' ~ description ~ "</span>")
} %}
