{% set isChecked = isChecked|json_parse %}
{% set isRequired = isRequired|json_parse %}
{% set isInvalid = isInvalid|json_parse %}
{% set isDisabled = isDisabled|json_parse %}

<div
  class="container-fluid mt-6 px-2 d-flex flex-row flex-wrap {{ _background }}"
>
  <div class="p-3">
    {% include "@bf-components/input-checkbox-option/twig/index.twig" with {
      id: (id|default(inputId)) ~ 1
    } %}
  </div>
  <div class="p-3">
    {% include "@bf-components/input-checkbox-option/twig/index.twig" with {
      id: (id|default(inputId)) ~ 2,
      isChecked: isChecked|default(true)
    } %}
  </div>
  <div class="p-3">
    {% include "@bf-components/input-checkbox-option/twig/index.twig" with {
      id: (id|default(inputId)) ~ 3,
      isDisabled: isDisabled|default(true),
      isChecked: isChecked|default(true)
    } %}
  </div>
  <div class="p-3">
    {% include "@bf-components/input-checkbox-option/twig/index.twig" with {
      id: (id|default(inputId)) ~ 4,
      isDisabled: isDisabled|default(true)
    } %}
  </div>
  <div class="p-3">
    {% include "@bf-components/input-checkbox-option/twig/index.twig" with {
      id: (id|default(inputId)) ~ 5,
      isInvalid: isInvalid|default(true)
    } %}
  </div>
  <div class="p-3">
    {% include "@bf-components/input-checkbox-option/twig/index.twig" with {
      id: (id|default(inputId)) ~ 6,
      isChecked: isChecked|default(true),
      isInvalid: isInvalid|default(true)
    } %}
  </div>
</div>
