<p class='px-4 pt-4'>
    <b>Note: </b>
    There is no Carousel Drupal component in Bifrost.
    Please use <a class='bf-link' target='_blank' href='https://kenwheeler.github.io/slick/'>Slick carousel</a>.
</p>

{% set card = {
    badgeColor      : 'dark',
    image           : {
        src             : '/images/_docs/abstract-background.png',
        alt             : 'iPhone 12 Mini',
        badgeIconName   : 'security'
    },
    title           : 'iPhone 12 Mini',
    detailsColors   : [
        { value :'4B4A46', name : 'Lorem' },
        { value :'2C4651', name : 'Ipsum' },
        { value :'D4BBA5', name : 'Dolor' },
        { value :'C0C0C0', name : 'Amet' },
    ],
    detailsStorage : ['128 Go', '256 Go'],
    price           : {
        upperTitle      : 'From',
        dollar          : '86',
        cent            : '99',
        details         : '/month',
        boxAlignement   : 'left',
        dashed          : '$150.00',
        saved           : '$30.00',
        savedLabel      : 'You save:',
    },
    note                : 'Plan + Phone: from $150/month (24 months)<br/>No upfront payment',
    buttons           : [
        {
            label       : 'Configurate',
            hierarchy   : 'primary-alt',
            href        : 'www.videotron.com',
        }
    ],
} %}

<div class='container py-5'>
    <div class='bf-carousel js-bf-carousel-demo {{ class|default('') }}'>
        {% include '@bf-components/card/twig/phone.twig' with card only %}
        {% include '@bf-components/card/twig/phone.twig' with card only %}
        {% include '@bf-components/card/twig/phone.twig' with card only %}
        {% include '@bf-components/card/twig/phone.twig' with card only %}
        {% include '@bf-components/card/twig/phone.twig' with card only %}
        {% include '@bf-components/card/twig/phone.twig' with card only %}
        {% include '@bf-components/card/twig/phone.twig' with card only %}
        {% include '@bf-components/card/twig/phone.twig' with card only %}
    </div>
</div>


{# ------------------------------------------------------------------------------------------------------------------ #}

<h2 class='px-4 py-4'>
    Demo of the previous solution from Pattern Lab:
</h2>

{% if items is not defined %}
    {% set items = [
        {imgSrc:"https://source.unsplash.com/800x400?nature&auto=yes&bg=777&fg=555", imgAlt:"Here is my title"},
        {imgSrc:"https://source.unsplash.com/800x400?nature&auto=yes&bg=777&fg=555", imgAlt:"Here is my title"},
        {imgSrc:"https://source.unsplash.com/800x400?nature&auto=yes&bg=777&fg=555", imgAlt:"Here is my title"}
    ] %}
{% endif %}

<div id="{{ carouselId|default('') }}" class="js-slick-carousel--img-gallery carousel-img-gallery">
    {% for item in items %}
        <img class="img-fluid" alt="{{ item.alt }}" src="{{ item.imgSrc }}">
    {% endfor %}
</div>
