<div class="card {{ bgColorClass|default('bg--none') }} {{ class|default('') }}" data-animate="">
    <div class="card-body card-body--condensed">
        <div class="d-flex align-items-center justify-content-center">
            {% include '@atoms/06-icons/icon-svg-tpc.twig' with { iconClass:"mr-4 d-none d-md-block" } only %}
            <p class="mb-0">{{ text|default('Residential phone is also available, just ask our customer center about this service.') }}</p>
        </div>
    </div>
</div>