<div class="card bg--none {{ class|default('') }}">
    <div class="card-body card-body--condensed">
        <div class="d-flex align-items-center">
            {% include '@atoms/06-icons/icon-svg-handshake.twig' with { iconClass:"mr-4 d-none d-md-block" } only %}
            <p class="mb-0">Nouveau client : Obtenez toujours les mêmes prix en ligne, par téléphone ou en succursale.</p>
        </div>
    </div>
</div>