{% embed '@molecules/03-card/card-block-content--link-beside.twig' with {
    class: class|default('') ~ " bg--none"
} only %}
    {% block block_content %}
        <p class="h3 font-weight-normal vui--font-secondary" >Need and warranty extension ?</p>
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris facilisis quam magna, ac finibus urna pellentesque.</p>
    {% endblock %}

    {% block block_content_link %}
        {% include '@atoms/04-links/01-link-button.twig' with {
            label:"Add warranty",
            href:"/patterns/04-Pages-02-my-account-(etiya)-0344-equipments-warranty/04-Pages-02-my-account-(etiya)-0344-equipments-warranty.html",
            class:"w-100--mobile-only"
        } %}
    {% endblock %}
{% endembed %}