<!-- frequent-links.twig -->
<div class="mb-{{ bottomMargin|default(7) }}" >
    <h2 class="mb-4" data-animate>Frequent Links</h2>
    <div class="row" data-animate-row>
        <div class="col-md-4 col-lg-3 mb-1 mb-md-0" data-animate>
            {% include '@molecules/04-card-links/link-card.twig' with { label:"Communication Preferences", href:"#", class:"h-100" } %}
        </div>
        <div class="col-md-4 col-lg-3 mb-1 mb-md-0" data-animate>
            {% include '@molecules/04-card-links/link-card.twig' with { label:"Bill & Payment Settings", href:"#", class:"h-100" } %}
        </div>
        <div class="col-md-4 col-lg-3 mb-1 mb-md-0" data-animate>
            {% include '@molecules/04-card-links/link-card.twig' with { label:"Account Details", href:"#", class:"h-100" } %}
        </div>
        <div class="d-md-none d-lg-block col-lg-3 mb-1 mb-md-0" data-animate>
            {% include '@molecules/04-card-links/link-card.twig' with { label:"Help and Support", href:"#", class:"h-100" } %}
        </div>
    </div>
</div>
