<div class="{{ background|default('bg-gray--100') }} p-4 d-flex align-items-center">
    <div class="mr-4">
        {% include '@atoms/06-icons/icon-svg-lightbulb.twig' %}
    </div>
    <div>
        <p class="font-weight-bold mb-0">{{ title|default('Bon à savoir') }}</p>
        {% block content %}
            <p class="font-weight-light mb-0">{{ text|default("Vous pouvez également visionner vos enregistrements sur vos appareils mobiles à l'aide de l'application Helix.") }}</p>
        {% endblock %}
    </div>
</div>
