{% if mosaicPosition != 'left' %}
  {% set offset = 'offset-4' %}
{% endif %}

{% if count == 1 %}
  {% set translate = 'mosaic-translate--single' %}
{% elseif count == 4 %}
  {% set translate = 'mosaic-translate--full' %}
{% endif %}

{% block image %}
  <img class="card-img-top img-fluid"
       data-src="{{ imgSrc|default('https://source.unsplash.com/600x400/?nature') }}"
       alt="{{ imgAlt|default('Thumbnail [100%x225]') }}"
       src="{{ imgSrc|default('https://source.unsplash.com/600x400/?nature') }}"
       data-holder-rendered="true">
{% endblock %}
<div class="row no-gutters">
  <div class="mosaic-container col-8 {{ offset|default('') }}">
    {% include '@organisms/04-content/mosaic.twig' with {
      mosaicClass: translate|default('mosaic-translate'),
    } %}
  </div>
</div>
