<div class="shop-banner d-flex flex-column align-items-center justify-content-center py-5" style="background-image: url('{{ backgroundImage|default('/images/assets/shop-banner-demo.png') }}');">
    <h4 class="mb-2 vui--text-highlight color--white">{{ title|default('Shop Helix') }}</h4>
    {% include '@atoms/04-links/00-link.twig' with {
        label: linkLabel|default('View our latest offers'),
        class: "fs-6 vui--font-secondary color--primary border-bottom--vui-yellow link--no-decoration"
    } %}
</div>
