<!-- sticky-offer-block.twig -->
<div class="vui--style-black p-0 border-bottom-gray--800 z-index-5 py-4">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 col-lg-8 mt-2 mt-md-0 pb-3 pb-md-0">
                <p class="h3 align-middle color--vui-yellow mb-0 py-md-2 my-md-3">{{ tagLine|default("Get Early Access") }} <span class="color--light d-block pt-2"> {{ tagLineService|default("Internet 60 + Internet All Included") }}</span></p>
            </div>

            <div class="col-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-md-center">
                <div class="row w-100">
                    <div class="col-7 col-md-8 col-lg-6 d-flex justify-content-md-center">
                      {% include '@atoms/07-payment/price-box--simplified.twig' with {
                          pricePaymentPlan:'',
                          pricePaymentPlanClass:'mb-0',
                          priceCent:'46',
                          dollarSize:'3',
                          priceDollarSize:'12',
                          priceCentSize:'6',
                      } %}
                    </div>
                    <div class="col-5 col-md-4 col-lg-6 d-flex align-items-center justify-content-center">
                        {% include '@atoms/04-links/00-link.twig' with {
                            class: "link--no-decoration btn btn-primary btn-lg btn-small text-dark"
                        } %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
