<nav class="js-backdrop-on-collapse navbar--channel-swap-sticky js-is-sticky js-position-sticky-bottom vui-anim--slide-from-bottom {{ class|default('') }}">
    {% block sticky_bottom_content %}{% endblock %}
</nav>