<svg aria-labelledby="svgTitleHelixApp" class="{{ iconColor|default('svg-fill--dark') }} svg-size--{{ iconSize|default('3') }} {{ iconClass|default('') }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.3 19.3">
  <title id="svgTitleHelixApp">Logo de l'application Helix</title>
  <path fill="none" class="_svg-stroke" stroke-width=".348" stroke-linecap="round" stroke-linejoin="round"
        d="M3.8.2h11.8c2 0 3.6 1.6 3.6 3.6v11.8c0 2-1.6 3.6-3.6 3.6H3.8c-2 0-3.6-1.6-3.6-3.6V3.8C.2 1.8 1.8.2 3.8.2z"/>
  <g>
    <path fill="none" class="_svg-stroke" stroke-width=".348" stroke-linecap="round" stroke-linejoin="round" d="M5.6 5.6l2.4 4-2.4 4 4-4-4-4z"/>
    <path fill="none" class="_svg-stroke" stroke-width=".348" stroke-linecap="round" stroke-linejoin="round" d="M13.6 5.6l-4 4 4 4-2.4-4 2.4-4z"/>
  </g>
</svg>