{% set topLink                      = topLink|json_parse|default({}) %}
{% set contentLists                 = contentLists|json_parse|default([]) %}
{% set totalPrice                   = totalPrice|json_parse|default({}) %}
{% set isCollapsableOnMobile        = isCollapsableOnMobile|json_parse %}
{% set isCollapsedByDefaultOnMobile = isCollapsedByDefaultOnMobile|json_parse %}
{% set reversed                     = reversed|json_parse %}

<div class='px-7 d-flex align-items-center justify-content-center minh-100 {% if reversed %}reversed bf-color-bg-ground{% endif %}'>
    {% include '@bf-components/block-selection/twig/index.twig' %}
</div>