{% set  colors = [
    { value :'#CC3341', name : 'Red',  },
    { value :'#232A31', name : 'Midnight' },
    { value :'#276787', name : 'Blue' },
    { value :'#FADDD7', name : 'Pink' },
] %}
{% set reversed         = reversed|json_parse %}
{% set isDisabled         = isDisabled|json_parse %}

<div class="selection-tile-example">
  {% for color in colors %}
    {% include '@bf-components/selection-tile/twig/index.twig' with {
      inputId     : (inputId ~ loop.index)|default(color.name),
      type        : 'radio',
      content     : '<div class="color-container">
                      <div class="bf-selection-tile__color"  style="background-color:' ~ color.value  ~ '"></div>
                      <p class="small m-0 mt-3 text-break">
                        <strong>' ~ color.name ~'</strong></p>
                     </div>',
      ariaLabel   : color.name,
      name        : 'color',
      orientation : 'vertical'
    } %}
  {% endfor %}
</div>

<style>
  .color-container {
    display: block;
    margin: auto;
    text-align: center;
    z-index: 1;
  }
  .selection-tile-example {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 2rem;
  }
  .bf-selection-tile__color {
    display: block;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin: auto;
  }
</style>