{% set reversed     = reversed|json_parse %}
{% set isDisabled   = isDisabled|json_parse %}
{% set isSelected   = isSelected|json_parse %}
{% set image        = image|json_parse %}
{% set isInvalid    = isInvalid|json_parse %}
{% set visualType    = visualType|json_parse %}


<div class='container {{orientation}} '>
    {% for index in [1,2] %}
    <div class=" p-3 {{ (index == 2 ) ? 'bf-color-bg-underground' }} {{ (reversed) ? 'reversed  bf-color-bg-ground' }}">
      <div class="d-flex {{orientation}}">
        
        {% include '@bf-components/selection-tile/twig/index.twig'  with {
          inputId     : 'my-selection-tile1' ~ loop.index,
          ariaLabel   : 'my selection tile 1' ~ loop.index,
          title       : NULL,
          description : NULL,
          isSelected  : isSelected|default(true),
          visualType  : visualType|default('image'),
          image       : NULL,
        }  %}


        {% include '@bf-components/selection-tile/twig/index.twig' with {
          inputId     : 'my-selection-tile3' ~ loop.index,
          ariaLabel   : 'my selection tile 3' ~ loop.index,
          description : NULL,
          visualType  : visualType|default('icon'),
        }  %}
                
        {% include '@bf-components/selection-tile/twig/index.twig' with {
          inputId     : 'my-selection-tile2' ~ loop.index,
          ariaLabel   : 'my selection tile 2' ~ loop.index,
          description : NULL,
          visualType  : visualType|default('image'),
          info        : info|default('XX.xx $ / Mois'),
        }  %}

        {% include '@bf-components/selection-tile/twig/index.twig' with {
          inputId     : 'my-selection-tile4' ~ loop.index,
          ariaLabel   : 'my selection tile 4' ~ loop.index,
          visualType  : visualType|default('icon'),
          info        : info|default('XX.xx $ / Mois'),
          isDisabled  : isDisabled|default(true),
        } %}
    
      </div>
    </div>

    {% endfor %}
  </div>

<style>
  /*for demo only*/
  .d-flex.vertical{ flex-flow :row}
  .d-flex.horizontal{ flex-flow :column}
  .container.horizontal{width: 600px}
</style>