
<div class="card-body px-md-6">
    <h4 class="mb-3 text-uppercase">Step 2 of 3</h4>

    <div class="mb-6">
        <h3>Credientials & Authentifications</h3>
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid dolor dolorem eligendi.</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            {% include '@atoms/03-form/input-with-label.twig' with {
                label:"Helix ID (email address)",
                labelTooltipTxt:"Here is a tooltip",
                inputId:"_accountcreation_helixID",
                inputPlaceholder:"",
            } %}
        </div>
    </div>

    <!-- password -------------------------------- -->
    <div class="row">
        <div class="col-md-6">
            {% include '@atoms/03-form/input-password-creation.twig' with {
                label:"Password",
                subInfos:"",
                inputId:"_accountcreation_password"
            } %}
        </div>
        <div class="col-md-6">
            {% include '@atoms/03-form/input-password-creation.twig' with {
                label:"Confirm Password",
                inputId:"_accountcreation_passwordconfirm"
            } %}
        </div>
    </div>

    <!-- Birthday -------------------------------- -->
    <div class="row">
        <div class="col-md-6">
            {% include '@atoms/03-form/input-with-label.twig' with {
                label:"Secret question",
                inputId:"_accountcreation_secretQuestion",
                subInfos:"This will be used by the call center to identify you on the phone",
                class:""
            } %}
        </div>
    </div>
</div>


