<!-- card--icon-center-text-below.twig -->
<div class="card card--icon border-rounded--lg {{ class|default('') }}">
    <div class="card-body align-items-center d-flex justify-content-center flex-column pt-7 pb-7">
        {% include '@atoms/06-icons/icon-svg-helix.twig' with { iconSize:7 } only %}
        <p class="{{ textClass|default() }} mt-4 mb-2">{{ text|default('Lorem ipsum dolor sitamet consecteur adipiscing.') }}</p>
    </div>
</div>