<div class="card card-rounded {{ class|default('') }}">
    <div class="card-body">
        <h3 class="mb-4 font-weight-normal">{{ cardTitle|default('Activate your user account') }}</h3>
        <h5 class="mb-4 font-weight-light">{{ cardTxt|default('Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque dolorum esse inventore iure laborum.')|raw }}</h5>

        {% block card_content %}{% endblock %}
    </div>
</div>