<!-- card-rounded--icon-text-link.twig -->
<div class="card text-center card-rounded bg-{{ bgColor|default('gray--100') }}  {{ class|default('') }}">
    <div class="card-body">
        {% include '@atoms/06-icons/icon-svg-helix.twig' with { iconSize:6, iconClass:"mb-3" } only %}
        <p class="vui--font-secondary mb-4">{{ iconSubTxt|default('Mobile and phone') }}</p>

        <h3 class="mb-4">{{ text|default('Every other services are available inside a different Customer Center !') }}</h3>

        {% include '@atoms/04-links/link-underline-with-icon--external-link.twig' with { label:"See my others services", class:"mb-4"} %}
    </div>
</div>
