<div class="card h-100 {{ cardClass|default('') }}">
    <div class="card-header h-100 pb-4">
        <h4 class="font-weight-medium">{{ headerTitle|default('Personal information') }}</h4>
        <p class="mb-1">{{ headerSubtitle|default('John Doe') }}</p>
    </div>
</div>