<div class="card--outer {{ class|default('') }}">
    <div class="card--outer__content {{ cardContentClass|default('') }}">
        {% block card_content %}
            {% include '@organisms/04-content/account-preview-listing.twig' %}
        {% endblock %}
    </div>
</div>
