<!-- card-block-content.twig -->
<div class="card {{ class|default('') }}">
    <div class="card-body bg-white">
        <div class="row align-items-center">
            {% block block_content %}
                <div class="col-12">
                    <p class="font-weight-bold mb-0">{{ title|default('Billing Address') }}</p>
                    <p class="mb-0">{{ txt|default('211, Saint-Catherine West, Montreal, QC H3E 9Je') }}</p>
                </div>
            {% endblock %}
        </div>
    </div>
</div>