<div class="d-flex align-items-end">
    {% include '@components/form/form-input-text.twig' with {
        class: inputSearchClass|default('') ~ " mb-0 ",
        label: label|default("Let's check if the services are available at client's address"),
        labelClass:"font-weight-normal",
        inputId:"videotronValidationNumber",
        inputClass:" mt-2",
        inputPlaceholder:"Postal code"
    } %}

    {% include '@components/button/button-primary.twig' with { buttonLabel:"Confirm", buttonType:"Submit", buttonSize:"md", buttonClass:"ml-2 mt-2 disabled" } %}
</div>

{% include '@atoms/04-link/link-underline.twig' with { label:"I can't find the address", class:"mt-3 d-inline-block", headingSize:6 } %}
