<div class="d-block d-md-flex mb-3 align-items-end">
    {% include '@components/form/form-input-text.twig' with { label:civicNumberLabel|default("Civic number"), inputId:"streetNr", class:"mb-0 mr-2", inputClass:'civic-postal', extraAttribute: 'maxlength=8' } %}
    {% include '@components/form/form-input-text.twig' with { label:postalCodeLabel|default("Postal code"), inputId:"postcode", class:"mb-0 mr-2", inputClass:'civic-postal' } %}
    {% include '@components/button/button-primary.twig' with { buttonLabel:confirmLabel|default("Confirm"), buttonType:"Submit", buttonSize:"md", buttonClass:"btn-loading confirm-button mt-2 disabled btn--condensed", extraAttribute:"disabled" } %}
</div>
