<div>
    <p class="h3 font-weight-light mb-5">Fill the address by filling the inputs below</p>

    <div class="row align-items-end mb-3">
        <div class="col-6 col-md-2">
            {% include '@components/form/form-input-text.twig' with {
                label:"Postal code",
                labelClass:"",
                inputId:"search_postalCode",
                inputClass:"mt-2",
                class: "mb-0",
            } %}
        </div>

        {#<div class="col-6 col-md-9 pl-md-1">#}
            {#{% include '@components/button/button-primary.twig' with { buttonLabel:"Check", buttonType:"Submit", buttonSize:"lg", buttonClass:"mt-2 disabled btn--condensed" } %}#}
        {#</div>#}
    </div>

    <div class="row mb-3">
        <div class="col-md-8">
            {% include '@components/form/form-input-text.twig' with {
                label:"Street name",
                inputId:"search_streetName",
                inputClass:"mt-2",
                class: "mb-0",
            } %}
        </div>
        <div class="col-md-4">
            {% include '@components/form/form-input-text.twig' with {
                label:"City",
                inputId:"search_city",
                inputClass:"mt-2",
                class: "mb-0",
            } %}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-md-4">
            <div class="row">
                <div class="col-7">
                    {% include '@components/form/form-input-text.twig' with {
                        label:"Civic number",
                        labelClass:"",
                        inputId:"search_civixNumber",
                        inputClass:"mt-2",
                        class: "mb-0",
                    } %}
                </div>
                <div class="col-5">
                    {% include '@components/form/form-input-text.twig' with {
                        label:"Suffix",
                        labelClass:"",
                        inputId:"search_suffix",
                        inputClass:"mt-2",
                        class: "mb-0",
                    } %}
                </div>
            </div>

        </div>
        <div class="col-12 col-md-8">
            {% include '@components/form/form-input-text.twig' with {
                label:"Apt, suite, building",
                labelClass:"",
                inputId:"search_streetName",
                inputClass:"mt-2",
                class: "mb-0",
            } %}
        </div>
    </div>
</div>
