<html class='loaded-end'>
    <head>
        
        {#  ---------------------------------------------------------------
            NOTE: Need to dynamically load styles and scripts
        #}

        <script>
            const link = document.createElement('link');
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = '/css/bifrost.css';
            document.getElementsByTagName('HEAD')[0].appendChild(link);
        </script>

        <script>
            {# const src = 'http://localhost:8080/js/uikit-marvel.js'; #}
            const src = '/js/core.js';
            const fileref = document.createElement('script');
            fileref.setAttribute('type', 'text/javascript');
            fileref.setAttribute('src', src);
            document.getElementsByTagName('head')[0].appendChild(fileref);
        </script>

        <script>
            const src2 = '/js/bifrost-components.js';
            const fileref2 = document.createElement('script');
            fileref2.setAttribute('type', 'text/javascript');
            fileref2.setAttribute('src', src2);
            document.getElementsByTagName('head')[0].appendChild(fileref2);
        </script>

        <style>
            {# [data-animate] {
                opacity: 1!important;
            } #}
            
            pre {
                background-color: transparent;
            }
        </style>

        {#  --------------------------------------------------------------- #}
    </head>
    <body>
        <main>

            {# For DEBUG puropose: #}
            {# {{ dump(_context) }} #}
            
                {% if _context.elementPath is defined %}
                    
                    {% set elementPath = _context.elementPath %}

                    <div class='videotron-ui d-flex h-100'>
                        <div class='h-100 w-100'>
                            {% include './' ~ elementPath ~ '.twig' with _context %}
                        </div>
                    </div>
                    
                {% else %}

                    <p>Please provide a <b>elementPath</b> properties in URL. </p>
                    <p>E.g. http://localhost:3001/api/twig?elementPath=components/button/twig/button</p>
                    <pre>{{ dump(_context) }}</pre>
                {% endif %}
            
        </main>
    </body>
</html>


