<div class="">

    {% include '@bf-components/price/twig/price.twig' with {
        priceDollar: priceDollar|default("152"),
        priceCent: priceCent|default("34"),
        priceInfosSupp: priceInfosSupp|default("Taxes incl."),
        priceBoxAlignement: "left",
        priceDashed: priceDashed|default("$200.00/month"),
        priceSaved: priceSaved|default("<strong>$20.00/month</strong> until January 1st 2020")
    } only %}

</div>