{% set options = options|json_parse %}
{% set isRequired = isRequired|json_parse %}
{% set isInvalid = isInvalid|json_parse %}
{% set isDisabled = isDisabled|json_parse %}
{% set isReadOnly = isReadOnly|json_parse %}
{% set labelButtonIcon = labelButtonIcon|json_parse %}
{% set isNative = isNative|json_parse %}
{% set reversed = reversed|json_parse %}


{% set variants = [
  {
    backgroundClass: backgroundClass|default(''),
    props: {}
  },
  {
    backgroundClass: backgroundClass|default('bf-color-bg-underground'),
    props: {}
  },
  {
    backgroundClass: backgroundClass|default('reversed bf-color-bg-ground'),
    props: {
      reversed: reversed|default(true)
    }
  },
  {
    backgroundClass: backgroundClass|default('reversed bf-color-bg-underground'),
    props: {
      reversed: reversed|default(true)
    }
  },
  {
    backgroundClass: backgroundClass|default('bf-color-bg-highlight'),
    props: {
      highlight: highlight|default(true)
    }
  }
] %}

<div class='d-flex flex-column' style='min-height: 100vh'>
  {% for variant in variants %}
    <div class='d-flex flex-column align-items-center {{ variant.backgroundClass }}'>
      {% set variantProps = variant.props|merge({ 'inputId': inputId ~ loop.index }) %}
      {% include '@bf-components/input-dropdown/twig/index.twig' with variantProps %}
    </div>
  {% endfor %}
</div>