<style>
    h1 {
        margin-bottom: 3rem;
    }
    .stack {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .override {
        background-color: green !important;
    }
</style>

<main role="main">
    <div class='stack'>
        <h1>Angular Showcase</h1>
        <bf-button styleClass='override' label='Button'></bf-button>
        <bf-accordion styleClass='override' label='Accordion'></bf-accordion>
    </div>
</main>

<router-outlet></router-outlet>