<style>
    h1 {
        margin-bottom: 3rem;
    }
    .stack {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .override {
        background-color: green !important;
    }
</style>

<main role="main">
    <div class='stack'>
        <h1>Angular Showcase</h1>
        <bf-icon size=2 color='svg-fill--dark'></bf-icon>
        <div class='d-flex'>
            <bf-button styleClass='m-2' color='primary' label='Primary'></bf-button>
            <bf-button styleClass='m-2' color='secondary' label='Secondary'></bf-button>
            <bf-button styleClass='m-2' color='tertiary' label='Tertiary'></bf-button>
            <bf-button styleClass='m-2' color='primary' label='Primary' disabled='disabled'></bf-button>
            <bf-button styleClass='m-2' color='secondary' label='Secondary' disabled='disabled'></bf-button>
            <bf-button styleClass='m-2' color='tertiary' label='Tertiary' disabled='disabled'></bf-button>
        </div>
        <div class='d-flex bg-dark'>
            <bf-button styleClass='m-2' color='primary' label='Primary' reversed='reversed'></bf-button>
            <bf-button styleClass='m-2' color='secondary' label='Secondary' reversed='reversed'></bf-button>
            <bf-button styleClass='m-2' color='tertiary' label='Tertiary' reversed='reversed'></bf-button>
            <bf-button styleClass='m-2' color='primary' label='Primary' reversed='reversed' disabled='disabled'></bf-button>
            <bf-button styleClass='m-2' color='secondary' label='Secondary' reversed='reversed' disabled='disabled'></bf-button>
            <bf-button styleClass='m-2' color='tertiary' label='Tertiary' reversed='reversed' disabled='disabled'></bf-button>
        </div>
        <!-- <bf-accordion styleClass='override' label='Accordion'></bf-accordion> -->
    </div>
</main>

<router-outlet></router-outlet>