<button class="bf-chip d-inline-flex align-items-center pl-2 pr-1 text-uppercase {{ class|default('') }}">
  <span class="bf-chip__label">{{ label|default('Internet') }}</span>
  <span class='bf-chip__close ml-2'>
      {% include '@bf-components/icon/twig/index.twig' with {
        name  : 'x',
        size  : 'xsmall',
      } only %}
  </span>
</button>