{# Import macros #}
{% import "@bf-utils/macros/twig/index.twig" as macros %}

{# Boolean Variables #}
{% set hasId = id is defined and id is not empty %}

{# Default Variables #}
{% set class = class|default("") %}

{# Arrays of Classes With Dynamic Elements #}
{% set filtersClasses = [
  "bf-filters",
  (class),
] %}

{# Selected filter extraction for chips component #}


{# Template #}
<div {{ macros.addAttributes({
  "class": filtersClasses|join(' ')|trim,
  "id": (hasId ? id),
}) }}>

  {# My Selection #}
  <div class="bf-filters__selection">

    {% include "@bf-components/chip/twig/index.twig" with {
      class: "js-bf-filters-chip-template d-none",
      deleteButton: "removeFilter()",
      deleteButtonAriaLabel: "On a click, it will remove this filter.",
      id: "%chip-id%",
      isDisabled: true,
      label: "%chip-label%",
    } only %}

  </div>

  {# Filters Accordions #}
  <div class="bf-filters__accordions">

  </div>

</div>
