{% set isClickable = isClickable|json_parse %}
{% set icon = icon|json_parse %}
{% set backgroundImage = backgroundImage|json_parse %}
{% set isDisabled = isDisabled|json_parse %}
{% set reversed = reversed|json_parse %}

<div class="template-container">
  {% for index in [1,2] %}
    <div class="flex-grow-1 d-flex align-items-center justify-content-center minh-100 p-4 {% if index == 2 and reversed is not defined %}reversed bf-color-bg-ground{% endif %}">
      {% include "@bf-components/tile-key/twig/index.twig" %}
    </div>
  {% endfor %}
</div>

<style>
  .template-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
  }
  @media (max-width: 768px) {
    .template-container {
      grid-template-columns: 1fr;
    }
  }
</style>
