{% extends "base-page.twig" %}

{% block page_main_container %}
    <section class="pb-7 pt-7">
        <div class="container-fluid">
            <div class="note text-right">
                Page created : 01/08/2019
                <br>Last Modified : 01/08/2019
                <br>Author : David Lagace, Martin Dube
            </div>

            <h1 class="border-bottom--dark border-width-4 pb-3 font-weight-bold mb-7">Introduction</h1>

            <p>Welcome to the Helix PatternLab. You will find here all the documentation you need to start developing atoms, molecules and organisms to start building blocks using Pattern Lab's magic.</p>

            <div class="mb-7 mt-7">
                <h2 class="border-bottom pb-3 font-weight-normal">Videotron User Interface (VUI)</h2>
                <p>The acronym « <strong>VUI</strong> » is new for this 2018 Pattern library.</p>
                <p>Whenever you come across this abbreviation while coding you'll know that it refers to the new Marvel UI project. It is expected to be implemented within other existing web apps used by other Videotron.com web services or departments.</p>
            </div>

            <div class="mb-7">
                <h2 class="border-bottom pb-3 font-weight-normal">Technologies</h2>

                <p>Listing of the different libraries, framework and tools used for the Helix PatternLab Project.</p>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><a href="http://talks.ui-patterns.com/videos/atomic-design-brad-frost" class="link" target="_blank">Atomic design</a></td>
                        <td><em>This is NOT a technology!</em> It as more to do with a convention to organize and structure the CSS evangelized by <a href="http://atomicdesign.bradfrost.com/" class="link" target="_blank">Brad Frost</a> that as the benefit of standardizing stylesheets files.</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Composer</td>
                        <td>Required by Pattern-Lab (mainly) to compile the Twig templates within the <kbd>/public</kbd> repo.</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>NodeJS</td>
                        <td>Manage <kbd>/npm_modules</kbd> dependencies and compiles front-end files.</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td><a href="https://www.keycdn.com/blog/oocss" class="link" target="_blank">OOCSS</a></td>
                        <td>« <strong><em>Object-Oriented Cascading Style Sheets</em></strong> » proposed by <a href="https://github.com/stubbornella" class="link" target="_blank">Nicole Sullivan</a> in 2008.</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td><a href="https://patternlab.io/" class="link" target="_blank">Pattern Lab</a></td>
                        <td>One of <a href="https://github.com/frctl/fractal" class="link" target="_blank">many style guide's solutions</a> available to generate a <strong>UI Pattern</strong> solution based on the <em>Atomic Design</em> philosophy.<br><strong>NOTE:</strong> Do NOT confuse « Atomic <em>DESIGN</em> » principal and « <a href="https://css-tricks.com/lets-define-exactly-atomic-css/" class="link" target="_blank">Atomic.<em>CSS</em></a> ». The later is an actual CSS architecture that as more to do with <strong>OOCSS</strong> then our <em>UI Pattern-Lab</em>.</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>PHP</td>
                        <td><strong><em>Pattern-Lab</em></strong> is available in two different forms; <strong>Node</strong> <em>vs</em> <strong>PHP</strong>.<br> We went with the PHP variant because subcontractors have experienced it for the <strong>FIZZ</strong> project.</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td><a href="https://twig.symfony.com/" class="link" target="_blank">Twig</a></td>
                        <td>Twig is a subset of Symphony used for MVC templating within Pattern-Lab. Allowing us to customize the labels and strings according to their contexts.<br>We used <a href="https://twig.symfony.com/doc/2.x/templates.html#variables" class="link" target="_blank">twig variables</a> in some Atoms and Molecules in order to list options that are common across different Atoms.</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td><a href="https://webpack.js.org/" class="link" target="_blank">Webpack</a></td>
                        <td>Compile SASS/SCSS and Javascript files and generate the « <kbd>*.map</kbd> » files to the <kbd>/public</kbd> repository.</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="">
                <div class="mb-4">
                    <h2 class="border-bottom pb-3 font-weight-normal">What is Pattern-Lab?</h2>
                    <p>Pattern-Lab is a Front-end design system framework designed to provide to developers a <strong>static UI prototype</strong>. This prototype is delivered as static HTML/CSS/Javascript library that matches approved mockups from the design team to apply as is within their application code.</p>

                    <p>Notes:</p>
                    <ol>
                        <li>We developed Videotron's Pattern-Lab solution using the PHP start-up solution. (same as Fizz)</li>
                    </ol>
                </div>

                <h3 class="font-weight-normal">What « Atomic » refers to within Pattern-Lab context?</h3>
                <p>Brad Frost, the father of Atomic Design principal, created this methodology as a Design System. It comes as a collection of reusable components, guided by clear standards, that can be assembled together to build any number of applications just like LEGO blocks.</p>

                <div class="border-left--vui-yellow border-width-4 pl-4 pt-2 pb-2 color-gray--800">
                    "We're not designing pages anymore. We're designing systems of components." (Brad Frost)
                </div>
            </div>
        </div>
    </section>

    <section class="bg-gray--100 pb-7 pt-7">
        <div class="container-fluid">
            <h1 class="pb-3 font-weight-bold">Lexicon</h1>

            <table class="table table-light">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Term</th>
                        <th scope="col">Definition</th>
                        <th scope="col">Solution</th>
                        <th scope="col">Owner</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>UX</th>
                        <td>Wireframes, Requirements</td>
                        <td>Axure</td>
                        <td>Videotron</td>
                    </tr>
                    <tr>
                        <th>UI</th>
                        <td>Style, Layouts</td>
                        <td>Adobe XD</td>
                        <td>Sidlee</td>
                    </tr>
                    <tr>
                        <th>Patterns</th>
                        <td>Source of truth</td>
                        <td><strong>Pattern Lab</strong> (PHP), <br>Bootstrap 4 (scss), <br>UI related scripts</td>
                        <td>Videotron</td>
                    </tr>
                    <tr>
                        <th>VUI</th>
                        <td>Videotron user interface</td>
                        <td>-</td>
                        <td>Videotron</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="pb-7 pt-7">
        <div class="container-fluid">
            <h1 class="border-bottom--dark border-width-4 pb-3 font-weight-bold mb-7">Need a new pattern?</h1>

            <div class="mb-4">
                <h2 class="border-bottom pb-3 font-weight-normal">Before coding</h2>

                <ol class="mb-3">
                    <li>Analyze the mockup you have to do.</li>
                    <li>Navigate through the existing patterns to look for similar ones:
                        <ol>
                            <li>First in Templates</li>
                            <li>Then in Organisms</li>
                        </ol>
                    </li>
                </ol>

                <p><strong>If you need to</strong>, you will first create a new Organism. Once done you will apply it in (an existing OR a new) Template.</p>
            </div>

            <div class="mb-4">
                <h2 class="border-bottom pb-3 font-weight-normal">Twig file nomenclature</h2>
                <p>Pattern-Lab requires to follow a certain convention in order to display your file within the top navbar of the site.</p>
                <p><strong>Attention</strong>: atoms, molecules and organisms (within commun or Helix microsites) cannot be moved after merged in master. Drupal include/embed these files with hardcoded path. Drupal will break with invalid path.</p>
            </div>

            <div class="mb-4">
                <h2 class="border-bottom pb-3 font-weight-normal">How to code new patterns</h2>
                <ol class="mb-4">
                    <li>Create a new Twig file for your new Organism.</li>
                    <li>Name your file using the required nomenclature (see above).</li>
                    <li>At first, don't pay to much attention to the graphical aspect. Start by HTML semantic required for your pattern to work without any CSS class.</li>
                </ol>

                <h3 class="font-weight-medium">Example: Creating a new « Card Molecule »</h3>
                <p>Analyzing the element we clearly see that it match <a href="https://getbootstrap.com/docs/4.0/components/card/#example" class="link" target="_blank">Bootstrap Cards </a> components.</p>

                <div class="row mb-4">
                    <div class="col-4">
                        <img src="/images/_docs/Bootstrap-Cards-example.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-4">
                        <img src="/images/_docs/DOM-model.Teaser-card.link.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-4">
                        <img src="/images/_docs/Videotron molecules-card-links.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="border-left--vui-yellow border-width-4 pl-4 pt-2 pb-2 color-gray--800">
                    Before starting to code : <kbd>$ git fetch</kbd> + <kbd>$ git pull</kbd>
                </div>
            </div>

            <div class="mb-4">
                <h3>Step 1</h3>
                <p>First, since this element exists as a Bootstrap component, we start by <strong>copy/pasting the required markup from Bootstrap</strong> official documentation.</p>
                <p>In this case</p>

                <pre>
                    <code>
                        &lt;div class="card"&gt;
                            &lt;img class="card-img-top" src="..." alt=""&gt;
                            &lt;div class="card-body"&gt;
                                &lt;h3 class="card-title"&gt;Card title&lt;/h3&gt;
                                &lt;p class="card-text"&gt;Some quick example text...&lt;/p&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;<!-- /.card -->
                    </code>
                </pre>
            </div>

            <div class="mb-4">
                <h3>Step 2</h3>
                <p>Once you replicate the basic Card from Bootstrap, IF we would not have any Cards (but we do) I would have <strong>saved this a the default</strong> Card Molecule: <em> /pattern-lab/source/_patterns/01-molecules/cards/card-figure.twig </em></p>
            </div>

            <div class="mb-4">
                <h3>Step 3</h3>
                <p>If possible replace HTML tags by existing Atomes.</p>
                <p>Replace static strings of text by <strong>default twig variables</strong> <kbd>&#123;&#123; var|default('String') &#125;&#125;</kbd>.</p>

                <div class="border-left--vui-yellow border-width-4 pl-4 pt-2 pb-2 color-gray--800">
                    For images use placeolders from Unsplash.com. Example: <em>&lt;img class="img-fluid" src="&#123;&#123; card_itp_img|default('https://source.unsplash.com/400x150/') &#125;&#125;" alt=""&gt;</em>
                </div>

                <p><strong>cards/card-figure.twig :</strong></p>

                <pre>
                    <code>
                      &lt;div class="card card--figure &#123;&#123; cardClass|default('') &#125;&#125;"&gt;
                      &lt;div class="card-figure"&gt;
                          &lt;img class="card-img-top img-fluid"
                               data-src="&#123;&#123; imgDataSrc|default('https://source.unsplash.com/400x225/?nature') &#125;&#125;"
                               alt="&#123;&#123; imgAlt|default('Thumbnail [100%x225]') &#125;&#125;"
                               style="min-height: &#123;&#123; imgHeight|default('225px') &#125;&#125;;"
                               src="&#123;&#12&#123;&#123; imgSrc|default('https://source.unsplash.com/400x225/?nature') &#125;&#125;"
                               data-holder-rendered="true"&gt;
                      &lt;/div&gt;
                  ​
                      &lt;div class="card-body"&gt;
                          &lt;h3 class="card-title &#123;&#123; headingClass|default('') &#125;&#125;"&gt;&#123;&#123; cardHeading|default('This is my title') &#125;&#125;&lt;/h3&gt;
                          &lt;p class="card-text"&gt;&#123;&#123; text|default('This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.') }}&lt;/p&gt;
                      &lt;/div&gt;
                      &lt;/div&gt;
                    </code>
                </pre>

                <p>Now <strong>duplicate the default file</strong> and save it as a variant using the <strong>BEM nomenclature<strong> system:</p>
                <ul>
                  <li><kbd>…/01-molecules/cards/card-figure--link.twig</kbd></li>
                </ul>
                <p>OR</p>
                <ul>
                  <li><kbd>…/01-molecules/link-cards/link-card-figure.twig</kbd></li>
                </ul>
                <div class="border-left--vui-yellow border-width-4 pl-4 pt-2 pb-2 color-gray--800">
                    Choosing the proper name is NOT a scientific issue, just choose one that represents its HTML structure. For this card, since we will have many variants, we decided to go with the second option where the default static ones will be <em>« Cards »</em> VS the ones that are an entire clickable zone will be named <em>« Link-Cards »</em>.
                </div>
            </div>

            <div class="mb-4">
                <h3>Step 4</h3>
                <p><strong>Include Atomes and/or existing Molecules</strong> to replace any HTML tags that are subject to exist in other contexts.</p>
                <p>In our case, since we use the clickable variant, we will start by including the basic default <em>Card Molecule</em> as a starting base on what we had whatever is different while trying as much as possible to not duplicate the same mark-up two times.</p>
                <p>Drupal require long path starting with @ for include and embed patterns.</p>
                <p><strong>link-cards/link-card-figure.twig :</strong></p>
                <pre>
                    <code>
                      &lt;a class="link--card-figure" href="{{ linkHref|default('') }}"&gt;
                      &#123;% include '@molecules/03-card/card-figure.twig' with &#123; cardClass:"" &#125; %&#125;
                      &lt;/a&gt;
                    </code>
                </pre>
            </div>

            <div class="mb-4">
                <h3>Step 5</h3>
                <p>Open the Bash Terminal and change directory to position yourself within <em>/marvel-ui-kit/pattern-lab</em></p>
                <ol>
                  <li>Start your local server.</li>
                  <li>Execute the <kbd>webpack:watch</kbd> command</li>
                  <li>Execute the <kbd>patternlab:generate</kbd> command so your new twig file will get generated within the <em>/public</em> repository for you to see it in your browser: <a href="http://localhost:8080/" class="link" target="_blank">http://localhost:8080/</a></li>
                </ol>
            </div>

            <div class="mb-4">
                <h3>Step 6</h3>
                <p>At this point, the new pattern should look more or so like the mockup.</p>
                <p>Using Google Chrome's web inspector, adjust the layout using the available <a href="https://getbootstrap.com/docs/4.1/layout/utilities-for-layout/" class="link" target="_blank">Utility Classes</a> already existing.</p>
                <img src="/images/_docs/Chrome-web-inspector_CLS.png" class="img-fluid" alt="">
                <p>More on « Utility Class » in <a href="file:///vui-prototype.patternlab.docs/Stylesheets.md" class="link" target="_blank">Stylesheets.</a></p>
            </div>



        </div>
    </section>
{% endblock %}
