<section>
    <div class="container">
        <article class="card">
            <div class="card-header">
                <h1>Heading</h1>
            </div>
            <div class="card-body">
                <div class="alert alert-primary mt-3">
                    <h3>HTML heading tags vs CSS class</h3>
                    <p>Bootstrap propose two methods for styling headers as&hellip; headers. They both look the same <bold>BUT</bold>!</p>
                    <ol>
                        <li>
                            The <bold>real HTML</bold> tags, from <code>&lt;h1&gt;</code> to <code>&lt;h6&gt;</code> are for <abbr title="Search Engine Optimisation">SEO</abbr>.
                        </li>
                        <li>
                            VS <bold>CSS class</bold> from <code>&lt;h3 class="h1"&gt;</code> to <code>&lt;p class="h6"&gt;</code>
                        </li>
                    </ol>
                </div><!-- /.alert -->

                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            <strong>#1</strong> HTML tags for Organic <abbr title="Search Engine Optimisation">SEO</abbr>
                        </th>
                        <th scope="col">
                            <strong>#2</strong> CSS class for styling anything as heading
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <h6><code>&lt;h6&gt;</code> Heading tag</h6>
                        </td>
                        <td>
                            <p class="h6"><code>&lt;* class="h6"&gt;</code> Heading style</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5><code>&lt;h5&gt;</code> Heading tag</h5>
                        </td>
                        <td>
                            <p class="h5"><code>&lt;* class="h5"&gt;</code> Heading style</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4><code>&lt;h4&gt;</code> Heading tag</h4>
                        </td>
                        <td>
                            <p class="h4"><code>&lt;* class="h4"&gt;</code> Heading style</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3><code>&lt;h3&gt;</code> Heading tag</h3>
                        </td>
                        <td>
                            <p class="h3"><code>&lt;* class="h3"&gt;</code> Heading style</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2><code>&lt;h2&gt;</code> Heading tag</h2>
                        </td>
                        <td>
                            <p class="h2"><code>&lt;* class="h2"&gt;</code> Heading style</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="pr-4">
                            <h1><code>&lt;h1&gt;</code> Heading tag</h1>
                        </td>
                        <td>
                            <p class="h1"><code>&lt;* class="h1"&gt;</code> Heading style</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>

</section>