<div class="row align-items-center">
    <div class="col-md-4 offset-md-8 d-flex justify-content-end align-items-center">
        {% include '@atoms/04-links/link-underline.twig' with {
            class:"mb-0 mr-4",
            headingSize: 6,
            label: btn1Label|default("Cancel"),
            href: btn1Href|default('')
        } %}
        {% include '@atoms/04-links/01-link-button.twig' with {
            label: btn2Label|default("Continue"),
            href: btn2Href|default(""),
        } only %}
    </div>
</div>