{# Import macros #}
{% import "@bf-utils/macros/twig/index.twig" as macros %}

{# Boolean Variables #}
{% set hasId = id is defined and id is not empty %}

{# Default Variables #}
{% set class = class|default("") %}
{% set placement = placement|default("top") %}

{# Arrays of Classes With Dynamic Elements #}
{% set tooltipClasses = [
  "bf-tooltip js-bf-tooltip",
  (class),
] %}

{# Template #}
<div {{ macros.addAttributes({
  "class": tooltipClasses|join(' ')|trim,
  "id": (hasId ? id),
}) }}>
    {% include '@bf-components/button-icon/twig/index.twig' with {
      class: "",
      dataToggle: "tooltip",
      extraAttribute: {
        "data-placement": placement,
        "title": text,
      },
      icon: "question-circle-outline",
      text: text,
    } only %}
</div>
