{% set feedback = feedback|json_parse %}
{% set button = button|json_parse %}
{% set hasCloseButton = hasCloseButton|json_parse %}

<div class='py-4 {{ _background|default(null) }}'>
  {% include '@bf-components/callout/twig/index.twig' %}
</div>