{% set button = button|json_parse %}
{% set hasCloseButton = hasCloseButton|json_parse %}

<div class='{{ _background|default(null) }}'>
  {% include '@bf-components/callout/twig/index.twig' %}
</div>