<ul class="sg-colors">
    <li>
        <span class="sg-swatch bg--vui-yellow"></span>
        <span class="sg-label">
			.*--vui-yellow<br/>
			$vui-yellow<br/>
			<kbd>#ffd200</kbd>
		</span>
    </li>
    <li>
        <span class="sg-swatch bg--vui-yellow-dark"></span>
        <span class="sg-label">
			.*--vui-yellow-dark<br/>
			$vui-yellow-dark<br/>
			<kbd>#EBC100</kbd>
		</span>
    </li>
    <li>
        <span class="sg-swatch bg--vui-orange"></span>
        <span class="sg-label">
			.*--vui-orange<br/>
			$vui-orange<br/>
			<kbd>#c14d00</kbd>
		</span>
    </li>
    <li>
        <span class="sg-swatch bg--csr"></span>
        <span class="sg-label">
			.*--csr<br/>
			$vui-csr<br/>
			<kbd>#0b8339</kbd><br>
            <strong>(FOR CSR ONLY)</strong>
		</span>
    </li>
</ul>