<ul class="sg-colors">
    <li>
        <span class="sg-swatch bg-gray--100"></span>
        <span class="sg-label">
            .*-gray--100<br/>
			$gray-100<br/>
			<kbd>#f2f2f0</kbd>
		</span>
    </li>
    <li>
        <span class="sg-swatch bg-gray--200"></span>
        <span class="sg-label">
            .*-gray--200<br/>
			$gray-200<br/>
			<kbd>#e0e0da</kbd>
		</span>
    </li>
    <li>
        <span class="sg-swatch bg-gray--300"></span>
        <span class="sg-label">
            .*-gray--300<br/>
			$gray-300<br/>
			<kbd>#c4c4bf</kbd>
		</span>
    </li>
    <li>
        <span class="sg-swatch bg-gray--400"></span>
        <span class="sg-label">
            .*-gray--400<br/>
			$gray-400<br/>
			<kbd>#bebeb7</kbd>
		</span>
    </li>
    <li>
        <span class="sg-swatch bg-gray--500"></span>
        <span class="sg-label">
            .*-gray--500<br/>
			$gray-500<br/>
			<kbd>#aaaaa3</kbd>
		</span>
    </li>
    <li>
        <span class="sg-swatch bg-gray--600"></span>
        <span class="sg-label">
            .*-gray--600<br/>
			$gray-600<br/>
			<kbd>#9b9b95</kbd>
        </span>
    </li>
    <li>
        <span class="sg-swatch bg-gray--700"></span>
        <span class="sg-label">
            .*-gray--700<br/>
			$gray-700<br/>
			<kbd>#575754</kbd>
		</span>
    </li>
    <li>
        <span class="sg-swatch bg-gray--800"></span>
        <span class="sg-label">
            .*-gray--800<br/>
			$gray-800<br/>
			<kbd>#2f2f2f</kbd>
		</span>
    </li>
    <li>
        <span class="sg-swatch bg-gray--900"></span>
        <span class="sg-label">
            .*-gray--900<br/>
			$gray-900<br/>
			<kbd>#2a2a27</kbd>
		</span>
    </li>
    <li>
        <span class="sg-swatch bg-gray--1000"></span>
        <span class="sg-label">
            .*-gray--1000<br/>
			$gray-1000<br/>
			<kbd>#111110</kbd>
		</span>
    </li>
</ul>  