<ul class="sg-colors">
    <li>
        <span class="sg-swatch bg-primary"></span>
        <span class="sg-label">
            .*-primary<br/>
            $primary<br/>
			<abbr title="$vui-yellow  — VUI">#ffd200</abbr>
		</span>
    </li>
    {#<li>#}
        {#<span class="sg-swatch bg-secondary"></span>#}
        {#<span class="sg-label">#}
            {#.*-secondary<br/>#}
			{#$secondary<br/>#}
			{#<abbr title="Bootstrap $black">#070706</abbr>#}
		{#</span>#}
    {#</li>#}
    {#<li>#}
        {#<span class="sg-swatch bg-info"></span>#}
        {#<span class="sg-label">#}
            {#.*-info<br/>#}
			{#$info <br/>#}
			{#<abbr title="Bootstrap $cyan">#17a2b8</abbr>#}
		{#</span>#}
    {#</li>#}
    <li>
        <span class="sg-swatch bg-success"></span>
        <span class="sg-label">
            .*-success<br/>
			$success<br/>
            <abbr title="Bootstrap $green">#24AD72</abbr>
		</span>
    </li>
    <li>
        <span class="sg-swatch bg-warning"></span>
        <span class="sg-label">
            .*-warning<br/>
			$warning<br/>
			<abbr title="$vui-yellow  — VUI">#DA8000</abbr>
		</span>
    </li>
    <li>
        <span class="sg-swatch bg-danger"></span>
        <span class="sg-label">
            .*-danger<br/>
            $danger<br/>
			<abbr title="$vui-orange  — VUI">#C14D00</abbr>
		</span>
    </li>
    <li>
        <span class="sg-swatch bg-light"></span>
        <span class="sg-label">
            .*-light<br/>
			$light<br/>
			<abbr title="Bootstrap $white">#fff</abbr>
		</span>
    </li>
    <li>
        <span class="sg-swatch bg-dark"></span>
        <span class="sg-label">
            .*-dark<br/>
			$dark<br/>
			<abbr title="Bootstrap $black">#070706</abbr>
		</span>
    </li>
</ul>