
{% set min = min|json_parse %}
{% set max = max|json_parse %}
{% set step = step|json_parse %}
{% set language = language|json_parse %}
{% set class = class|json_parse %}
{% set initialValue = initialValue|json_parse %}
{% set inverted = inverted|json_parse %}

{% set bgClass  = '' %}
{% set reversedClass  = '' %}
<div class='demogrid'>
    {% for index in [1,2,3,4,5]%}

        {% if index is same as (1) or index == 4 %}
            {% set bgClass = class|default('bf-color-bg-ground') %}
        {% elseif index == 2 or index == 5 %}
            {% set bgClass = class|default('bf-color-bg-underground') %}
        {% else %}
            {% set bgClass = class|default('bf-color-bg-action-primary') %}
        {% endif %}

        {% if index == 4 or index == 5 %}
            {% set reversedClass = class|default(' reversed') %}
        {% endif %}

        {% include '@bf-components/input-range/twig/index.twig' with {
            class : bgClass ~ reversedClass
        }%}
    {% endfor %}
</div>
<style>
.demogrid {
    max-width: 1400px;
    width: 100%;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns:repeat(auto-fit, minmax(400px, 1fr));
    margin: 9vh auto;
}
</style>
