
{% set min = min|json_parse %}
{% set max = max|json_parse %}
{% set step = step|json_parse %}
{% set language = language|json_parse %}
{% set class = class|json_parse %}
{% set rangeHandles = rangeHandles|json_parse %}

{% set bgClass  = '' %}
{% set reversedClass  = '' %}
<div class='demogrid'>
    {% for index in [1,2,3,4,5]%}

        {% if index is same as (1) or index == 4 %}
            {% set bgClass = (class is defined and class) ? class : ' bf-color-bg-ground' %}
        {% elseif index == 2 or index == 5 %}
            {% set bgClass = (class is defined and class) ? class : ' bf-color-bg-underground' %}
        {% else %}
            {% set bgClass = (class is defined and class) ? class : ' bf-color-bg-action-primary' %}
        {% endif %}

        {% if index == 4 or index == 5 %}
            {% set reversedClass = (class is defined and class) ? '' : ' reversed' %}
        {% endif %}

        {% include '@bf-components/input-range/twig/index.twig' with {
            min : {
                inputId             : min.inputId ~ index,
                inputValue          : min.inputValue,
                startValue          : min.startValue,
                legend              : min.legend,
                legendDescription   : min.legendDescription
            },
            max : {
                inputId             : max.inputId ~ index,
                inputValue          : max.inputValue,
                startValue          : max.startValue,
                legend              : max.legend,
                legendDescription   : max.legendDescription
            },
            labelUnit      : labelUnit,
            step           : step,
            rangeHandles   : rangeHandles,
            language       : language,
            class          : bgClass ~ reversedClass
        } %}
    {% endfor %}
</div>
<style>
.demogrid {
    max-width: 1400px;
    width: 100%;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns:repeat(auto-fit, minmax(400px, 1fr));
    margin: 9vh auto;
}
</style>
