{# Import macros #}
{% import "@bf-utils/macros/twig/index.twig" as macros %}

{# Default Variables (Props, Controls) - Pre Boolean Variables #}
{% set fontSize = fontSize|default("small") %}

{# Boolean Variables #}
{% set hasCustomBgColor = customBgColor is defined and customBgColor is not empty %}
{% set hasCustomFontColor = customFontColor is defined and customFontColor is not empty %}
{% set hasIconName = iconName is defined and iconName is not empty %}
{% set hasAngle = angle is defined and angle is not empty %}
{% set isFontSizeSmall = fontSize is same as("small") %}
{% set isFontSizeMedium = fontSize is same as("medium") %}
{% set isNoUppercase = (noUppercase ?? false) is same as(true) %}
{% set isRounded = (isRounded ?? false) is same as(true) %}

{# Default Variables (Props, Controls) - Post Boolean Variables #}
{% set class = class|default("") %}
{% set hierarchy = hierarchy|default("secondary") %}
{% set label = label|default("") %}

{# Variables #}
{% set badgeAngleClass = isRounded ? "bf-badge--rounded" : hasAngle ? "bf-badge--angle-" ~ angle : "" %}

{# Arrays of Classes With Dynamic Elements #}
{% set badgeClasses = [
  "bf-badge",
  "bf-badge--" ~ hierarchy,
  (isRounded ? "bf-badge--rounded" : hasAngle ? "bf-badge--angle-" ~ angle : ""),
  (hasCustomBgColor ? "bf-badge--has-custom-bg-color"),
  (hasCustomFontColor ? "bf-badge--has-custom-font-color"),
  (class),
] %}
{% set badgeTextClasses = [
  "bf-badge__label m-0",
  (isFontSizeSmall ? "bf-text-interface-small"),
  (isFontSizeMedium ? "bf-text-interface-medium"),
  (isNoUppercase ? "text-transform-initial"),
] %}

{# Arrays of Styles With Dynamic Elements #}
{% set badgeInnerStyles = [
  (hasCustomBgColor ? '--bf-badge-bg-color: ' ~ customBgColor ~ ';'),
  (hasCustomFontColor ? '--bf-badge-font-color: ' ~ customFontColor ~ ';'),
] %}

{# Template #}
<div class="{{ badgeClasses|join(' ')|trim }}">
  <div {{ macros.addAttributes({
    "class": "bf-badge__inner position-relative d-flex align-items-center",
    "style": badgeInnerStyles|join(' ')|trim,
  }) }}>
    <p class="{{ badgeTextClasses|join(' ')|trim }}">
      {% if hasIconName %}
        {% include "@bf-components/icon/twig/index.twig" with {
          name: iconName,
          class: "mr-2",
          size: "small"
        } only %}
      {% endif %}

      <span class="bf-badge__label__text">
        {{ label }}
      </span>
    </p>
  </div>
</div>
