<div class='
    bf-badge
    bf-badge--{{ hierarchy|default('secondary') }}
    {% if angle is defined and angle is not empty %}bf-badge--angle-{{ angle }}{% endif %}
    {{ class|default('') }}
    '>
    <div class='bf-badge__container position-relative d-flex align-items-center'>
        <p class='bf-badge__label small font-weight-bold {% if noUppercase is not defined or noUppercase is not same as (true) %}text-uppercase{% endif %} m-0'>
            {{ label|default('') }}
        </p>
    </div>
</div>

{# Add primary... #}
{# uppercase by default. Add noUppercase #}
{# Fix angle name #}