<div
  class=
  'bf-badge
  bf-badge--{{ hierarchy|default('secondary') }}
  {% if isRounded is defined and isRounded is same as (true) %}
    bf-badge--rounded
  {% elseif angle is defined and angle is not empty %}
    bf-badge--angle-{{ angle }}
  {% endif %}
  {{ class|default('') }}'
>
  <div class='bf-badge__inner position-relative d-flex align-items-center'>
    <p class='bf-text-interface-small bf-badge__label {% if noUppercase is defined and noUppercase %}text-transform-initial{% endif %} m-0'>
      {% if iconName is defined and iconName %}
        {% include '@bf-components/icon/twig/index.twig' with {
          name  : iconName,
          class : 'pr-1',
          size  : 'small',
        } only %}
      {% endif %}

        <span class='bf-badge__label__text'>
          {{ label|default('') }}
        </span>
    </p>
  </div>
</div>