<div class='
    bf-badge
    {% if color is defined %}bf-badge--{{ color }}{% endif %}
    {{ class|default('') }}
    '>
    <div class='bf-badge__container position-relative d-flex align-items-center'>
        <p class='bf-badge__label small font-weight-bold m-0'>
            {{ label|default('') }}
        </p>
    </div>
</div>
