{# Boolean Variables #}
{% set hasIconName = iconName is defined and iconName is not empty %}
{% set hasAngle = angle is defined and angle is not empty %}

{# Default Variables (Props, Controls) #}
{% set class = class|default("") %}
{% set isRounded = isRounded|default(false) %}
{% set hierarchy = hierarchy|default("secondary") %}
{% set label = label|default("") %}

{# Variables #}
{% set badgeAngleClass = isRounded ? "bf-badge--rounded" : hasAngle ? "bf-badge--angle-" ~ angle : "" %}

{# Arrays of Classes With Dynamic Elements #}
{% set badgeClasses = [
  "bf-badge",
  "bf-badge--" ~ hierarchy,
  (isRounded ? "bf-badge--rounded" : hasAngle ? "bf-badge--angle-" ~ angle : ""),
  (class),
] %}
{% set badgeTextClasses = [
  "bf-text-interface-small bf-badge__label",
  "m-0",
  (noUppercase ? "text-transform-initial"),
] %}

{# Template #}
<div class="{{ badgeClasses|join(' ')|trim }}">
  <div class="bf-badge__inner position-relative d-flex align-items-center">
    <p class="{{ badgeTextClasses|join(' ')|trim }}">
      {% if hasIconName %}
        {% include "@bf-components/icon/twig/index.twig" with {
          name: iconName,
          class: "mr-2",
          size: "small"
        } only %}
      {% endif %}

      <span class="bf-badge__label__text">
        {{ label }}
      </span>
    </p>
  </div>
</div>
