{% set reversed = reversed|default(false)|json_parse %}
{% set icons    = icons|json_parse %}

<div class='pt-4 {% if reversed %}reversed bf-color-bg-ground{% endif %}'>

    {% if name is defined and name is not same as ('undefined') and name is not same as ('All icons') %}
        <div class='d-flex flex-wrap align-items-center justify-content-center h-100'>
            {% include '@bf-components/icon/twig/index.twig' with {
                name    : name,
                color   : color,
                size    : size,
                class   : class
            } only %}
        </div>

    {% else %}
        <div class='container-fluid h-100'>
            {% if icons is defined %}
                {% for category in icons %}
                    <div class="d-flex flex-wrap align-content-start my-4">
                        <div class="w-100">
                            <h4>{{category.category}}</h4>
                        </div>
                        <div class="flex-align-center-space-between">
                            {% for iconName in category.list %}
                                <div class='mr-3' title='{{iconName}}'>
                                    {% include '@bf-components/icon/twig/index.twig' with {
                                        name    : iconName,
                                        color   : color,
                                        size    : size,
                                        class   : class
                                    } only %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}

</div>