{% set reversed = reversed|json_parse %}

<div class="pt-4 {% if reversed %}reversed bf-color-bg-ground{% endif %}">

    {% include "@bf-components/sticky-bar/twig/index.twig" with {
        label   : label|default(""),
    } only %}

</div>