{% spaceless %}
<div>
    <div class="text-center">
        <p class="h3 vui--font-secondary">{{ graphTitle|default('Last 12 cycles') }}</p>
        <p>{{ graphSubTitle|default('12 jan 2019 - 11 jan 2020') }}</p>
    </div>

    <p class="h4 vui--font-secondary">Data (G0)</p>
    <div class="js-data-chart-stacked data-chart"
         data-chart-title="Last 12 cycles"
         data-chart-xaxis-label="Go used"
         data-chart-yaxis-label="Cycle"
         data-json={{ graphJSONData|default('[{"cycle":"2020-01-01","data":28,"flex-go":14,"ppu":11},{"cycle":"2020-02-01","data":43,"flex-go":16,"ppu":22},{"cycle":"2020-03-01","data":17,"flex-go":24,"ppu":0},{"cycle":"2020-04-01","data":32,"flex-go":0,"ppu":0},{"cycle":"2020-05-01","data":48,"flex-go":12,"ppu":0},{"cycle":"2020-06-01","data":25,"flex-go":0,"ppu":0},{"cycle":"2020-07-01","data":39,"flex-go":11,"ppu":27},{"cycle":"2020-08-01","data":22,"flex-go":22,"ppu":8},{"cycle":"2020-09-01","data":30,"flex-go":15,"ppu":8},{"cycle":"2020-10-01","data":53,"flex-go":0,"ppu":0},{"cycle":"12020-11-011","data":26,"flex-go":14,"ppu":2},{"cycle":"2020-12-01","data":41,"flex-go":32,"ppu":0}]') }}></div>
    <p class="h4 vui--font-secondary text-right">Cycle</p>
</div>
{% endspaceless %}