<div class="card card-rounded {{ class|default('') }}">
    <div class="card-body">
        <div class="row d-md-flex justify-content-between" data-animate-row="">
            <div class="col-md mb-5 mb-md-0 d-md-flex justify-content-start" data-animate="fade-in">
                {% include '@components/display/display-data-usage.twig' with {
                    class:"col-md-11",
                    title:"PJC marketing",
                    nbServices: 345,
                    dataValue: 100,
                    dataMaxValue: 100,
                    dataPercentValue: 100,
                    tags: ["Sharing on"]
                } only %}
            </div>

            <div class="col-md mb-5 mb-md-0 d-md-flex justify-content-center" data-animate="fade-in">
                {% include '@components/display/display-data-usage.twig' with {
                    class:"col-md-11",
                    title:"Adonis Ops",
                    nbServices: 234,
                    dataValue: 35,
                    dataMaxValue: 40,
                    dataPercentValue: 70,
                    tags: ["Pooling on"]
                } only %}
            </div>

            <div class="col-md mb-5 mb-md-0 d-md-flex justify-content-end" data-animate="fade-in">
                {% include '@components/display/display-data-usage.twig' with {
                    class:"col-md-11",
                    title:"Metro IT",
                    nbServices: 223,
                    dataValue: 400,
                    dataMaxValue: 740,
                    dataPercentValue: 40,
                    tags: []
                } only %}
            </div>

        </div>
    </div>
</div>