{# Default Variables (Props, Controls) #}
{% set extraAttribute = extraAttribute|json_parse %}
{% set image = image|json_parse %}
{% set hasChevron = hasChevron|json_parse %}
{% set reversed = reversed|json_parse %}

{# Arrays of Classes With Dynamic Elements #}
{% set mainContainerClasses = [
  "d-flex flex-column flex-sm-row justify-content-center minh-100",
  (reversed ? "reversed bf-color-bg-ground"),
] %}

{# Template #}
<div class="bf-color-bg-underground p-4">
  <p class="small mb-0">
    <b>Note:</b> Wrap your <b>Row Buttons</b> with CSS classes <b>
      .bf-list .bf-list--divider
    </b> in order to display dividers between them.
  </p>
</div>

<div class="{{ mainContainerClasses|join(' ')|trim }}">
  {% for index in [1, 2] %}

    {# In Loop : Boolean Variables #}
    {% set isReversed = index == 2 and reversed is not defined %}

    {# In Loop : Arrays of Classes With Dynamic Elements #}
    {% set innerContainerClasses = [
      "bf-list bf-list--divider flex-grow-1 d-flex flex-column align-items-center justify-content-center minh-100 p-4",
      (isReversed ? "reversed bf-color-bg-ground"),
    ] %}

    <ul class="{{ innerContainerClasses|join(' ')|trim }}">
      <li class="w-100">
        {% include "@bf-components/row-button/twig/index.twig" with {
          title: title|default("Size small"),
          image: null,
          size: size|default("small")
        } %}
      </li>

      <li class="w-100">
        {% include "@bf-components/row-button/twig/index.twig" with {
          title: title|default("Size medium"),
          image: null,
          size: size|default("medium")
        } %}
      </li>

      <li class="w-100">
        {% include "@bf-components/row-button/twig/index.twig" with {
          title: title|default("Size large"),
          image: null,
          size: size|default("large")
        } %}
      </li>

      <li class="w-100">
        {% include "@bf-components/row-button/twig/index.twig" with {
          title: title|default("With image"),
          iconName: null
        } %}
      </li>

      <li class="w-100">
        {% include "@bf-components/row-button/twig/index.twig" with {
          title: title|default("Without chevron"),
          image: null,
          iconName: null,
          hasChevron: false
        } %}
      </li>

      <li class="w-100">
        {% include "@bf-components/row-button/twig/index.twig" with {
          title: title|default("With link label"),
          image: null,
          iconName: null,
          linkLabel: linkLabel|default("This is a link label")
        } %}
      </li>

      <li class="w-100">
        {% include "@bf-components/row-button/twig/index.twig" with {
          title: title|default("Default"),
          image: null,
          iconName: null
        } %}
      </li>
    </ul>
  {% endfor %}
</div>
