{% set progressDatas = progressDatas|json_parse %}
{% set _backgrounds = _backgrounds|json_parse %}

<div class='mt-6 p-4 container-fluid {{ _background }}'>
  {% include '@bf-components/progress-multi/twig/index.twig' %}
</div>