{# Default Variables (Props, Controls) #}
{% set progressDatas = progressDatas|json_parse %}

{# Template #}
<div class="mt-6 p-4 container-fluid {{ _background }}">
  {% include "@bf-components/progress-multi/twig/index.twig" %}
</div>
