{% set tiles = tiles|json_parse %}
{% set reversed = reversed|json_parse %}
{% set hasFeaturedLayout  = hasFeaturedLayout|json_parse %}

<div>
  {% for index in [1,2] %}
    {% include '@bf-sections/tiles-key/twig/index.twig' with {
      reversed: reversed|default(index == 2)
    } %}
  {% endfor %}
</div>