<main class='videotron-ui'>
    <div class='container py-5'>
        
        <header class='d-flex justify-content-between align-items-baseline pb-3 mb-3 border-bottom'>
            <h1>Angular Showcase</h1>
            <a class='bf-link bf-color-neutral-secondary' href='https://bifrost-front-end-library-git-v1-4-0-bifrost-vui.vercel.app/?path=/docs/changelog--page' target='_blank'>
                Bifrost @ 1.4.0
            </a>
        </header>

        <section class='py-4'>
            <h1 class='h3 m-0 pb-2'>Badges</h1>
            <div class='d-flex flex-wrap gap-3 p-4'>
                <bf-badge label='default'></bf-badge>
                <bf-badge classes='' hierarchy='primary' label='primary'></bf-badge>
                <bf-badge classes='' hierarchy='primary-alt' label='primary-alt'></bf-badge>
                <bf-badge classes='' hierarchy='secondary' label='secondary'></bf-badge>
                <bf-badge classes='' hierarchy='tertiary' label='tertiary'></bf-badge>
                <bf-badge classes='' label='angle left' angle='left'></bf-badge>
                <bf-badge classes='' label='angle right' angle='right'></bf-badge>
                <bf-badge classes='' label='noUppercase' noUppercase='true'></bf-badge>
                <bf-badge classes='' label='isRounded' isRounded='true'></bf-badge>
            </div>
            <div class='d-flex flex-wrap gap-3 reversed bf-color-bg-ground p-4'>
                <bf-badge label='default'></bf-badge>
                <bf-badge classes='' hierarchy='primary' label='primary'></bf-badge>
                <bf-badge classes='' hierarchy='primary-alt' label='primary-alt'></bf-badge>
                <bf-badge classes='' hierarchy='secondary' label='secondary'></bf-badge>
                <bf-badge classes='' hierarchy='tertiary' label='tertiary'></bf-badge>
                <bf-badge classes='' label='angle left' angle='left'></bf-badge>
                <bf-badge classes='' label='angle right' angle='right'></bf-badge>
                <bf-badge classes='' label='noUppercase' noUppercase='true'></bf-badge>
                <bf-badge classes='' label='isRounded' isRounded='true'></bf-badge>
            </div>
        </section>

    </div>
</main>

<router-outlet></router-outlet>
