<div class="{{ class|default('') }}">
    <div class="row {{ headerClass|default('mb-4') }}">
        <div class="col-md-8">
            <h3 class="mb-0">Please choose a time slot for your appointment</h3>
        </div>
        <div class="col-md-4 mt-3 mt-md-0">

            {# DESKTOP #}
            <div id="MonthlyView_desktop" class="d-block">
                <div class="d-flex justify-content-center justify-content-md-end">
                    <label for="datePickerInput" class="btn p-0 link-underline pb-0 pt-1">Monthly view </label>
                    {% include '@molecules/16-calendar/date-picker.twig' with { inputId: "datePickerInput" } %}
                </div>
            </div>
        </div>
    </div>

    {% include '@atoms/01-text/text-information.twig' with {
        class:"mb-4",
        textLabel:'Les prochaines disponibilités lorem ipsum dolor sit amet.'
    } %}

    {% include '@organisms/30-calendar/time-picker-form.twig' with {
        class: calendarFormClass|default(''),
        withEditContactModal: withEditContactModal|default(NULL)
    } only %}
</div>
