{# For demo purpose #}
{% if priceBoxItems is not defined %}
    {% set priceBoxItems = [
        {
            label:"Actual plan",
            tooltip: {},
            priceBoxParams: {
                priceClass:"w-100 price-box--sm",
                priceDollar: "152",
                priceCent:"34",
                isMonthlyPayment: true,
                priceInfosSupp:"Taxes incl."
            }
        },
        {
            label:"Actual plan",
            tooltip: {},
            priceBoxParams: {
                priceClass:"w-100 price-box--sm",
                priceDollar: "152",
                priceCent:"34",
                isMonthlyPayment: true,
                priceInfosSupp:"Taxes incl."
            }
        }
    ] %}
{% endif %}

{# ------------------------------------------------------------------------------------------------------------------ #}

<!-- navigation-header-nav-level-2--my-account.twig -->
<nav id="stickyNavPrice" class="nav-sticky-bottom border-bottom-gray--800 js-position-sticky-bottom vui-anim--slide-from-bottom {{ class|default('') }}">
    {% block nav_content %}
        <div class="bg--dark color--white py-3">
            <div class="container-fluid">
                <div class="row align-items-center">
                    {% block nav_content_row %}
                        <div class="col-12 col-md-8 col-lg-9">
                            <div class="row">
                                {% for item in priceBoxItems %}
                                    <div class="col-6 col-lg-3">
                                        <div>
                                            <p class="small font-weight-bold mb-0">{{ item.label|default('Lorem ipsum') }}{% if item.tooltip is defined and item.tooltip is not empty %}
                                                    {% include '@molecules/14-tooltip/tooltip-button.twig' with {
                                                        buttonClass:"ml-2 p-0 position-absolute",
                                                        buttonDisplay: "inline",
                                                        tooltipTxt: item.tooltip.txt|default("Les équipements Helix doivent être achetés avec un plan de versements de 36 mois ou en paiement unique."),
                                                        iconColor: "svg-fill--white"
                                                    } %}
                                                {% endif %}</p>

                                            {% include '@components/display/display-price.twig' with item.priceBoxParams|default({}) only %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-12 col-md-4 col-lg-3 mt-3 mt-md-0 text-right">
                            {% block price_btn_continue %}
                                {% include '@atoms/04-link/link-button-primary.twig' with {
                                    id: "stickyNavContinuBtn",
                                    class: "color--dark w-100--mobile-only " ~ primaryButton.class|default(''),
                                    buttonColor: "primary",
                                    label: primaryButton.label|default("Continue"),
                                    href: primaryButton.href|default("")
                                } only %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
</nav>


