{% set inputSize      = inputSize|json_parse %}
{% set isChecked      = isChecked|json_parse %}
{% set isDisabled     = isDisabled|json_parse %}
{% set isInvalid      = isInvalid|json_parse %}
{% set isRequired     = isRequired|json_parse %}
{% set hasNolabel     = hasNolabel|json_parse %}

{% set backgrounds = ['bf-color-bg-ground','bf-color-bg-underground','reversed bf-color-bg-ground','reversed bf-color-bg-underground', 'bf-color-bg-highlight'] %}
<table class="mt-4">
  <tr>
    <th> Unchecked</th>
    <th> Checked</th>
  <tr>

  {% for background in backgrounds %}
    <tr class='{{ background }}'>
      <td>
        {% include '@bf-components/switch/twig/index.twig' with {
          id : id|default(inputId) ~ '1-' ~ loop.index
        } %}

      </td>
      <td>
        {% include '@bf-components/switch/twig/index.twig' with {
          id : id|default(inputId) ~ '2-' ~ loop.index,
          isChecked  : isChecked|default(true)
        } %}
      </td>
    </tr>
  {% endfor %}

</table>

<style>
  table {
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
  }
  th { width: 25%;}
  th,td {
    text-align: center;
    padding: .5rem 2rem .2rem;
  }
</style>