{% set inputSize      = inputSize|json_parse %}
{% set isChecked      = isChecked|json_parse %}
{% set isDisabled     = isDisabled|json_parse %}
{% set isInvalid      = isInvalid|json_parse %}
{% set isRequired     = isRequired|json_parse %}
{% set hasNolabel     = hasNolabel|json_parse %}
{% set _background = _background |json_parse %}

<div class='container-fluid mt-4 p-4 {{ _background }}'>
  <div class='d-flex flex-align-center-space-between gap-2'>
    <div class='d-flex flex-column'>
      <p> Default</p>
      {% include '@bf-components/switch/twig/index.twig' with {
        id : id|default(inputId) ~ '1-' ~ loop.index
      } %}
    </div>
    <div class='d-flex flex-column align-center'>
      <p> Checked</p>
      {% include '@bf-components/switch/twig/index.twig' with {
        id : id|default(inputId) ~ '2-' ~ loop.index,
        isChecked  : isChecked|default(true)
      } %}
    </div>
    <div class='d-flex flex-column'>
      <p> Disabled</p>
      {% include '@bf-components/switch/twig/index.twig' with {
        id : id|default(inputId) ~ '3-' ~ loop.index,
        isDisabled  : isDisabled|default(true)
      } %}
    </div>
    <div class='d-flex flex-column'>
      <p> Invalid</p>
      {% include '@bf-components/switch/twig/index.twig' with {
        id : id|default(inputId) ~ '4-' ~ loop.index,
        isInvalid  : isInvalid|default(true)
      } %}
    </div>
    <div class='d-flex flex-column'>
      <p> checked + invalid</p>
      {% include '@bf-components/switch/twig/index.twig' with {
        id : id|default(inputId) ~ '5-' ~ loop.index,
        isInvalid  : isInvalid|default(true),
        isChecked  : isChecked|default(true)
      } %}
    </div>
  </div>
</div>