<div class="d-flex align-items-center {{ class|default('') }}">
    {% include '@atoms/06-icons/icon-svg-device.twig' with { class:"" } only %}

    <div class="text-center ml-3">
        <p class="vui--font-secondary fs-4 mb-0">{{ deviceValue|default('2+') }}</p>
        <p class="mb-0 mt-minus-1 small vui--font-secondary text-uppercase">{{ deviceText|default('Devices') }}</p>
    </div>
</div>
