{# ----------------------------------------------------------------- #}
{% set reversed = reversed|json_parse|default(false) %}

{# ----------------------------------------------------------------- #}
<div
    class="d-flex align-items-center justify-content-center minh-100 {% if reversed %}reversed bf-color-bg-ground{% endif %}"
>

    {# ----------------------------------------------------------------- #}
    {% include '@bf-components/logo/twig/index.twig' with {
        name        : name,
        size        : size,
        langcode    : langcode,
    } only %}
</div>