{# ----------------------------------------------------------------- #}
{% set reversed     = reversed|default(false)|json_parse %}

<div
    class="d-flex align-items-center justify-content-center h-100 w-100 {% if reversed %}reversed bf-color-bg-ground{% endif %}"
>

    {# ----------------------------------------------------------------- #}
    {% include '@bf-components/logo/twig/index.twig' with {
        name        : name,
        size        : size|default(''),
        textOnly    : textOnly|default(false),
        reversed    : reversed,
        langcode    : langcode,
    } only %}

</div>