{# 
    Edit this component and don't forget to delete this comment.
    
    In your component, the file /common/style.scss is aimed to share styles across Twig and Angular. 
    Try to use it as much as possible, in order to avoid styles for specific framework.

    Command `npm run storybook` will watch all scss changes (thanks Gulp) in this project
    and compile it to CSS, so this new Twig component will be loaded with your changes in /common/style.scss.
    
    Enjoy :)
#}

<div class="bf-wefwfwe {{ styleClass|default('') }}">
    {{ label|default('Label') }}
</div>