<div class="bg--white py-4">
    {% include '@molecules/10-tab/tab.twig' with { navTabsClass:"nav-tabs--light" } %}
</div>

<div class="bg-gray--100 py-4">
    {% include '@molecules/10-tab/tab.twig' with { navTabsClass:"nav-tabs--light" } %}
</div>
