{% set value = value|json_parse %}
{% set isRequired = isRequired|json_parse %}
{% set isDisabled = isDisabled|json_parse %}
{% set isInvalid = isInvalid|json_parse %}

{% set _backgroundClasses = ['bf-color-bg-ground','bf-color-bg-underground','reversed bf-color-bg-ground','reversed bf-color-bg-underground', 'bf-color-bg-highlight', 'bf-color-bg-highlight highlight reversed'] %}

{% for _backgroundClass in _backgroundClasses %}
  <div class='d-flex flex-row flex-wrap {{ _backgroundClass }}'>
    <div class='p-3'>
      {% include '@bf-components/input-radio-option/twig/index.twig' with {
        id: id|default(inputId) ~ 1 ~ loop.index,
        name: name|default('inputName') ~ loop.index
      } %}

      {% include '@bf-components/input-radio-option/twig/index.twig' with {
        id: id|default(inputId) ~ 2 ~ loop.index,
        name: name|default('inputName') ~ loop.index,
        value: value|default(true)
      } %}
    </div>

    <div class='p-3'>
      {% include '@bf-components/input-radio-option/twig/index.twig' with {
        id: id|default(inputId) ~ 3 ~ loop.index,
        name: name|default('inputName') ~ loop.index ~ 1,
        isDisabled: isDisabled|default(true)
      } %}

      {% include '@bf-components/input-radio-option/twig/index.twig' with {
        id: id|default(inputId) ~ 4 ~ loop.index,
        name: name|default('inputName') ~ loop.index ~ 1,
        value: value|default(true),
        isDisabled: isDisabled|default(true)
      } %}
    </div>

    <div class='p-3'>
      {% include '@bf-components/input-radio-option/twig/index.twig' with {
        id: id|default(inputId) ~ 5 ~ loop.index,
        name: name|default('inputName') ~ loop.index ~ 2,
        isInvalid: isInvalid|default(true)
      } %}

      {% include '@bf-components/input-radio-option/twig/index.twig' with {
        id: id|default(inputId) ~ 6 ~ loop.index,
        name: name|default('inputName') ~ loop.index ~ 2,
        value: value|default(true),
        isInvalid: isInvalid|default(true)
      } %}
    </div>
  </div>
{% endfor %}