<div class=" {{ class|default('') }}">
    <h3>{{ title|default('New monthly charge') }}</h3>
    {% block header_content %}{% endblock %}

    <hr class="border-width-4 border-top--dark mb-0">
</div>