{% set keys         = keys|json_parse %}
{% set buttons      = buttons|json_parse %}
{% set reversed     = reversed|json_parse %}
{% set highlight    = highlight|json_parse %}

{% set variants = [
  { class: 'bf-color-bg-ground ' ~ class },
  { class: 'bf-color-bg-underground ' ~ class },
  { reversed: reversed|default(true), class: 'bf-color-bg-ground ' ~ class },
  { reversed: reversed|default(true), class: 'bf-color-bg-underground ' ~ class },
  { highlight: highlight|default(true) }
] %}

<div>
  {% for variant in variants %}
    {% include '@bf-sections/keys/twig/index.twig' with variant %}
  {% endfor %}
</div>