<div class="container-fluid">
      
      
                          <div class="row">
      <div class="col-12 layout__region--content">
                  
  
<div data-more-offers-button-en="GET IT NOW" data-block-plugin-id="dxp_shop_more_offers" class="block block-dxp-shop block-dxp-shop-more-offers">
  
  
  
  <!-- card-block-content.twig -->
<div class="card card-block-content bg--dark color--white border-rounded border--0 mb-4 pl-3 pr-3 fadeslide-in data-animate--done" data-animate="">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-12 col-md-7 mb-4 mb-md-0 fade-in data-animate--done" data-animate="fade-in">
                                        <h2 class="vui--font-secondary mb-2">Abonnez-vous à l’Appli Helix TV</h2>
                <p class="h4"></p><p>Obtenez Club illico gratuitement pendant un an en ajoutant le service Appli Helix TV à votre forfait Helix Internet.</p>
<p></p>
                      </div>

            <div class="col-12 col-md-4 offset-md-1 text-md-right text-center fade-in data-animate--done" data-animate="fade-in">
                                                      <a class="btn btn-md btn-outline-none  fs-3 btn-primary" data-title="PROFITEZ-EN" href="https://videotron.com/magasiner/forfaits-helix/tele-internet/forfait-appli-helix-tv" target="_blank">PROFITEZ-EN</a>
                </div>
        </div>
    </div>
</div>
</div>

              </div>
    </div>
              
    </div>