<div class="col-md-5 mb-4 mb-md-0 order-md-first">
            <div class="field-rich-text-block"><p>Dépannage</p>

<p class="h2 vui--font-secondary">Un problème avec Helix Télé? Trouvez&nbsp;des solutions.</p>

<p class="h4 lh-3">Consultez nos articles et vidéos d’aide pour résoudre facilement et rapidement vos problèmes techniques.</p>

<p><a class="btn btn-md btn-reset d-inline-block h5 link-underline" href="/soutien/helix/depannage/helix-TV" title="test">En voir plus&nbsp;</a></p></div>
          </div>