
<div class="list-group list-group--bullet-vertical ">
        <a class="list-group-item border-0 js-scrollspy-link js-scrollspy-goto-animate scrollspy-item-je-narrive-pas-acceder-lespace-client active" href="#je-narrive-pas-acceder-lespace-client">Je n’arrive pas à accéder à l’Espace client </a>
        <a class="list-group-item border-0 js-scrollspy-link js-scrollspy-goto-animate scrollspy-item-je-ne-suis-pas-le-titulaire-principal-du-compte" href="#je-ne-suis-pas-le-titulaire-principal-du-compte">Je ne suis pas le titulaire principal du compte </a>
        <a class="list-group-item border-0 js-scrollspy-link js-scrollspy-goto-animate scrollspy-item-jai-suspendu-mon-abonnement" href="#jai-suspendu-mon-abonnement">J’ai suspendu mon abonnement</a>
        <a class="list-group-item border-0 js-scrollspy-link js-scrollspy-goto-animate scrollspy-item-je-crois-que-mon-compte-ete-pirate" href="#je-crois-que-mon-compte-ete-pirate">Je crois que mon compte a été piraté </a>
</div>

