<div class="bg-gray--100 text-center py-section">
    <div class="container-fluid">
      
              <div class="row">
          <div class="col-12">
            <div class="title">
              <h2 class="h2 vui--font-secondary mb-4">Helix Télé et Appli Helix TV</h2>
            </div>
          </div>
        </div>
      
                                <div class="carousel-internet-speed js-slick-carousel--internet-speed text-left slick-initialized slick-slider slick-dotted"><button class="slick-prev slick-arrow" aria-label="Précédent" type="button" style="">Précédent</button><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 7696px; transform: translate3d(-1184px, 0px, 0px);"><div class="slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" style="width: 280px;" tabindex="-1"><div><div data-block-plugin-id="block_content:050bed5a-1fd7-4389-9f65-6a1f5b666828" class="block block-block-content block-block-content050bed5a-1fd7-4389-9f65-6a1f5b666828 h-100" style="width: 100%; display: inline-block;">
  
  
    

                              
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="https://acc0-dxp.videotron.com/sites/default/files/2019-06/helix_tv_icon_Plein_la_Vue.svg" alt="Plein la vue">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">LE PLEIN LA VUE</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">55</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">30</p>
            <p class="item-internet-speed__description mb-0">chaînes au choix parmi les Populaires et Sportives</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">2</p>
            <p class="item-internet-speed__description mb-0">choix parmi les Premium</p>
        </div>
            </div>
</div></div></div><div class="slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" style="width: 280px;" tabindex="-1"><div><div data-block-plugin-id="block_content:3a81ee13-dfa1-4e09-a7e2-d7603169106e" class="block block-block-content block-block-content3a81ee13-dfa1-4e09-a7e2-d7603169106e h-100" style="width: 100%; display: inline-block;">
  
  
    

                  
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="/sites/default/files/styles/original/public/2020-09/picto%20app%20tv.webp?itok=D-4G67tR" alt="App TV">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">Appli Télé La Base</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
            </div>
</div></div></div><div class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 280px;" tabindex="-1"><div><div data-block-plugin-id="block_content:8081ce74-9aa9-4bed-bb15-b4ec14284114" class="block block-block-content block-block-content8081ce74-9aa9-4bed-bb15-b4ec14284114 h-100" style="width: 100%; display: inline-block;">
  
  
    

                        
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="/sites/default/files/styles/original/public/2020-09/picto%20app%20tv.webp?itok=D-4G67tR" alt="App TV">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">Appli Télé Le Léger</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">28</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">5</p>
            <p class="item-internet-speed__description mb-0">chaînes au choix parmi les Populaires</p>
        </div>
            </div>
</div></div></div><div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 280px;" tabindex="-1"><div><div data-block-plugin-id="block_content:c2e919ff-7155-4346-8371-9442c803e2bc" class="block block-block-content block-block-contentc2e919ff-7155-4346-8371-9442c803e2bc h-100" style="width: 100%; display: inline-block;">
  
  
    

                        
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="/sites/default/files/styles/original/public/2020-09/picto%20app%20tv.webp?itok=D-4G67tR" alt="App TV">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">Appli Télé La Découverte Sports</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">31</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">8</p>
            <p class="item-internet-speed__description mb-0">chaînes au choix parmi les Populaires et Sportives</p>
        </div>
            </div>
</div></div></div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 280px;" role="tabpanel" id="slick-slide10"><div><div data-block-plugin-id="block_content:264649c4-91c8-41da-884d-b4ed1e25dab8" class="block block-block-content block-block-content264649c4-91c8-41da-884d-b4ed1e25dab8 h-100" style="width: 100%; display: inline-block;">
  
  
    

                  
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="/sites/default/files/styles/original/public/2020-09/pictoTV%20_la_base_127px_1.webp?itok=Yl52kARI" alt="La Base">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">LA BASE </div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut : 
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
            </div>
</div></div></div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 280px;" role="tabpanel" id="slick-slide11"><div><div data-block-plugin-id="block_content:acef4cd7-ccfc-4065-86be-f33ef7d20934" class="block block-block-content block-block-contentacef4cd7-ccfc-4065-86be-f33ef7d20934 h-100" style="width: 100%; display: inline-block;">
  
  
    

                        
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="/sites/default/files/styles/original/public/2020-04/IPTV-ICO-forfait-leger-2004_rev.webp?itok=_ObzpFCq" alt="Logo le leger">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">LE LÉGER </div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">28</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">5</p>
            <p class="item-internet-speed__description mb-0">chaînes au choix parmi les Populaires</p>
        </div>
            </div>
</div></div></div><div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 280px;" role="tabpanel" id="slick-slide12"><div><div data-block-plugin-id="block_content:9563c56d-175f-4674-853c-cb08b5135ca2" class="block block-block-content block-block-content9563c56d-175f-4674-853c-cb08b5135ca2 h-100" style="width: 100%; display: inline-block;">
  
  
    

                        
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="https://acc0-dxp.videotron.com/sites/default/files/2019-06/helix_tv_icon_La_Decouverte.svg" alt="La decouverte">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">LA DÉCOUVERTE</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">33</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">10</p>
            <p class="item-internet-speed__description mb-0">chaînes au choix parmi les Populaires</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
            </div>
</div></div></div><div class="slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 280px;" role="tabpanel" id="slick-slide13"><div><div data-block-plugin-id="block_content:4f13f075-9a7f-4c66-959b-58a82372cb00" class="block block-block-content block-block-content4f13f075-9a7f-4c66-959b-58a82372cb00 h-100" style="width: 100%; display: inline-block;">
  
  
    

                        
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="https://acc0-dxp.videotron.com/sites/default/files/2019-07/helix_tv_icon_Fans_De_Sports_0.svg" alt="TV fan de sport">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">LA DÉCOUVERTE SPORTS</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">31</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">8</p>
            <p class="item-internet-speed__description mb-0">chaînes au choix parmi les Populaires et Sportives</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
            </div>
</div></div></div><div class="slick-slide" data-slick-index="4" aria-hidden="true" style="width: 280px;" tabindex="-1" role="tabpanel" id="slick-slide14"><div><div data-block-plugin-id="block_content:ef498578-ad06-4756-a67a-18123be1c073" class="block block-block-content block-block-contentef498578-ad06-4756-a67a-18123be1c073 h-100" style="width: 100%; display: inline-block;">
  
  
    

                              
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="https://acc0-dxp.videotron.com/sites/default/files/2019-06/helix_tv_icon_Fans_Films_Series.svg" alt="Film et série">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">LE FAN DE FILMS ET SÉRIES</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">39</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">15</p>
            <p class="item-internet-speed__description mb-0">chaînes au choix parmi les Populaires</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">1</p>
            <p class="item-internet-speed__description mb-0">choix parmi les Premium</p>
        </div>
            </div>
</div></div></div><div class="slick-slide" data-slick-index="5" aria-hidden="true" style="width: 280px;" tabindex="-1" role="tabpanel" id="slick-slide15"><div><div data-block-plugin-id="block_content:cf6a2061-b65a-4757-9695-cd3e43675837" class="block block-block-content block-block-contentcf6a2061-b65a-4757-9695-cd3e43675837 h-100" style="width: 100%; display: inline-block;">
  
  
    

                        
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="https://acc0-dxp.videotron.com/sites/default/files/2019-07/helix_tv_icon_Fans_De_Sports_0.svg" alt="TV fan de sport">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">LE FAN DE SPORTS</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">38</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">15</p>
            <p class="item-internet-speed__description mb-0">chaînes au choix parmi les  Populaires et Sportives</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
            </div>
</div></div></div><div class="slick-slide" data-slick-index="6" aria-hidden="true" style="width: 280px;" tabindex="-1" role="tabpanel" id="slick-slide16"><div><div data-block-plugin-id="block_content:c7ff1130-747e-4fb9-8329-ba8a4fc4a0c9" class="block block-block-content block-block-contentc7ff1130-747e-4fb9-8329-ba8a4fc4a0c9 h-100" style="width: 100%; display: inline-block;">
  
  
    

                              
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="https://acc0-dxp.videotron.com/sites/default/files/2019-06/helix_tv_icon_La_Totale.svg" alt="Totale">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">LA TOTALE</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">39</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">15</p>
            <p class="item-internet-speed__description mb-0">chaînes au choix parmi les  Populaires et Sportives</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">1</p>
            <p class="item-internet-speed__description mb-0">choix parmi les Premium</p>
        </div>
            </div>
</div></div></div><div class="slick-slide" data-slick-index="7" aria-hidden="true" style="width: 280px;" tabindex="-1" role="tabpanel" id="slick-slide17"><div><div data-block-plugin-id="block_content:050bed5a-1fd7-4389-9f65-6a1f5b666828" class="block block-block-content block-block-content050bed5a-1fd7-4389-9f65-6a1f5b666828 h-100" style="width: 100%; display: inline-block;">
  
  
    

                              
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="https://acc0-dxp.videotron.com/sites/default/files/2019-06/helix_tv_icon_Plein_la_Vue.svg" alt="Plein la vue">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">LE PLEIN LA VUE</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">55</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">30</p>
            <p class="item-internet-speed__description mb-0">chaînes au choix parmi les Populaires et Sportives</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">2</p>
            <p class="item-internet-speed__description mb-0">choix parmi les Premium</p>
        </div>
            </div>
</div></div></div><div class="slick-slide" data-slick-index="8" aria-hidden="true" style="width: 280px;" tabindex="-1" role="tabpanel" id="slick-slide18"><div><div data-block-plugin-id="block_content:3a81ee13-dfa1-4e09-a7e2-d7603169106e" class="block block-block-content block-block-content3a81ee13-dfa1-4e09-a7e2-d7603169106e h-100" style="width: 100%; display: inline-block;">
  
  
    

                  
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="/sites/default/files/styles/original/public/2020-09/picto%20app%20tv.webp?itok=D-4G67tR" alt="App TV">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">Appli Télé La Base</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
            </div>
</div></div></div><div class="slick-slide" data-slick-index="9" aria-hidden="true" style="width: 280px;" tabindex="-1" role="tabpanel" id="slick-slide19"><div><div data-block-plugin-id="block_content:8081ce74-9aa9-4bed-bb15-b4ec14284114" class="block block-block-content block-block-content8081ce74-9aa9-4bed-bb15-b4ec14284114 h-100" style="width: 100%; display: inline-block;">
  
  
    

                        
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="/sites/default/files/styles/original/public/2020-09/picto%20app%20tv.webp?itok=D-4G67tR" alt="App TV">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">Appli Télé Le Léger</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">28</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">5</p>
            <p class="item-internet-speed__description mb-0">chaînes au choix parmi les Populaires</p>
        </div>
            </div>
</div></div></div><div class="slick-slide" data-slick-index="10" aria-hidden="true" style="width: 280px;" tabindex="-1" role="tabpanel" id="slick-slide110"><div><div data-block-plugin-id="block_content:c2e919ff-7155-4346-8371-9442c803e2bc" class="block block-block-content block-block-contentc2e919ff-7155-4346-8371-9442c803e2bc h-100" style="width: 100%; display: inline-block;">
  
  
    

                        
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="/sites/default/files/styles/original/public/2020-09/picto%20app%20tv.webp?itok=D-4G67tR" alt="App TV">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">Appli Télé La Découverte Sports</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">31</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">8</p>
            <p class="item-internet-speed__description mb-0">chaînes au choix parmi les Populaires et Sportives</p>
        </div>
            </div>
</div></div></div><div class="slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" style="width: 280px;" tabindex="-1"><div><div data-block-plugin-id="block_content:264649c4-91c8-41da-884d-b4ed1e25dab8" class="block block-block-content block-block-content264649c4-91c8-41da-884d-b4ed1e25dab8 h-100" style="width: 100%; display: inline-block;">
  
  
    

                  
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="/sites/default/files/styles/original/public/2020-09/pictoTV%20_la_base_127px_1.webp?itok=Yl52kARI" alt="La Base">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">LA BASE </div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut : 
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
            </div>
</div></div></div><div class="slick-slide slick-cloned" data-slick-index="12" aria-hidden="true" style="width: 280px;" tabindex="-1"><div><div data-block-plugin-id="block_content:acef4cd7-ccfc-4065-86be-f33ef7d20934" class="block block-block-content block-block-contentacef4cd7-ccfc-4065-86be-f33ef7d20934 h-100" style="width: 100%; display: inline-block;">
  
  
    

                        
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="/sites/default/files/styles/original/public/2020-04/IPTV-ICO-forfait-leger-2004_rev.webp?itok=_ObzpFCq" alt="Logo le leger">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">LE LÉGER </div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">28</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">5</p>
            <p class="item-internet-speed__description mb-0">chaînes au choix parmi les Populaires</p>
        </div>
            </div>
</div></div></div><div class="slick-slide slick-cloned" data-slick-index="13" aria-hidden="true" style="width: 280px;" tabindex="-1"><div><div data-block-plugin-id="block_content:9563c56d-175f-4674-853c-cb08b5135ca2" class="block block-block-content block-block-content9563c56d-175f-4674-853c-cb08b5135ca2 h-100" style="width: 100%; display: inline-block;">
  
  
    

                        
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="https://acc0-dxp.videotron.com/sites/default/files/2019-06/helix_tv_icon_La_Decouverte.svg" alt="La decouverte">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">LA DÉCOUVERTE</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">33</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">10</p>
            <p class="item-internet-speed__description mb-0">chaînes au choix parmi les Populaires</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
            </div>
</div></div></div><div class="slick-slide slick-cloned" data-slick-index="14" aria-hidden="true" style="width: 280px;" tabindex="-1"><div><div data-block-plugin-id="block_content:4f13f075-9a7f-4c66-959b-58a82372cb00" class="block block-block-content block-block-content4f13f075-9a7f-4c66-959b-58a82372cb00 h-100" style="width: 100%; display: inline-block;">
  
  
    

                        
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="https://acc0-dxp.videotron.com/sites/default/files/2019-07/helix_tv_icon_Fans_De_Sports_0.svg" alt="TV fan de sport">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">LA DÉCOUVERTE SPORTS</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">31</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">8</p>
            <p class="item-internet-speed__description mb-0">chaînes au choix parmi les Populaires et Sportives</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
            </div>
</div></div></div><div class="slick-slide slick-cloned" data-slick-index="15" aria-hidden="true" style="width: 280px;" tabindex="-1"><div><div data-block-plugin-id="block_content:ef498578-ad06-4756-a67a-18123be1c073" class="block block-block-content block-block-contentef498578-ad06-4756-a67a-18123be1c073 h-100" style="width: 100%; display: inline-block;">
  
  
    

                              
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="https://acc0-dxp.videotron.com/sites/default/files/2019-06/helix_tv_icon_Fans_Films_Series.svg" alt="Film et série">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">LE FAN DE FILMS ET SÉRIES</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">39</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">15</p>
            <p class="item-internet-speed__description mb-0">chaînes au choix parmi les Populaires</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">1</p>
            <p class="item-internet-speed__description mb-0">choix parmi les Premium</p>
        </div>
            </div>
</div></div></div><div class="slick-slide slick-cloned" data-slick-index="16" aria-hidden="true" style="width: 280px;" tabindex="-1"><div><div data-block-plugin-id="block_content:cf6a2061-b65a-4757-9695-cd3e43675837" class="block block-block-content block-block-contentcf6a2061-b65a-4757-9695-cd3e43675837 h-100" style="width: 100%; display: inline-block;">
  
  
    

                        
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="https://acc0-dxp.videotron.com/sites/default/files/2019-07/helix_tv_icon_Fans_De_Sports_0.svg" alt="TV fan de sport">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">LE FAN DE SPORTS</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">38</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">15</p>
            <p class="item-internet-speed__description mb-0">chaînes au choix parmi les  Populaires et Sportives</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
            </div>
</div></div></div><div class="slick-slide slick-cloned" data-slick-index="17" aria-hidden="true" style="width: 280px;" tabindex="-1"><div><div data-block-plugin-id="block_content:c7ff1130-747e-4fb9-8329-ba8a4fc4a0c9" class="block block-block-content block-block-contentc7ff1130-747e-4fb9-8329-ba8a4fc4a0c9 h-100" style="width: 100%; display: inline-block;">
  
  
    

                              
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="https://acc0-dxp.videotron.com/sites/default/files/2019-06/helix_tv_icon_La_Totale.svg" alt="Totale">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">LA TOTALE</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">39</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">15</p>
            <p class="item-internet-speed__description mb-0">chaînes au choix parmi les  Populaires et Sportives</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">1</p>
            <p class="item-internet-speed__description mb-0">choix parmi les Premium</p>
        </div>
            </div>
</div></div></div><div class="slick-slide slick-cloned" data-slick-index="18" aria-hidden="true" style="width: 280px;" tabindex="-1"><div><div data-block-plugin-id="block_content:050bed5a-1fd7-4389-9f65-6a1f5b666828" class="block block-block-content block-block-content050bed5a-1fd7-4389-9f65-6a1f5b666828 h-100" style="width: 100%; display: inline-block;">
  
  
    

                              
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="https://acc0-dxp.videotron.com/sites/default/files/2019-06/helix_tv_icon_Plein_la_Vue.svg" alt="Plein la vue">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">LE PLEIN LA VUE</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">55</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">30</p>
            <p class="item-internet-speed__description mb-0">chaînes au choix parmi les Populaires et Sportives</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">2</p>
            <p class="item-internet-speed__description mb-0">choix parmi les Premium</p>
        </div>
            </div>
</div></div></div><div class="slick-slide slick-cloned" data-slick-index="19" aria-hidden="true" style="width: 280px;" tabindex="-1"><div><div data-block-plugin-id="block_content:3a81ee13-dfa1-4e09-a7e2-d7603169106e" class="block block-block-content block-block-content3a81ee13-dfa1-4e09-a7e2-d7603169106e h-100" style="width: 100%; display: inline-block;">
  
  
    

                  
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="/sites/default/files/styles/original/public/2020-09/picto%20app%20tv.webp?itok=D-4G67tR" alt="App TV">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">Appli Télé La Base</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
            </div>
</div></div></div><div class="slick-slide slick-cloned" data-slick-index="20" aria-hidden="true" style="width: 280px;" tabindex="-1"><div><div data-block-plugin-id="block_content:8081ce74-9aa9-4bed-bb15-b4ec14284114" class="block block-block-content block-block-content8081ce74-9aa9-4bed-bb15-b4ec14284114 h-100" style="width: 100%; display: inline-block;">
  
  
    

                        
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="/sites/default/files/styles/original/public/2020-09/picto%20app%20tv.webp?itok=D-4G67tR" alt="App TV">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">Appli Télé Le Léger</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">28</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">5</p>
            <p class="item-internet-speed__description mb-0">chaînes au choix parmi les Populaires</p>
        </div>
            </div>
</div></div></div><div class="slick-slide slick-cloned" data-slick-index="21" aria-hidden="true" style="width: 280px;" tabindex="-1"><div><div data-block-plugin-id="block_content:c2e919ff-7155-4346-8371-9442c803e2bc" class="block block-block-content block-block-contentc2e919ff-7155-4346-8371-9442c803e2bc h-100" style="width: 100%; display: inline-block;">
  
  
    

                        
  





<div class="item-internet-speed px-4 py-5 card card-rounded vui--style-black h-100">
            <div class="item-internet-speed__tv-header mb-5 text-center">
            <img class="mb-3 d-inline-block" src="/sites/default/files/styles/original/public/2020-09/picto%20app%20tv.webp?itok=D-4G67tR" alt="App TV">
            <h3 class="text-uppercase">
            <div class="field field--name-field-tv-icon-label field--type-string field--label-hidden field__item">Appli Télé La Découverte Sports</div>
      </h3>
        </div>
        <p class="font-weight-medium">    Ce forfait inclut :
</p>

    
                    <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">31</p>
            <p class="item-internet-speed__description mb-0">chaînes au total</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">23</p>
            <p class="item-internet-speed__description mb-0">chaînes La Base</p>
        </div>
                <div class="d-flex justify-content-between mt-3">
            <p class="item-internet-speed__icon-nb h5 font-weight-medium">8</p>
            <p class="item-internet-speed__description mb-0">chaînes au choix parmi les Populaires et Sportives</p>
        </div>
            </div>
</div></div></div></div></div><button class="slick-next slick-arrow" aria-label="Suivant" type="button" style="">Suivant</button><ul class="slick-dots" style="" role="tablist"><li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control10" aria-controls="slick-slide10" aria-label="1 of 3" tabindex="0" aria-selected="true">1</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control11" aria-controls="slick-slide11" aria-label="2 of 3" tabindex="-1">2</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control12" aria-controls="slick-slide12" aria-label="3 of 3" tabindex="-1">3</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control13" aria-controls="slick-slide13" aria-label="4 of 3" tabindex="-1">4</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control14" aria-controls="slick-slide14" aria-label="5 of 3" tabindex="-1">5</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control15" aria-controls="slick-slide15" aria-label="6 of 3" tabindex="-1">6</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control16" aria-controls="slick-slide16" aria-label="7 of 3" tabindex="-1">7</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control17" aria-controls="slick-slide17" aria-label="8 of 3" tabindex="-1">8</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control18" aria-controls="slick-slide18" aria-label="9 of 3" tabindex="-1">9</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control19" aria-controls="slick-slide19" aria-label="10 of 3" tabindex="-1">10</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control110" aria-controls="slick-slide110" aria-label="11 of 3" tabindex="-1">11</button></li></ul></div>
      
      <div class="description--bottom mt-4">
      <div class="field-rich-text-block"></div>
    </div>
              
    </div>
  </div>