{# Common #}
{% set reversed            = reversed|json_parse %}

{# Highlight #}
{% set button              = button|json_parse|default({}) %}
{% set fullWidth           = fullWidth|json_parse %}
{% set image               = image|json_parse|default({}) %}

{# Selection #}
{% set topLink             = topLink|json_parse|default({}) %}
{% set contentLists        = contentLists|json_parse|default([]) %}
{% set totalPrice          = totalPrice|json_parse|default({}) %}
{% set isExpandable       = isExpandable|json_parse %}

<div
    class="px-7 d-flex align-items-center justify-content-center minh-100 {% if reversed %}reversed bf-color-bg-ground{% endif %}"
>
    {% include '@bf-components/block/twig/' ~ blockVariant|default('highlight') ~ '.twig' %}
</div>