<div
    class="px-7 d-flex align-items-center justify-content-center h-100 w-100 {% if reversed %}reversed bf-color-bg-ground{% endif %}"
>
    {% include '@bf-components/block/twig/index.twig' with {
        title               : title|default(''),
        topLink             : topLink|default({})|json_parse,
        contentTop          : contentTop|default({})|json_parse,
        contentLists        : contentLists|default([])|json_parse,
        totalPrice          : totalPrice|default({})|json_parse,
        month               : month|default(''),
        isListingMode       : isListingMode|default(false)|json_parse,
        class               : class|default(''),
    } only %}
</div>