{# Import macros #}
{% import "@bf-utils/macros/twig/index.twig" as macros %}

{# Default Variables (Props, Controls) - Pre Boolean Variables #}
{% set accountData = accountData|default({}) %}

{# Boolean Variables #}
{% set isAccountConnected = accountData is not empty %}
{% set isReversed = reversed|default(false) is same as(true) %}

{# Default Variables (Props, Controls) - Post Boolean Variables #}
{% set langcode = langcode|default("EN") %}
{% set logo = logo|default({name: "videotron", href: "/"}) %}
{% set search_placeholder = search_placeholder|default("What are you looking for?") %}
{% set theme = theme|default("videotron") %}

{# Dynamic Variables #}
{% set langSwitchLabel = langcode == "EN" ? "FR" : "EN" %}

{# Arrays of Classes With Dynamic Elements #}
{% set headerClasses = [
  "bf-nav-header",
  (isReversed ? "reversed"),
] %}

{# Template #}
<div class="bf-background-overlay bf-transition-visibility js-bf-background-overlay"></div>
<header {{ macros.addAttributes({
  "role"      : "banner",
  "class"     : headerClasses|join(' ')|trim,
  "data-theme": (theme is defined ? theme),
}) }}>
	<nav class="bf-nav-header__nav">

		{# Logo #}
		<div class="bf-nav-header__logo">
			<a href="{{ logo.href }}" class="d-flex">
        <div class="bf-nav-header__logo__desktop">
          {% include "@bf-components/logo/twig/index.twig" with {
            name: logo.name,
            size: "large",
            langcode: langcode
          } only %}
        </div>
        <div class="bf-nav-header__logo__mobile">
          {% include "@bf-components/logo/twig/index.twig" with {
            name: logo.name,
            size: "medium",
            langcode: langcode
          } only %}
        </div>
			</a>
		</div>

    {# Main menu (Mobile|Tablet: Burger Menu, Desktop: Full menu) #}
    {% include "@bf-components/navigation-header/twig/_header-zone-main-menu.twig" %}

    {# Search + Account + Support #}
    <div class="bf-nav-header__functions">

      {# Search #}
      {% include "@bf-components/navigation-header/twig/_header-zone-search-bar.twig" %}

      {# My account #}
      {% include "@bf-components/navigation-header/twig/_header-zone-account.twig" %}

      {# Support #}
      <div class="bf-nav-header__functions__support">
        {% include "@bf-components/button-icon/twig/index.twig" with {
          href: '/',
          icon: "question-circle-outline",
        } only %}
      </div>
    </div>

    {# Language Switcher #}
    <div id="languageSwitcher" class="bf-nav-header__language-switcher">
      {# New way to do link, but for now I have no way to get what I need from Drupal #}
      {# {% include '@bf-components/button/twig/index.twig' with {
        label    : langSwitchLabel,
        hierarchy: 'tertiary',
        href     : "#",
        class    : "bf-nav-header__language-switcher__link",
      } only %} #}

      {# Current way the link is rendered in Drupal #}
      {% block language_switcher_desktop %}
        <a
          href="#"
          class="bf-button bf-button--tertiary bf-nav-header__language-switcher__link js-bf-nav-header__language-switcher__link"
          title="Français"
          language="fr"
          hreflang="fr"
          data-drupal-link-system-path="node/8531"
        >
          Français
        </a>
      {% endblock %}
    </div>
	</nav>
</header>
