{# Import macros #}
{% import "@bf-utils/macros/twig/index.twig" as macros %}

{# Default Variables (Props, Controls) - Pre Boolean Variables #}
{% set accountData = accountData|default({}) %}

{# Boolean Variables #}
{% set hasTopBar = hasTopBar is defined and hasTopBar is same as(true) %}
{% set isAccountConnected = accountData is not empty %}
{% set isBlockLanguageDefined = block("language_switcher_desktop") is defined and block("language_switcher_desktop") is not empty %}
{% set isBlockTopBarLeftNavDefined = block("top_bar_left_nav") is defined and block("top_bar_left_nav") is not empty %}
{% set isBlockTopBarRightNavDefined = block("top_bar_right_nav") is defined and block("top_bar_right_nav") is not empty %}
{% set isReversed = reversed|default(false) is same as(true) %}

{# Default Variables (Props, Controls) - Post Boolean Variables #}
{% set langcode = langcode|default("en")|lower %}
{% set logo = logo|default({name: "videotron", href: "/"}) %}
{% set searchPlaceholder = searchPlaceholder|default("What are you looking for?") %}
{% set theme = theme|default("videotron") %}

{# Arrays of Classes With Dynamic Elements #}
{% set headerClasses = [
  "bf-nav-header",
  (hasTopBar ? "has-top-bar"),
  (isReversed ? "reversed"),
] %}

{# If defined, override of "language_switcher_desktop" block #}
{% if isBlockLanguageDefined %}
    {% set overrideBlockLanguage %}
        {% block language_switcher_desktop %}{% endblock %}
    {% endset %}
{% endif %}

{# If defined, override of "top_bar_left_nav" block #}
{% if isBlockTopBarLeftNavDefined %}
    {% set overrideTopBarLeft %}
        {% block top_bar_left_nav %}{% endblock %}
    {% endset %}
{% endif %}

{# If defined, override of "top_bar_right_nav" block #}
{% if isBlockTopBarRightNavDefined %}
    {% set overrideTopBarRight %}
        {% block top_bar_right_nav %}{% endblock %}
    {% endset %}
{% endif %}

{# Logo link title #}
{% if logo.name is same as("videotron") %}
  {% set logoLinkTitle = "Videotron"|t %}
{% else %}
  {% set logoLinkTitle = "Videotron Business"|t %}
{% endif %}

{# Template #}
<div class="bf-background-overlay bf-transition-visibility js-bf-background-overlay"></div>
<header {{ macros.addAttributes({
  "role": "banner",
  "class": headerClasses|join(' ')|trim,
  "data-theme": (theme is defined ? theme),
}) }}>

  {# Top Bar #}
  {% if hasTopBar %}
    {% include "@bf-components/navigation-header/twig/top-bar.twig" with {
      navLeftItems: topBarData.left,
      navRightItems: topBarData.right,
      overrideTopBarLeft: overrideTopBarLeft,
      overrideTopBarRight: overrideTopBarRight,
    } %}
  {% endif %}

  {# Main Navigation Bar #}
	<nav {{ macros.addAttributes({
    "class": "bf-nav-header__nav",
    "aria-label": "Main Navigation"|t,
    "role": "navigation",
  }) }}>

		{# Logo #}
		<div class="bf-nav-header__logo">
			<a {{ macros.addAttributes({
        "href": logo.href,
        "class": "bf-nav-header__logo__link",
        "title": logoLinkTitle,
      }) }}>
        <div class="bf-nav-header__logo__desktop">
          {% include "@bf-components/logo/twig/index.twig" with {
            name: logo.name,
            size: "large",
            langcode: langcode
          } only %}
        </div>
        <div class="bf-nav-header__logo__mobile">
          {% include "@bf-components/logo/twig/index.twig" with {
            name: logo.name,
            size: "medium",
            langcode: langcode
          } only %}
        </div>
			</a>
		</div>

    {# Main menu (Mobile|Tablet: Burger Menu, Desktop: Full menu) #}
    {% include "@bf-components/navigation-header/twig/_header-zone-main-menu.twig" %}

    {# Search + Account + Support #}
    <div class="bf-nav-header__functions">

      {# Search #}
      {% include "@bf-components/navigation-header/twig/_header-zone-search-bar.twig" %}

      {# My account #}
      {% include "@bf-components/navigation-header/twig/_header-zone-account.twig" %}

      {# Support #}
      <div class="bf-nav-header__functions__support">
        {% set supportTitle = "Support"|t %}
        {% include "@bf-components/button-icon/twig/index.twig" with {
          ariaLabel: "Support Icon"|t,
          href: '/',
          icon: "question-circle-outline",
          extraAttribute: 'title="' ~ supportTitle ~ '"',
        } only %}
      </div>
    </div>

    {# Language Switcher #}
    {% include "@bf-components/navigation-header/twig/_header-zone-language.twig" with {
      overrideBlockLanguage: overrideBlockLanguage
    } %}

	</nav>
</header>
