{% if hasTopBar is defined and hasTopBar is same as (true) %}
    {% include '@bf-components/navigation-header/twig/top-bar.twig' with {
        items                   : topBar.items|default([]),
        secondaryItems          : topBar.secondaryItems|default([]),
        isConnected             : isConnected|default(false),
        accountHello            : accountHello|default('Hello'),
        accountName             : accountName|default('Benjamin Desjardins'),
        hrefLogOut              : hrefLogOut|default('#'),
        labelLogOut             : labelLogOut|default('Logout'),
        hrefConnexion           : hrefConnexion|default('#'),
        labelConnexion          : labelConnexion|default('My Customer Centre'),
        reversed                : reversed|default(false),
    } only %}
{% endif %}

<header
    role='banner'
    class='bf-header z-index-18
           {% if reversed is defined and reversed is same as (true) %}reversed{% endif %}'
    {% if theme is defined %} data-theme={{theme}} {% endif %}
>
    <nav class='bf-header__nav w-100 border-bottom bf-border-color-secondary {{ class|default('') }}'>

        <!-- Logo -->
        <div class='bf-header__logo'>
            <a href='{{ logo.href|default('#') }}' class='d-flex'>
                {% include '@bf-components/logo/twig/index.twig' with {
                    name        : logo.name,
                    size        : 'large',
                    langcode    : langcode|default('EN'),
                } only %}
            </a>
        </div>

        <!-- Main Nav -->
        <div class='bf-header__nav-main js-collapse-full-height'>
            <ul class='bf-megamenu  list'>
                {% block navbar_content %}
                    {% include '@bf-components/navigation-header/twig/mega-menu.twig' with {
                        navItems    : navItems,
                        reversed    : reversed
                    } only %}
                {% endblock %}
            </ul>
        </div>

        <!-- Actions -->
        <div class='bf-header__actions'>

                <div class="bf-header__rigth-icon-links ">
                    {# <!-- rigth Icon Links - visible on mobile only --> #}
                    {% for link in rigthIconLinks|default([])|slice(0, 5) %}
                        {% if link is defined and link.href is not empty and link.icon is not empty %}
                            {% include '@bf-components/button-icon/twig/index.twig' with {
                                href    : link.href,
                                icon    : link.icon,
                                class   : link.class,
                                badge   : (link.badge.label) ? { label : link.badge.label } : {} ,
                            } only %}
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Btn account dropdown -->
                {% if hasAccountBtn is defined and hasAccountBtn is same as (true) %}
                    {% if isConnected is same as (true) %}
                        {% include '@bf-components/button-icon/twig/index.twig' with {
                            href        : hrefLogOut|default('#'),
                            icon        : 'out',
                            ariaLabel   : labelLogOut|default('Log out'),
                        } %}
                    {% else %}
                        {% include '@bf-components/button-icon/twig/index.twig' with {
                            href        : hrefConnexion|default('#'),
                            icon        : 'profile',
                            ariaLabel   : labelConnexion|default('Log in'),
                        } %}
                    {% endif %}
                {% endif %}

                {# <!-- Btn mini cart -->
                    empty or not the cart icon will display on mobile or desktop as long as the hasCartBtn is true
                    if there is need to hide on desktop (or all) on empty cart add :
                    class   :   (cartBtn.badge.label is defined and cartBtn.badge.label) ? '':'d-lg-none'
                    class   :   (cartBtn.badge.label is defined and cartBtn.badge.label) ? '':'d-none'
                #}
                 {% if hasCartBtn is defined and hasCartBtn %}

                    {% if cartBtn.badge is defined and cartBtn.badge and cartBtn.badge is not same as ('0') %}
                        {% set badgeLabel =  cartBtn.badge %}
                    {% endif %}

                    {% include '@bf-components/button-icon/twig/index.twig' with {
                        icon        : 'cart',
                        hierarchy   : 'primary',
                        badge       : (badgeLabel is defined) ? badgeLabel : NULL,
                        href        : (cartBtn.href is defined and cartBtn.href) ? cartBtn.href : '',
                        ariaLabel   : cartBtn.ariaLabel|default(''),
                    } only %}
                {% endif %}

                {# <!-- Btn search toggle --> #}
                {% include '@bf-components/button-icon/twig/index.twig' with {
                    icon            : 'search',
                    dataToggle      : 'collapse',
                    dataTarget      : '#navbarSearch',
                    ariaControls    : 'navbarSearch',
                    ariaExpanded    : 'false',
                    class           : 'd-flex d-md-none js-bf-search-toggler'
                } only %}

            {# <!-- Search --> #}
            {% if hasNoSearchBtn is not defined or hasNoSearchBtn is same as (false) %}
                <div class='bf-header__search-bar js-bf-header__search-bar d-none d-md-block ml-1' id='navbarSearch'>
                    <div class='d-flex align-items-center justify-content-between w-100'>
                        {% block globalSearch %}
                            {% include '@bf-components/input-search/twig/index.twig' with {
                                class       : 'mb-0',
                                input       : {
                                    placeholder : search.placeholder|default('')|t,
                                },
                                reversed    : reversed,
                            } %}
                        {% endblock %}
                        {% include '@bf-components/button-icon/twig/index.twig' with {
                            icon            : 'x',
                            dataToggle      : 'collapse',
                            dataTarget      : '#navbarSearch',
                            ariaControls    : 'navbarSearch',
                            ariaExpanded    : 'false',
                            class           : 'd-flex d-md-none m-1 p-1'
                        } only %}
                    </div>
                </div>
            {% endif %}

        </div>

    </nav>

    {# <!-- Algolia search results-->  #}
    {% if hasNoSearchBtn is not defined or hasNoSearchBtn is same as (false) %}
        <div class='align-items-center justify-content-between w-100'>
            <div id='alg-hits' class='ais-Hits bf-color-bg-ground alg-hidden'></div>
        </div>
    {% endif %}

</header>
