{# Import macros #}
{% import "@bf-utils/macros/twig/index.twig" as macros %}

{# Default Variables #}
{% set langcode = langcode|default("EN") %}
{% set logo     = logo|default({name: "videotron", href: "/"}) %}
{% set reversed = reversed|default(false) %}
{% set theme    = theme|default("videotron") %}

{# Boolean Variables #}
{% set isReversed = reversed is defined and reversed is same as(true) %}

{# Arrays of Classes With Dynamic Elements #}
{% set headerClasses = [
  "bf-header",
  "z-index-18",
  (isReversed ? "reversed"),
] %}

{# Objects of Attributes With Dynamic Elements #}
{% set headerAttributes = {
  "role": "banner",
  "class": headerClasses|join(' ')|trim,
  "data-theme": (theme is defined ? theme),
} %}

{# Template #}
<header {{ macros.addAttributes(headerAttributes) }}>
	<nav class="bf-header__nav">

		{# Logo #}
		<div class="bf-header__logo">
			<a href="{{ logo.href }}" class="d-flex">
				{% include "@bf-components/logo/twig/index.twig" with {
          name: logo.name,
          size: "large",
          langcode: langcode
        } only %}
			</a>
		</div>

	</nav>
</header>
