{% if hasTopBar is defined and hasTopBar is same as (true) %}
    {% include '@bf-components/navigation-header/twig/top-bar.twig' with {
        items                   : topBar.items|default([]),
        secondaryItems          : topBar.secondaryItems|default([]),
        isConnected             : isConnected|default(false),
        accountHello            : accountHello|default('Hello'),
        accountName             : accountName|default('Benjamin Desjardins'),
        hrefLogOut              : hrefLogOut|default('#'),
        labelLogOut             : labelLogOut|default('Logout'),
        hrefConnexion           : hrefConnexion|default('#'),
        labelConnexion          : labelConnexion|default('My Customer Centre'),
        reversed                : reversed|default(false),
    } only %}
{% endif %}

<header
    role='banner'
    class='bf-header z-index-18
           {% if reversed is defined and reversed is same as (true) %}reversed{% endif %}'
    {% if theme is defined %} data-theme={{theme}} {% endif %}
>
    <nav class='bf-header__nav w-100 bf-border-bottom-secondary {{ class|default('') }}'>
        
        <!-- Logo -->
        <div class='bf-header__logo' data-animate='fade-in'>
            <a href='{{ logo.href|default('#') }}' class='d-flex'>
                {% include '@bf-components/logo/twig/index.twig' with {
                    name        : logo.name,
                    size        : 'large',
                    langcode    : langcode|default('EN'),
                } only %}
            </a>
        </div>

        <!-- Main Nav -->
        <div class='bf-header__nav-main js-collapse-full-height' data-animate-row=''>
            <ul class='bf-megamenu d-flex list h-100'>
                {% block navbar_content %}
                    {% include '@bf-components/navigation-header/twig/mega-menu.twig' with { 
                        navItems    : navItems,
                        reversed    : reversed
                    } only %}
                {% endblock %}
            </ul>
        </div>

        <!-- Actions -->
        <div class='bf-header__actions d-flex align-items-center justify-content-end w-100 h-100 pr-3' data-animate='fade-in'>

            <div class='d-flex d-lg-none align-items-center'>
                {% for link in rigthIconLinks|default([]) %}
                    {% if link.href is not empty and link.icon is not empty %}
                        <a href='{{ link.href }}' class='link--no-decoration m-1 p-1'>
                            {% include '@bf-components/icon/twig/index.twig' with {
                                name    : link.icon,
                                class   : link.class
                            } %}
                        </a>
                    {% endif %}
                {% endfor %}

                <!-- Btn account dropdown -->
                {# {% if hasAccountBtn is defined and hasAccountBtn is same as (true) %}
                    {% include '@bf-components/navigation-header/twig/btn-account.twig' with { class:'' } only %}
                {% endif %}

                <!-- Btn mini cart -->
                {% if hasMiniCartBtn is defined and hasMiniCartBtn is same as (true) %}
                    {% include '@bf-components/navigation-header/twig/btn-minicart.twig' with { class:'' } only %}
                {% endif %} #}

                <!-- Btn search toggle -->
                <button class='d-flex d-md-none vui--style-reset m-1 p-1 js-bf-search-toggler'
                        type='button'
                        data-toggle='collapse'
                        data-target='#navbarSearch'
                        aria-controls='navbarSearch'
                        aria-expanded='false'>
                    {% include '@bf-components/icon/twig/index.twig' with {
                        name    : 'search',
                        class   : ''
                    } %}
                </button>
            </div>

            <!-- Search -->
            {% if hasNoSearchBtn is not defined or hasNoSearchBtn is same as (false) %}
                <div class='bf-header__search-bar js-bf-header__search-bar d-none d-md-block ml-1' id='navbarSearch' data-animate='fade-in'>
                    <div class='d-flex align-items-center justify-content-between w-100'>
                        {% block globalSearch %}
                            {% include '@bf-components/input-search/twig/index.twig' with {
                                class       : 'mb-0',
                                input       : {
                                    placeholder     : search.placeholder|default('')|t,
                                },
                                reversed    : reversed,
                            } %}
                        {% endblock %}
                        <button class='d-flex d-md-none vui--style-reset m-1 p-1'
                                type='button'
                                data-toggle='collapse'
                                data-target='#navbarSearch'
                                aria-controls='navbarSearch'
                                aria-expanded='false'>
                            {% include '@bf-components/icon/twig/index.twig' with {
                                name    : 'x',
                                class   : ''
                            } %}
                        </button>
                    </div>
                </div>
            {% endif %}

        </div>

    </nav>

  {% if hasNoSearchBtn is not defined or hasNoSearchBtn is same as (false) %}
    <div class='align-items-center justify-content-between w-100'>
      <div id='alg-hits' class='ais-Hits bg-white alg-hidden'></div>
    </div>
  {% endif %}

</header>
