{# Import macros #}
{% import "@bf-utils/macros/twig/index.twig" as macros %}

{# Default Variables #}
{% set langcode = langcode|default("EN") %}
{% set logo     = logo|default({name: "videotron", href: "/"}) %}
{% set reversed = reversed|default(false) %}
{% set theme    = theme|default("videotron") %}

{# Dynamic Variables #}
{% set langSwitchLabel = langcode == "EN" ? "FR" : "EN" %}

{# Boolean Variables #}
{% set isReversed = reversed is defined and reversed is same as(true) %}

{# Arrays of Classes With Dynamic Elements #}
{% set headerClasses = [
  "bf-header",
  (isReversed ? "reversed"),
] %}
{% set burgerMenuButtonClasses = [
  "bf-button-icon__inner",
  "bf-header__main-menu__mobile-toggle__burger",
  "js-bf-burger-menu-toggle",
] %}

{# Objects of Attributes With Dynamic Elements #}
{% set headerAttributes = {
  "role"      : "banner",
  "class"     : headerClasses|join(' ')|trim,
  "data-theme": (theme is defined ? theme),
} %}
{% set burgerMenuButtonAttributes = {
  "type"            : "button",
  "class"           : burgerMenuButtonClasses|join(' ')|trim,
  "aria-label"      : "Open Main Menu"|t,
  "data-label-open" : "Open Main Menu"|t,
  "data-label-close": "Close Main Menu"|t,
  "data-toggle"     : "collapse",
  "data-target"     : "#mainMenuContainer",
  "aria-controls"   : "mainMenuContainer",
  "aria-expanded"   : "false",
} %}

{# Template #}
<header {{ macros.addAttributes(headerAttributes) }}>
	<nav class="bf-header__nav">

		{# Logo #}
		<div class="bf-header__logo">
			<a href="{{ logo.href }}" class="d-flex">
        <div class="bf-header__logo__desktop">
          {% include "@bf-components/logo/twig/index.twig" with {
            name: logo.name,
            size: "large",
            langcode: langcode
          } only %}
        </div>
        <div class="bf-header__logo__mobile">
          {% include "@bf-components/logo/twig/index.twig" with {
            name: logo.name,
            size: "medium",
            langcode: langcode
          } only %}
        </div>
			</a>
		</div>

    {# Main menu (Mobile|Tablet: Burger Menu, Desktop: Full menu) #}
    <div id="mainMenu" class="bf-header__main-menu">

      {# Burger menu button #}
      <div class="bf-button-icon bf-header__main-menu__mobile-toggle">
        <button {{ macros.addAttributes(burgerMenuButtonAttributes) }}>
          {% include '@bf-components/icon/twig/index.twig' with {
            name: "menu-burger",
            size: "small",
            class: "",
          } only %}
          {% include '@bf-components/icon/twig/index.twig' with {
            name: "x",
            size: "small",
            class: "d-none",
          } only %}
        </button>
      </div>

      <div id="mainMenuContainer" class="bf-header__main-menu__container collapse">
        {% include "@bf-components/navigation-header/twig/mega-menu.twig" with {
          navItems: navItems,
          reversed: reversed
        } only %}
      </div>
    </div>

    {# Search + Account + Support #}
    <div class="bf-header__functions">
      {# Search #}
      <div class="bf-header__functions__search-bar">
        {% include "@bf-components/button-icon/twig/index.twig" with {
          icon: "search"
        } only %}
      </div>

      {# My account #}
      <div class="bf-header__functions__account">
        {% include "@bf-components/button-icon/twig/index.twig" with {
          icon: "my-account"
        } only %}
      </div>

      {# Support #}
      <div class="bf-header__functions__support">
        {% include "@bf-components/button-icon/twig/index.twig" with {
          icon: "question-circle-outline"
        } only %}
      </div>
    </div>

    {# Language Switcher #}
    <div id="languageSwitcher" class="bf-header__language-switcher">
      {# New way to do link, but for now I have no way to get what I need from Drupal #}
      {# {% include '@bf-components/button/twig/index.twig' with {
        label    : langSwitchLabel,
        hierarchy: 'tertiary',
        href     : "#",
        class    : "bf-header__language-switcher__link",
      } only %} #}

      {# Current way the link is rendered in Drupal #}
      {% block language_switcher_desktop %}
        <a
          href="#"
          class="bf-button bf-button--tertiary bf-header__language-switcher__link js-bf-header__language-switcher__link"
          title="Français"
          language="fr"
          hreflang="fr"
          data-drupal-link-system-path="node/8531"
        >
          Français
        </a>
      {% endblock %}
    </div>

	</nav>
</header>
