<a href="{{ href }}" class="link--no-decoration" rel="{{ rel|default('') }}" tabindex=-1 {{ subItem.extraAttribute|default(NULL) }}>
    <div class="d-flex flex-column flex-md-row align-items-center {{ class|default('') }}" >
        {% include '@bf-components/banner/twig/index.twig' with {
            image       : {
              src: imgSrc,
              alt: imgAlt,
            },
            href        : href,
            title       : title,
            paragraph   : paragraph
          } only %}

    </div>
</a>
