{% embed "molecules-modal" with {
    modalId:"modalInStorePaymentFail",
    modalClass:"modal-callout--danger",
    modalSize:"md"
} %}
    {% block modal_header %}
        <div class="d-flex mb-2 align-items-center">
            {% include '@atoms/06-icons/icon-svg.twig' with {
                iconName: "error",
                iconSize: 3,
                iconClass:"mr-3"
            } only %}
            <h2 class="mb-0">Try again</h2>
        </div>
    {% endblock %}

    {% block modal_body %}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos illum iusto natus necessitatibus ratione tempore tenetur ullam unde veniam voluptatibus.</p>

        <div class="mt-4 d-md-flex justify-content-end">
            {% include '@atoms/02-buttons/00-button.twig' with {
                buttonLabel:"Close",
                buttonColor:"reset",
                buttonClass:"link-underline btn--condensed",
                dataDismiss:"modal"
            } %}

            {% include '@atoms/02-buttons/00-button.twig' with {
                buttonClass:"btn--condensed w-100--mobile-only",
                buttonLabel:"Save",
                buttonColor:"primary",
                dataDismiss:"modal"
            } %}
        </div>
    {% endblock %}
{% endembed %}
