{# Default Variables (Props, Controls) #}
{% set class = class|default("") %}
{% set name = name|default("placeholder") %}
{% set size = size|default("small") %}

{# Boolean Variables #}
{% set hasColor = color is defined and color is not empty %}
{% set isReversed = reversed|default(false) is same as(true) %}
{% set isSizeSmall = size is defined and size is same as("small") %}
{% set isSizeXSmall = size is defined and size is same as("xsmall") %}

{# Boolean Variables - ORDER IS IMPORTANT #}
{% set isColorPrimary = hasColor and color is same as("primary") %}

{# Variables #}
{% set sizeSuffix = isSizeXSmall or isSizeSmall ? "sm" : "lg" %}

{# Arrays of Classes With Dynamic Elements #}
{% set iconClasses = [
  "bf-icon",
  "size-" ~ size,
  (isReversed ? "reversed"),
  (hasColor and isColorPrimary is same as(false) ? "color-" ~ color),
  (class),
] %}

{# Template #}
<span class="{{ iconClasses|join(' ')|trim }}" role="presentation">
  {% include "@bf-components/icon/twig/svg-twig/" ~ name ~ "-" ~ sizeSuffix ~ ".svg.twig" %}
</span>
