{% set size             = size %}
{% set classSize        = 'size-' ~ size %}
{% set sizeSuffix   = (size is same as ('xsmall') or size is same as ('small') ? 'sm' : 'lg' ) %}
{% set classReversed    = (reversed is defined and reversed is same as (true)) ? ' reversed' : '' %}
{% set classColor       = (color is defined and color is not empty) ? ' color-' ~ color : '' %}
{% set classes          = 'bf-icon ' ~ classReversed ~ ' ' ~  classColor ~ ' ' ~ classSize %}
{% set name             = name|default('placeholder') %}
<span class='{{ classes }} {{ class|default('') }}' role='presentation'>
    {% include '@bf-components/icon/twig/svg-twig/' ~ name ~ '-' ~ sizeSuffix ~'.svg.twig' ignore missing %}
</span>
{# Note: Do not add empty line above the <span>.
In order to avoid text-decoration continuing in links (for example: Back to top link).#}
