{# Import macros #}
{% import "@bf-utils/macros/twig/index.twig" as macros %}

{# Default Variables (Props, Controls) #}
{% set class = class|default("") %}
{% set color = color|default("primary") %}
{% set name = name|default("placeholder") %}
{% set size = size|default("small") %}

{# Boolean Variables #}
{% set isReversed = (reversed ?? false) is same as(true) %}
{% set isSizeSmall = size is defined and size is same as("small") %}
{% set isSizeXSmall = size is defined and size is same as("xsmall") %}

{# Variables #}
{% set sizeSuffix = isSizeXSmall or isSizeSmall ? "sm" : "lg" %}

{# Arrays of Classes With Dynamic Elements #}
{% set iconClasses = [
  "bf-icon",
  "size-" ~ size,
  "color-" ~ color,
  (isReversed ? "reversed"),
  (class),
] %}

{# Template #}
<span {{ macros.addAttributes({
  "class": iconClasses|join(' ')|trim,
  "role": "presentation",
}) }}>
  {% include "@bf-components/icon/twig/svg-twig/" ~ name ~ "-" ~ sizeSuffix ~ ".svg.twig" %}
</span>
