{% set type             = type|default('interface') %}
{% set size             = size|default('small') %}
{% set classSize        =  "size-"~ size  %}
{% set sizeSuffix       = (size is same as ('xsmall') or size is same as ('small') ? 'sm' : 'lg' ) %}
{% set classReversed    = (reversed is defined and reversed is same as (true)) ? ' reversed' : '' %}
{% set classColor       = (color is defined and color is not empty) ? ' color-' ~ color : '' %}
{% set classes          = 'bf-icon ' ~ classReversed ~ ' ' ~  classColor ~' ' ~ classSize %}
{% set name             = name|default('placeholder') %}

<div
    class='{{ classes }} {{ class|default('') }}'
    {% if type is same as ('interface') %}role='presentation'{% endif %}
>
    {% include '@bf-components/icon/svg/' ~ name ~ '-' ~ sizeSuffix ~'.svg' ignore missing %}
</div>

{# Note: Do not add empty line above the <div>.
In order to avoid text-decoration continuing in links (for example: Back to top link).#}
