{% set classReversed    = (reversed is defined and reversed is same as (true)) ? ' reversed' : '' %}
{% set classColor       = (color is defined and color is not empty) ? ' color-' ~ color : '' %}
{% set classSize        = (size is defined and size is not empty) ? ' size-' ~ size : '' %}
{% set class            = 'bf-icon' ~ classReversed ~ classColor ~ classSize ~ ' ' ~ class %}
{% set type             = type|default('interface') %}
{% set name             = name|default('placeholder') %}
<div class="{{ class|default('') }} type-{{type}}" {% if type is same as ('interface') %}role="decoration"{% endif %}>
    {% include '@bf-components/icon/svg/' ~ type ~ '/' ~ name ~ '.svg' with {
        class : class
    } only %}
</div>

{# Note: Do not add empty line above the <div>.
In order to avoid text-decoration continuing in links (for example: Back to top link).#}