{% set classReversed    = (reversed is defined and reversed is same as (true)) ? ' reversed' : '' %}
{% set classColor       = (color is defined) ? ' color-' ~ color : '' %}
{% set classSize        = (size is defined) ? ' size-' ~ size : '' %}
{% set class            = 'bf-icon' ~ classReversed ~ classColor ~ classSize ~ ' ' ~ class %}
<div class="{{ class|default('') }} ml-{{ marginLeft|default(0) }}">
    {% include '@bf-components/icon/svg/interface/' ~ name|default('account-balance') ~ '.svg' with {
        class : class
    } only %}
</div>

{# Note: Do not add empty line above the <div>.
In order to avoid text-decoration continuing in links (for example: Back to top link).#}