{# Boolean Variables #}
{% set hasTitle = title is defined and title is not empty %}
{% set isReversed = (reversed ?? false) is same as(true) %}

{# Default Variables #}
{% set background = background|default("ground") %}
{% set class = class|default("") %}
{% set titleTag = titleTag|default("p") %}

{# Classes Objects #}
{% set backgroundClasses = {
  ("ground"): "bf-color-bg-ground",
  ("underground"): "bf-color-bg-underground",
} %}

{# Arrays of Classes With Dynamic Elements #}
{% set sectionTilesPostClasses = [
  "bf-section-tiles-post",
  (backgroundClasses[background]),
  (isReversed ? "reversed"),
  (class),
] %}

{# Template #}
<section class="{{ sectionTilesPostClasses|join(' ')|trim }}">
  <div class="container-fluid py-5 py-md-7">

    {# Title #}
    {% if hasTitle %}
      {% embed "@bf-utils/custom-tag/twig/index.twig" with {
        customTag: titleTag,
        attr: {
          "class": "h2 mb-4 mb-md-5"
        },
      } %}
        {% block customTagContent %}
          {{ title }}
        {% endblock %}
      {% endembed %}
    {% endif %}

    {# Tiles #}
    <ul class="d-flex flex-column flex-md-row flex-wrap gap-4 list-unstyled">
      {% for tile in tiles %}

        {# In Loop : Boolean Variables #}
        {% set isTileSizeLarge = tile.size|default("default") is same as("large") %}

        {# In Loop : Arrays of Classes With Dynamic Elements #}
        {% set tileClasses = [
          "bf-section-tiles-post__item mb-4",
          (isTileSizeLarge ? "bf-section-tiles-post__item--size-large"),
        ] %}

        <li class="{{ tileClasses|join(' ')|trim }}">
          {% include "@bf-components/tile-post/twig/index.twig" with tile only %}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
