<div class='bf-table-content {{ isDisabled ? 'disabled' }}'>
 <div class="d-lg-block d-none">
  {% include '@bf-components/tab/twig/index.twig' %}
 </div>
  <div class="d-lg-none d-block">
    {% include '@bf-components/dropdown/twig/index.twig' with {
      label           : label,
      dropdownItems   : navItems,
      class           : '',
    } only %}
  </div>
</div>

