<div class="d-flex flex-row justify-content-center align-items-center {{ class|default('') }} ">
    <button class="icon-btn-circle icon-btn-circle--lg js-slick-prev position-relative {{ btnMinusClass|default(NULL)}}"
            aria-label="Prev"
            type="button"
            aria-disabled="false"
            style="">
        {% include '@atoms/06-icons/icon-svg-minus.twig' with { iconSize:6, iconColor:"dark", iconClass:"position-absolute--center"} %}
    </button>

    <h1 class="mx-5">{{ number|default('1') }}</h1>

    <button class="icon-btn-circle icon-btn-circle--lg js-slick-next position-relative {{ btnPlusClass|default(NULL) }}"
            aria-label="Next"
            type="button"
            aria-disabled="false"
            style="">
        {% include '@atoms/06-icons/icon-svg-plus.twig' with { iconSize:6, iconColor:"dark", iconClass:"position-absolute--center"} %}
    </button>
</div>