{# Boolean Variables #}
{% set hasAriaControls = ariaControls is defined and ariaControls is not empty %}
{% set hasAriaExpanded = ariaExpanded is defined and ariaExpanded is not empty %}
{% set hasAriaLabel = ariaLabel is defined and ariaLabel is not empty %}
{% set hasBadge = badgeLabel is defined and badgeLabel is not empty %}
{% set hasDataDismiss = dataDismiss is defined and dataDismiss is not empty %}
{% set hasDataTarget = dataTarget is defined and dataTarget is not empty %}
{% set hasDataToggle = dataToggle is defined and dataToggle is not empty %}
{% set hasHref = href is defined and href is not empty %}
{% set hasLabel = label is defined and label is not empty %}
{% set isDisabled = isDisabled|default(false) is same as(true) %}
{% set isReversed = reversed|default(false) is same as(true) %}

{# Boolean Variables - ORDER IS IMPORTANT #}
{% set isLink = hasHref and not isDisabled %}

{# Default Variables (Props, Controls) #}
{% set buttonClass = buttonClass|default("") %}
{% set class = class|default("") %}
{% set icon = icon|default("placeholder") %}

{# Variables #}
{% set componentTag = isLink ? "a" : "button" %}

{# Arrays of Classes With Dynamic Elements #}
{% set buttonContainerClasses = [
  "bf-button-icon",
  (isDisabled ? "disabled"),
  (class),
] %}
{% set buttonIconClasses = [
  "bf-button-icon__inner",
  (isReversed ? "reversed"),
  (isDisabled ? "disabled"),
  (buttonClass),
] %}

{# Button Attributes #}
{% set buttonIconAttributes = {
  "href": (isLink ? href),
  "type": (isLink is same as(false) ? "button"),
  "class": buttonIconClasses|join(' ')|trim,
  "disabled": (isDisabled ? "disabled"),
  "aria-controls": (hasAriaControls ? ariaControls),
  "aria-disabled": (isDisabled ? "true"),
  "aria-expanded": (hasAriaExpanded ? ariaExpanded),
  "aria-label": (hasAriaLabel ? ariaLabel),
  "data-dismiss": (hasDataDismiss ? dataDismiss),
  "data-target": (hasDataTarget ? dataTarget),
  "data-toggle": (hasDataToggle ? dataToggle),
  "data-title": (hasLabel ? label|render|t(
      [],
      {
        langcode: "EN",
        context: "data-title-attribute"
      }
  )),
} %}

{# Template #}
<div class="{{ buttonContainerClasses|join(' ')|trim }}">
  {% embed "@bf-utils/custom-tag/twig/index.twig" with {
    customTag: componentTag,
    attr: buttonIconAttributes,
    extraAttr: extraAttribute,
  } %}
    {% block customTagContent %}
      {% include "@bf-components/icon/twig/index.twig" with {
        name: icon,
        size: "small"
      } only %}
    {% endblock %}
  {% endembed %}

  {% if hasBadge %}
    {% set badgeLabel = badgeLabel > 99 ? "+99" : badgeLabel %}
    {% include "@bf-components/badge/twig/index.twig" with {
      label: badgeLabel,
      class: "bf-button-icon__badge",
      hierarchy: "primary",
      isRounded: true
    } only %}
  {% endif %}
</div>
