<!-- understanding-my-bill.twig -->
<section class="bg-gray--100 py-section">
    <div class="container-fluid">
        {# Frequently asked questions ---------------------------------------- #}
        <div class="row align-items-center">
            <div class="col-md-5 mb-5 mb-md-0" data-animate-row="">
                {% include '@molecules/07-content/content-suptitle-with-h2.twig' with {
                    supTitle:"Billing & accounts",
                    title:"Understanding my phoenix bill"
                } %}

                <p class="mb-5" data-animate="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi aperiam architecto aspernatur, dolores expedita fuga fugiat in nemo numquam officia placeat quasi quia velit voluptatem voluptatum. Deleniti, praesentium!</p>

                <div class="col-8 col-md-8 col-lg-6 p-0" data-animate="">
                    {% include 'atoms-link-button-secondary' with {
                        class:"w-100",
                        label:"Lorem ipsum"
                    } only %}
                </div>
            </div>

            <div class="d-none d-md-block col-md-6 offset-md-1" data-animate="">
                {% include '@atoms/11-images/img-lazy-load.twig' with {
                    class:"img-fluid",
                    src: "https://source.unsplash.com/1600x900/?nature"
                } only %}

            </div>
        </div>
    </div>
</section>
