{% set title = title|default('My Selection') %}
{% set month = month|default('month') %}
{% set forLabel = forLabel|default('For') %}
{% set duration = duration|default('24') %}
{% set savingLabel = savingLabel|default('You save:') %}
{% set subtitleTotal = subtitleTotal|default('Plus applicables taxes') %}
{% set totalPrice = totalPrice|default('$80') %}
{% set cart = cart|json_parse %}

<div
    class="px-7 d-flex align-items-center justify-content-center h-100 w-100 {% if reversed %}reversed bf-color-bg-ground{% endif %}"
>
    {% include '@bf-components/cart-selection/twig/index.twig' with {
        title       : title,
        month       : month,        
        forLabel    : forLabel,        
        duration    : duration,        
        savingLabel : savingLabel,        
        subtitleTotal : subtitleTotal,
        totalPrice  : totalPrice,
        cart        : cart,
                
    } only %}

 

</div>


{% if isInvalid|default(false)|json_parse %}
    <script>
        function setInvalid() {
            document.getElementsByClassName('form-group')[0].classList.add('is-invalid');
        }
        setInvalid();
    </script>
{% endif %}