<div class='px-7 d-flex flex-column align-items-center justify-content-center minh-100'>
    {% for index in [1,2] %}
        
        <div class='p-5 {{ index == 2 ? 'reversed bf-color-bg-ground' : ''  }}'>

            <div>
                <a href='#' class='bf-link m-2'>Link native</a>
                <a href='#' class='bf-link disabled m-2'>Link disabled</a>
            </div>

            <div>
                <a href='#' class='bf-link bf-link--primary m-2'>Link Primary</a>
                <a href='#' class='bf-link bf-link--primary disabled m-2'>Link disabled</a>
            </div>

        </div>
        
    {% endfor %}
</div>
