{% set isUnderline  = isUnderline|json_parse %}
{% set isDisabled   = isDisabled|json_parse %}
{% set reversed     = reversed|json_parse %}

{% set backgroundClasses = [ '', 'bf-color-bg-ground reversed', 'bf-color-bg-highlight highlight', 'bf-color-bg-highlight highlight reversed' ] %}

<div class='template-container'>
    {% for backgroundClass in backgroundClasses %}

        <div class='d-flex justify-content-center align-items-start gap-5 p-5 {{ backgroundClass|default(null) }}'>

            <div class='d-flex flex-column align-items-start'>
                <p class='small'>Native</p>

                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default('Link native'),
                } %}

                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default('Link native'),
                    iconName    : iconName|default('chevron-left')
                } %}

                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default('Link native'),
                    iconName    : iconName|default('external-link'),
                    iconPosition: iconPosition|default('right')
                } %}

                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default('Disabled'),
                    iconName    : iconName|default('external-link'),
                    isDisabled  : isDisabled|default(true)
                } %}

                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default('No underline'),
                    iconName    : iconName|default('external-link'),
                    isUnderline : isUnderline|default(false)
                } %}

                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default(''),
                    iconName    : iconName|default('external-link')
                } %}

            </div>

            <div class='d-flex flex-column align-items-start'>

                <p class='small flex-grow-1'>Primary</p>

                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default('Link primary'),
                    hierarchy   : hierarchy|default('primary'),
                } %}

                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default('Link primary'),
                    hierarchy   : hierarchy|default('primary'),
                    iconName    : iconName|default('chevron-left')
                } %}

                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default('Link primary'),
                    hierarchy   : hierarchy|default('primary'),
                    iconName    : iconName|default('external-link'),
                    iconPosition: iconPosition|default('right')
                } %}

                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default('Disabled'),
                    hierarchy   : hierarchy|default('primary'),
                    iconName    : iconName|default('external-link'),
                    isDisabled  : isDisabled|default(true)
                } %}

                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default('No underline'),
                    hierarchy   : hierarchy|default('primary'),
                    iconName    : iconName|default('external-link'),
                    isUnderline : isUnderline|default(false)
                } %}

                {% include '@bf-components/link/twig/index.twig' with {
                    label       : label|default(''),
                    hierarchy   : hierarchy|default('primary'),
                    iconName    : iconName|default('external-link')
                } %}

            </div>

        </div>

    {% endfor %}
</div>

<style>
  .template-container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr));
    height: 100vh;
  }
</style>