{# Default Variables (Props, Controls) #}
{% set isUnderline = isUnderline|json_parse %}
{% set isDisabled = isDisabled|json_parse %}
{% set reversed = reversed|json_parse %}

{% set variants = [
  {
    _name: "Ground",
    backgroundClass: "bf-color-bg-ground"
  },
  {
    _name: "Underground",
    backgroundClass: "bf-color-bg-underground"
  },
  {
    _name: "Ground + Reversed",
    backgroundClass: "bf-color-bg-ground reversed",
    reversed: true
  },
  {
    _name: "Underground + Reversed",
    backgroundClass: "bf-color-bg-underground reversed",
    reversed: true
  },
  {
    _name: "Highlight",
    backgroundClass: "bf-color-bg-highlight highlight",
    highlight: true
  },
  {
    _name: "Highlight + Reversed",
    backgroundClass: "bf-color-bg-highlight reversed highlight",
    reversed: true,
    highlight: true
  }
] %}

{# Template #}
<div class="template-container">
  {% for variant in variants %}
    {% set reversed = reversed|default(variant.reversed) %}
    {% set highlight = highlight|default(variant.highlight) %}
    <div class="d-flex flex-column {{ variant.backgroundClass }}">
      <h1 class="h3 p-4">{{ variant._name }}</h1>
      <div class="d-flex justify-content-center align-items-start gap-5">
        <div class="d-flex flex-column align-items-start">
          <p class="small">Native</p>

          {% include "@bf-components/link/twig/index.twig" with {
            label: label|default("Link native")
          } %}

          {% include "@bf-components/link/twig/index.twig" with {
            label: label|default("Link native"),
            iconName: iconName|default("chevron-left")
          } %}

          {% include "@bf-components/link/twig/index.twig" with {
            label: label|default("Link native"),
            iconName: iconName|default("external-link"),
            iconPosition: iconPosition|default("right")
          } %}

          {% include "@bf-components/link/twig/index.twig" with {
            label: label|default("Disabled"),
            iconName: iconName|default("external-link"),
            isDisabled: isDisabled|default(true)
          } %}

          {% include "@bf-components/link/twig/index.twig" with {
            label: label|default("No underline"),
            iconName: iconName|default("external-link"),
            isUnderline: isUnderline|default(false)
          } %}

          {% include "@bf-components/link/twig/index.twig" with {
            label: label|default(""),
            iconName: iconName|default("external-link")
          } %}
        </div>

        <div class="d-flex flex-column align-items-start">
          <p class="small flex-grow-1">Primary</p>

          {% include "@bf-components/link/twig/index.twig" with {
            label: label|default("Link primary"),
            hierarchy: hierarchy|default("primary")
          } %}

          {% include "@bf-components/link/twig/index.twig" with {
            label: label|default("Link primary"),
            hierarchy: hierarchy|default("primary"),
            iconName: iconName|default("chevron-left")
          } %}

          {% include "@bf-components/link/twig/index.twig" with {
            label: label|default("Link primary"),
            hierarchy: hierarchy|default("primary"),
            iconName: iconName|default("external-link"),
            iconPosition: iconPosition|default("right")
          } %}

          {% include "@bf-components/link/twig/index.twig" with {
            label: label|default("Disabled"),
            hierarchy: hierarchy|default("primary"),
            iconName: iconName|default("external-link"),
            isDisabled: isDisabled|default(true)
          } %}

          {% include "@bf-components/link/twig/index.twig" with {
            label: label|default("No underline"),
            hierarchy: hierarchy|default("primary"),
            iconName: iconName|default("external-link"),
            isUnderline: isUnderline|default(false)
          } %}

          {% include "@bf-components/link/twig/index.twig" with {
            label: label|default(""),
            hierarchy: hierarchy|default("primary"),
            iconName: iconName|default("external-link")
          } %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<style>
  .template-container { display: grid; grid-template-columns: repeat( auto-fit,
  minmax(400px, 1fr)); height: 100vh; }
</style>
