<button 
    type="button"
    class="
        btn
        btn-{{ size|default('md') }} 
        btn-{{ color|default('primary') }} 
        {{ class|default('') }}
    "
    {% if disabled is defined and disabled is same as (true) %}disabled {% endif %}
>
    {{ label|default('Default') }}
</button>
