<button 
    type="button"
    class="btn btn-{{ buttonSize|default('md') }} btn-{{ buttonColor|default('primary') }} {{ buttonClass|default('') }}"
>
    {{ buttonLabel|default('Default') }}
</button>
