{% if environnment is same as ('dev') %}
    {% include "@bf-utils/validation.twig" with { self: _self, context: _context } only %}
{% endif %}

<button 
    type="button"
    class="btn btn-{{ size|default('md') }} btn-{{ color|default('primary') }} {{ styleClass|default('') }} {% if fullWidth is same as ('true') %}btn-block{% endif %}"
    {% if disabled is same as ('true') %}disabled{% endif %}
>
    {{ label|default('Default') }}
</button>