<p class='p-4'>
    <b>Note: </b>
    There is no Breadcrumb Drupal component in Bifrost.
    Please use <a class='bf-link' target='_blank' href='https://getbootstrap.com/docs/4.0/components/breadcrumb/'>Bootstrap syntax</a>.
</p>

<div>
    <nav aria-label='breadcrumb'>
        <ol class='breadcrumb'>
            <li class='breadcrumb-item active' aria-current='page'>Home</li>
        </ol>
    </nav>

    <nav aria-label='breadcrumb'>
        <ol class='breadcrumb'>
            <li class='breadcrumb-item'><a href='#'>Home</a></li>
            <li class='breadcrumb-item active' aria-current='page'>Library</li>
        </ol>
    </nav>

    <nav aria-label='breadcrumb'>
        <ol class='breadcrumb'>
            <li class='breadcrumb-item'><a href='#'>Home</a></li>
            <li class='breadcrumb-item'><a href='#'>Library</a></li>
            <li class='breadcrumb-item active' aria-current='page'>Data</li>
        </ol>
    </nav>
</div>

<div class='reversed bf-color-bg-ground'>

    <nav aria-label='breadcrumb'>
        <ol class='breadcrumb'>
            <li class='breadcrumb-item active' aria-current='page'>Home</li>
        </ol>
    </nav>

    <nav aria-label='breadcrumb'>
        <ol class='breadcrumb'>
            <li class='breadcrumb-item'><a href='#'>Home</a></li>
            <li class='breadcrumb-item active' aria-current='page'>Library</li>
        </ol>
    </nav>

    <nav aria-label='breadcrumb'>
        <ol class='breadcrumb'>
            <li class='breadcrumb-item'><a href='#'>Home</a></li>
            <li class='breadcrumb-item'><a href='#'>Library</a></li>
            <li class='breadcrumb-item active' aria-current='page'>Data</li>
        </ol>
    </nav>

</div>
