<div class="card-body">
    <div class="mb-4">
        <h3 class="mb-2">Would you like Videotron to transfer your actual services free of charge?  </h3>
        <p>Your request will be processed within 24 hours after completion of your order.</p>
    </div>

    {% include 'templates-tab-input-selection--port-in' with { class:"mb-4" } only %}
    {#{% include 'templates-tab-input-selection--port-in--call-us' with { class:"mb-4" } only %}#}

    {% include '@molecules/06-accordion/accordion-nav-btn.twig' with {
        'class': 'mt-5',
        'anchorIdPrev': accordionAnchorIdPrev|default(''),
        'anchorIdNext': accordionAnchorIdNext|default('')
    } %}
</div>