<div class="card-body">
    {% include '@organisms/30-calendar/appointment.twig' with { class:"", calendarFormClass: "js-slick-fade-on-collapse" } only %}

    {% include '@molecules/06-accordion/accordion-nav-btn.twig' with {
        'class': 'mt-5',
        'anchorIdPrev': accordionAnchorIdPrev|default(''),
        'anchorIdNext': accordionAnchorIdNext|default('')
    } %}
</div>

{#<!-- CSR ONLY  -------------------------------- -->#}
{#<div class="card-body bg--csr color--light">#}
    {#<div class="row">#}
        {#<div class="col-12">#}
            {#{% include '@atoms/03-form/input-with-label.twig' with {#}
                {#label:"Comments",#}
                {#inputId:"_account_appointment_csr_comments",#}
                {#class:"mb-0",#}
                {#inputClass:""#}
            {#} %}#}
        {#</div>#}
    {#</div>#}
{#</div>#}