/* *****************************************************************************
*
*  CARD
*
* ***************************************************************************** */

.card-KSP-with-icon-bottom-right {
  background-size: cover;
  background-position: center;

  &__img {
    height: 3.7rem;

    img, svg {
      width: auto;
      height: 100%;
    }
  }
}
