<!-- my-account-header.twig -->
<section class="vui--style-black py-6 position-relative overflow-hidden">
    <img src="/images/header/layout-1.png" class="position-absolute--top-right" alt="" >

    <div class="container-fluid d-flex flex-column {{ containerClass|default('') }}">
        <h1 class="mb-3">{{ title|default('My helix Account') }}</h1>
        <p class="h4 mb-3">{{ subTitle|default('&nbsp;')|raw }}</p>
    </div>
</section>