{% embed "molecules-modal--with-image" with {
    modalId:"modalVideotronplusSubscribeConfirmation",
    modalImg: "/images/assets/videotron-plus/vid-plus_385x665.jpg",
    buttonPrimaryLabel: "See all my +",
    buttonSecondaryLabel: "close"
} %}
    {% block modal_body_scroll_container %}
        <div class="mb-5">
            <p class="mb-1 color-gray--600">Subscription successful</p>
            <p class="h1 vui--font-secondary-bold">Welcome John!</p>
        </div>

        <p class="">You won't regret it. Start enjoying incredible offers today. Lorem ipsum dolor sit amet concupiscing elit matdolor sit amet.</p>
    {% endblock %}
{% endembed %}
