{% extends "base-page--funnel.twig" %}

{% set navStepByStep_tplName = "account-creation" %}
{% set navStepByStep_activeNumber = 2 %}

{#{% set page_hero_title = "" %}#}
{#{% set page_hero_subtitle = " " %}#}

{# ------------------------------------------------------------------------------------------------------------------ #}

{% block page_main_container %}
    <section class="py-section">
        <div class="container-fluid">
            <h2>Finalize your purchase</h2>

            <div class="card">
                <div class="card-body px-md-6">
                    <h3 class="mb-4">Contact Customer Service</h3>

                    <div class="mb-4">
                        <p class="h4 mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p class="font-weight-bold mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad animi delectus dolor ducimus, enim eveniet minus molestiae natus necessitatibus obcaecati odit quas repudiandae sed sequi sint, totam unde ut.</p>
                    </div>

                    {% include '@atoms/02-buttons/00-button.twig' with {
                        buttonLabel:"Contact us",
                        extraAttribute: ''
                    } %}
                    {#{% include 'organisms-cta-contact-us' with { class:"" } only %}#}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
