{% extends "base-page--funnel.twig" %}

{% set page_hero_title = "Checkout" %}
{% set hasTermsAndConditions = true %}

{# ------------------------------------------------------------------------------------------------------------------ #}

{% block page_main_content %}
    <section class="py-section">
        {% include 'templates-accordion--olsf-step-by-step' with {
            accordionsItems : [
                { title: "Port in services",  subtitle:"Lorem ipsum dolor sit amet", anchorId: "PortInServices", tplName: "olsf-port-in-services", isActive:true },
                { title: "Serial Numbers", anchorId: "SerialNumbers", tplName: "olsf-serial-numbers", isActive:false },
                { title: "Credit Check", anchorId: "CreditCheck", tplName: "olsf-credit-check", isActive:false },
                { title: "Payment", anchorId: "Payment", tplName: "olsf-payment", isActive:false },
                { title: "Appointment selection", anchorId: "AppointmentSelection", tplName: "olsf-appointment-selection", isActive:false },
                { title: "Order review", anchorId: "OrderReview", tplName: "olsf-order-review", isActive:false }
            ]
        } %}
    </section>
{% endblock %}

{% block page_aside %}
    <section class="py-section">
        <div class="mb-3" data-animate-row="">
            {% include '@organisms/05-payment/payment-amount-due-today.twig' %}
            {% include '@organisms/05-payment/payment-billing-summary.twig' %}
        </div>

        {% include '@organisms/05-payment/payment-next-bill.twig' %}
    </section>
{% endblock %}

{% block modals_container %}
    {{ parent() }}

    {# MODAL : credit adjustment #}
    {% include '@organisms/08-modal/_modal-funnel--credit-check-adjustment.twig' %}

    {# MODAL : place my order #}
    {% include '@organisms/08-modal/_modal-terms-and-conditions-with-checkbox.twig' %}

    {# MODAL : Postal code - fill the address #}
    {% include 'organisms-modal-address--fill' %}
{% endblock %}
