{% if variant is defined and variant is same as ('badge') %}

    {% include '@bf-components/tag/twig/badge.twig' %}

{% else %}

    <span class="tag vui--text-highlight tag--{{ tagColor|default('primary') }} {{ tagClass|default('') }}">{{ tagLabel|default('Limited time - get voice for free!') }}</span>

{% endif %}