{% if variant is defined and variant is same as ('badge') %}

    {% include '@bf-components/tag/twig/badge.twig' %}

{% else %}

    <div class="bf-tag {{ class|default('') }}">
        <div class="bf-tag__container position-relative d-flex align-items-center">
            <p class='bf-tag__label small font-weight-bold m-0'>
                {{ label|default('') }}
            </p>
        </div>
    </div>

{% endif %}