{% set link         = link|json_parse %}
{% set description  = description|json_parse %}
{% set details      = details|json_parse %}
{% set content      = content|json_parse %}
{% set reversed     = reversed|json_parse %}
{% set hasCheckBulletIcon   = hasCheckBulletIcon|json_parse %}
{% set hasDivider   = hasDivider|json_parse %}

<div  class='container-fluid d-flex flex-column d-sm-flex flex-sm-row justify-content-center {% if reversed %}reversed bf-color-bg-ground{% endif %}'>
  {% for index in [1,2] %}
    <div>
      <div class='p-4'>
        <p class='bf-text-interface-large'>List with labels only</p>

        <div class='p-4 {% if index == 2 and reversed is not defined %}reversed bf-color-bg-ground{% endif %}'>
          {% include '@bf-components/list/twig/index.twig' with {
            content     : [
              {
                label   : label|default('Lorem ipsum'),
                iconName: iconName|default(null),
                link    : {
                  href    : link.href|default('https://www.example.com'),
                  label   : link.label|default('link'),
                }
              },
              {
                label   : label|default('Lorem ipsum'),
                iconName: iconName|default('')
              },
              {
                label   : label|default('Lorem ipsum Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.'),
                link    : {
                  href    : link.href|default('https://www.example.com'),
                  label   : link.label|default('link'),
                }
              },
            ],
          } %}
        </div>
      </div>

      <div class='p-4'>
        <p class='bf-text-interface-large'>List with labels and icons</p>

        <div class='p-4 {% if index == 2 and reversed is not defined %}reversed bf-color-bg-ground{% endif %}'>
          {% include '@bf-components/list/twig/index.twig' %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<div class='bf-color-bg-underground p-4 my-4'>
  <p class='bf-text small mb-0'>
    <strong>Note: </strong> <br/>
    Use the <strong>list</strong> and <strong>list--divider</strong> CSS class for simple unordered lists <br/>
    Use the List component in Bifrost for more complex lists layout.
  </p>
</div>

{#  CSS only #}
<div class=''>
  {% for index in [1,2] %}
  <div class="container-fluid d-flex d-flex flex-column d-sm-flex flex-sm-row justify-content-center">
    <div class='p-4'>
      <p class='bf-text-interface-large'>List css only</p>

      <div class='p-4 {% if index == 2 and reversed is not defined %}reversed bf-color-bg-ground{% endif %}'>
        <ul class='list'>
          <li>Lorem ipsum</li>
          <li>Lorem ipsum</li>
          <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus
            eget urna mollis ornare vel eu leo.</li>
        </ul>
      </div>
    </div>

    <div class='p-4'>
      <p class='bf-text-interface-large'>List with divider css only</p>

      <div class='p-4 {% if index == 2 and reversed is not defined %}reversed bf-color-bg-ground{% endif %}'>
        <ul class='list list--divider'>
          <li>Lorem ipsum</li>
          <li>Lorem ipsum</li>
          <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus
            eget urna mollis ornare vel eu leo.
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
</div>