{% set link             = link|json_parse %}
{% set description      = description|json_parse %}
{% set details          = details|json_parse %}
{% set content          = content|json_parse %}
{% set reversed         = reversed|json_parse %}

<div class='container-fluid d-flex flex-column d-sm-flex flex-sm-row justify-content-center {{ reversed|default(index == 2) ? 'reversed bf-color-bg-ground' }}'>
  {% for index in [1,2] %}
    <div class='p-4 {% if index == 2 and reversed is not defined %}reversed bf-color-bg-ground{% endif %}'>
      {% include '@bf-components/list/twig/index.twig' %}
    </div>
  {% endfor %}
</div>