{% set link         = link|json_parse %}
{% set description  = description|json_parse %}
{% set details      = details|json_parse %}
{% set content      = content|json_parse %}
{% set reversed     = reversed|json_parse %}
{% set isFeatured   = isFeatured|json_parse %}


<div
  class='d-flex justify-content-center minh-100 {% if reversed %}reversed bf-color-bg-ground{% endif %}'>
  {% for index in [1,2] %}
    <div>
    <div class='p-4'>
      <p>List with labels only</p>
      <div class='p-4 {% if index == 2 and reversed is not defined %}reversed bf-color-bg-ground{% endif %}'>
        {% include '@bf-components/list/twig/index.twig' with {
          content     : [
            {
              label   : label|default('Lorem ipsum'),
              iconName: iconName|default(null)
            },
            {
              label   : label|default('Lorem ipsum'),
              iconName: iconName|default('')
            },
            {
              label   : label|default('Lorem ipsum Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.'),
            },
          ],
        } %}
      </div>

    </div>
    <div class='p-4'>
      <p>List with labels and icons</p>
      <div class='p-4 {% if index == 2 and reversed is not defined %}reversed bf-color-bg-ground{% endif %}'>
        {% include '@bf-components/list/twig/index.twig' %}
      </div>
    </div>

</div>
  {% endfor %}
</div>