{% set hasTag = hasTag|default(false)|json_parse %}
{% set hasImage = hasImage|default(false)|json_parse %}
{% set titleCard = titleCard|default('') %}
{% set subTitleCard = subTitleCard|default('') %}
{% set labelLink = labelLink|default('') %}
{% set cardType = cardType|default('plan') %}
{% set cardStatus = cardStatus|default('active') %}
{% set phoneSelected = phoneSelected|default('notSelected') %}
{% set optionList = optionList|json_parse %}
{% set warningLabel = warningLabel|default('Only plans with a minimum of $40.00 per month are available with that phone.') %}

<div
    class="px-7 d-flex align-items-center justify-content-center h-100 w-100 {% if reversed %}reversed bf-color-bg-ground{% endif %}"
>
    {% include '@bf-components/card/twig/index.twig' with {
        class                   : class|default(''),
        cardType                : cardType,
        hasImage                 : hasImage,
        imageGifSrc             : imageGifSrc,
        imageIcon               : imageIcon,                
        hasTag                   : hasTag,
        buttonClass             : buttonClass|default(''),
        iconClass               : iconClass|default(''),
        titleCard               : titleCard|default(''),
        subTitleCard            : subTitleCard|default(''),
        labelBtn                : labelBtn|default(''),
        labelLink               : labelLink|default(''),
        cardStatus              : cardStatus|default('active'),
        phoneSelected           : phoneSelected|default('notSelected'),
        linkLearnMoreCard       : linkLearnMoreCard,
        imageGifAlt             : imageGifAlt,
        imageIcon               : imageIcon,
        warningLabel            : warningLabel,
        optionList              : optionList,
                
    } only %}


</div>