{% set image           = image|json_parse %}
{% set link            = link|json_parse %}
{% set contentLists    = contentLists|json_parse %}
{% set detailsColors   = detailsColors|default('')|json_parse %}
{% set detailsStorage = detailsStorage|json_parse %}
{% set price           = price|json_parse %}
{% set buttons         = buttons|json_parse %}
{% set isDisabled      = isDisabled|json_parse %}
{% set messageLink     = messageLink|json_parse %}

<div
    class="px-3 px-sm-7 d-flex align-items-center justify-content-center minh-100 {% if reversed %}reversed bf-color-bg-ground{% endif %}"
>
    {% include '@bf-components/card/twig/' ~ cardVariant|default('index') ~ '.twig' %}
</div>