<div
    class="px-7 d-flex align-items-center justify-content-center h-100 w-100 {% if reversed %}reversed bf-color-bg-ground{% endif %}"
>
    {% include '@bf-components/card/twig/plan.twig' with {
        upperTitle              : upperTitle|default(''),
        title                   : title|default(''),
        description             : description|default(''),
        link                    : link|default({})|json_parse,
        badge                   : badge|default(''),
        contentLists            : contentLists|default([])|json_parse,
        price                   : price|default({})|json_parse,
        buttons                 : buttons|default([])|json_parse,
        message                 : message|default(''),
        class                   : class|default(''),
        disabled                : disabled|default(false)|json_parse,
        language                : language|default('en'),
    } only %}
</div>