<div class='d-flex flex-column flex-sm-row justify-content-center minh-100 {% if reversed %}reversed bf-color-bg-ground{% endif %}'>
    {% for index in [1,2] %}

        <div class='flex-grow-1 d-flex align-items-center justify-content-center minh-100 p-4 {% if index == 2 and reversed is not defined %}reversed bf-color-bg-ground{% endif %}'>
            
            {# {% include '@bf-components/card/twig/' ~ cardVariant|default('index') ~ '.twig' ignore missing %} #}

        </div>

    {% endfor %}
</div>