<div
    class="px-7 d-flex align-items-center justify-content-center h-100 w-100 {% if reversed %}reversed bf-color-bg-ground{% endif %}"
>
    {% include '@bf-components/card/twig/index.twig' with {
        image                   : image|json_parse|default({}),
        iconName                : iconName|default(''),
        upperTitle              : upperTitle|default(''),
        title                   : title|default(''),
        description             : description|default(''),
        link                    : link|json_parse|default({}),
        badge                   : badge|default(''),
        contentLists            : contentLists|json_parse|default([]),
        price                   : price|json_parse|default({}),
        note                    : note|default(''),
        buttons                 : buttons|json_parse|default([]),
        message                 : message|default(''),
        class                   : class|default(''),
        disabled                : disabled|json_parse|default(false),
        language                : language|default('en'),
    } only %}
</div>