<div class="d-flex align-items-end">
    {% include '@atoms/03-form/input-with-label.twig' with {
        label:"Let's check if the services are available at client's address",
        labelClass:"font-weight-normal",
        inputId:"videotronValidationNumber",
        inputClass:" mt-2",
        inputPlaceholder:"Postal code",
        class: "mb-0"
    } %}

    {% include '@atoms/02-buttons/00-button.twig' with { buttonLabel:"Confirm", buttonType:"Submit", buttonSize:"md", buttonClass:"ml-2 mt-2 disabled" } %}
</div>

{% include '@atoms/04-links/link-underline.twig' with { label:"I can't find the address", class:"mt-3 d-inline-block", headingSize:6 } %}
