<div>
    <div class="row align-items-end mb-3">
        <div class="col-6 col-md-5">
            {% include '@atoms/03-form/input-with-label.twig' with {
                label:"Postal code",
                labelClass:"",
                inputId:"search_postalCode",
                inputClass:"mt-2",
                class: "mb-0",
            } %}
        </div>

        <div class="col-6 col-md-3">
            {% include '@atoms/02-buttons/00-button.twig' with { buttonLabel:"Check", buttonType:"Submit", buttonClass:"mt-2 disabled btn--condensed w-100" } %}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-8">
            {% include '@atoms/03-form/input-with-label.twig' with {
                label:"Street name",
                inputId:"search_streetName",
                inputClass:"mt-2",
                class: "mb-0",
            } %}
        </div>
        <div class="col-md-4">
            {% include '@atoms/03-form/input-with-label.twig' with {
                label:"City",
                inputId:"search_city",
                inputClass:"mt-2",
                class: "mb-0",
            } %}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-md-4">
            {% include '@atoms/03-form/input-with-label.twig' with {
                label:"Civic number",
                labelClass:"",
                inputId:"search_civixNumber",
                inputClass:"mt-2",
                class: "mb-0",
            } %}
        </div>
        <div class="col-12 col-md-8">
            {% include '@atoms/03-form/input-with-label.twig' with {
                label:"Apt, suite, building",
                labelClass:"",
                inputId:"search_streetName",
                inputClass:"mt-2",
                class: "mb-0",
            } %}
        </div>
    </div>
</div>