<section class="vui--style-black py-hero {{ class|default('') }}">
    <div class="container-fluid">
        <h1 class="mb-3">Channels selections</h1>
        <h4 class="font-weight-bold">Forfait All-In TV Plan. Votre sélection doit inclure:</h4>

        <ul>
            <li>15 sélections de chaînes populaires et sportives</li>
            <li>1 sélection de chaîne Premium</li>
        </ul>

        <div class="d-flex align-items-baseline">
            {% include '@atoms/02-buttons/40-button-link-underline.twig' with {
                buttonClass:"p-0 text-left mb-0 color--light",
                headingSize: 5,
                buttonLabel:"Select for me"
            } %}
            {% include '@atoms/02-buttons/40-button-link-underline.twig' with {
                buttonClass:"p-0 ml-4 mb-0 color--light",
                headingSize: 5,
                buttonLabel:"View channels"
            } %}
        </div>
    </div>
</section>
