{% set channelsListingId = "channel_sticky_nav" %}

{# ------------------------------------------------------------------------------------------------------------------ #}

<div class="d-flex flex-wrap mb-3 p-5">
    {% include '@molecules/21-form-item/item-channel.twig' with { class:"", inputId: channelsListingId ~ "_channel_1"  } %}
    {% include '@molecules/21-form-item/item-channel.twig' with { class:"item-channel--state-cant-unselect", inputId: channelsListingId ~ "_channel_2" } %}
    {% include '@molecules/21-form-item/item-channel.twig' with { class:"item-channel--state-locked", inputId: channelsListingId ~ "_channel_3"  } %}
    {% include '@molecules/21-form-item/item-channel.twig' with { class:"item-channel--bundle bundle-first", inputId: channelsListingId ~ "_channel_4"  } %}
    {% include '@molecules/21-form-item/item-channel.twig' with { class:"item-channel--bundle", inputId: channelsListingId ~ "_channel_5"  } %}
    {% include '@molecules/21-form-item/item-channel.twig' with { class:"item-channel--bundle", inputId: channelsListingId ~ "_channel_6"  } %}
    {% include '@molecules/21-form-item/item-channel.twig' with { class:"item-channel--bundle bundle-last", inputId: channelsListingId ~ "_channel_7"  } %}
    {% include '@molecules/21-form-item/item-channel.twig' with { class:"item-channel--hd-basic", inputId: channelsListingId ~ "_channel_8"  } %}
    {% include '@molecules/21-form-item/item-channel.twig' with { class:"item-channel--a-la-carte", inputId: channelsListingId ~ "_channel_9"  } %}
</div>