{% set reversed = reversed|json_parse  %}
{% set currentStep = currentStep|json_parse %}
{% set steps = steps|json_parse %}
{% set hasCounter = hasCounter|json_parse %}
{% set counterLabel = counterLabel|json_parse %}
{% set isNextClickable = isNextClickable|json_parse %}


<div class='w-100'>
  {% for index in 1..4 %}
    {% if index == 3 or index == 4 %}
      {% set reversedClass = ' reversed' %}
    {% endif %}

    {% if index == 2 or index == 4 %}
      {% set bgClass = 'bf-color-bg-underground' %}
    {% else %}
      {% set bgClass = 'bf-color-bg-ground' %}
    {% endif %}

    <div class=" p-3 m-1  {{ bgClass ~ reversedClass }} ">
      {% include '@bf-components/stepper/twig/index.twig' %}
    </div>
  {% endfor %}
</div>