{# Default Variables #}
{% set titleTag = titleTag|default("h3") %}

{# Arrays of Classes With Dynamic Elements #}
{% set listContainerClasses = [
  "bf-list",
  (class|default("")),
] %}

{# Template #}
{% if title is defined and title is not empty %}
  {% embed "@bf-utils/custom-tag/twig/index.twig" with {
    customTag: titleTag,
    attr: {
      "class": "h3"
    },
  } %}
    {% block customTagContent %}
      {{ title }}
    {% endblock %}
  {% endembed %}
{% endif %}

<ul class="{{ listContainerClasses|join(' ')|trim }}">
  {% for item in content %}
    <li class="d-flex flex-row mb-2">
      {% if item.iconName is defined %}
        {% include "@bf-components/icon/twig/index.twig" with {
          name: item.iconName,
          class: "mr-2"
        } only %}
      {% endif %}
      <p class="m-0">
        {{ item.label }}
      </p>
    </li>
  {% endfor %}
</ul>
