<ul class='list  bf-content-list {{hasDivider|default('') ? 'list--divider' }} {{ contentClass|default('') }}'>
  {% for item in content %}
    <li class='d-flex flex-row mb-2 justify-content-between'>
      <p class='d-flex m-0'>
        {% if item.iconName is defined and item.iconName %}
          {% include '@bf-components/icon/twig/index.twig' with {
            name    :  item.iconName,
            class   : 'mr-2',
            size    : 'small'
          } only %}
        {% elseif defaultBullet is defined and defaultBullet %}
          {% include '@bf-components/icon/twig/index.twig' with {
            name    : defaultBullet,
            class   : 'mr-2',
            size    : 'small'
          } only %}
        {% endif %}

        <span>{{ item.label }}</span>
      </p>

      {% if item.link is defined and item.link %}
        <p class='text-right mb-0 ml-3'>
          {% include '@bf-components/link/twig/index.twig' with {
              label : link.label|default(''),
              href  : link.href|default(''),
          } only %}
        </p>
      {% endif %}
    </li>
  {% endfor %}
</ul>