<div class="card-body card-body--condensed border-top d-flex justify-content-between" {% if cardItemId %}data-card-item-id="{{ cardItemId }}"{% endif %}>
    <div>
      {% include '@atoms/03-form/input-checkbox-with-label.twig' with { class:"mb-0" } %}
    </div>
    <div>
        <p class="mb-0 card-count">{{ nb|default('12') }}</p>
    </div>
</div>
