
<div class='container maxw-60 py-5'>

    <div>
        <h2>Interface</h2>
        <div class='mt-3 pl-4 bf-border-left-secondary'>
            <p class='bf-text-interface-large'>Large</p>
            <p class='bf-text-interface-medium'>Medium</p>
            <p class='bf-text-interface-small'>Small</p>
        </div>
    </div>

    <div class='mt-5'>
        <h2>Display</h2>
        <div class='mt-3 pl-4 bf-border-left-secondary'>
            <p class='bf-text-display-large'>Large</p>
            <p class='bf-text-display-medium'>Medium</p>
            <p class='bf-text-display-small'>Small</p>
            <p class='bf-text-display-sub-large'>Sub Large</p>
            <p class='bf-text-display-sub-medium'>Sub Medium</p>
            <p class='bf-text-display-sub-small'>Sub Small</p>
        </div>
    </div>

</div>