<h1>Blender Pro heading 1 : (52px)</h1>
<h2 class="mb-2">Blender Pro heading 2 : (34px)</h2>
<h3>Blender Pro heading 3 : (26px)</h3>
<h4>Blender Pro heading 4 : (18px)</h4>
<h5>Blender Pro heading 5 : (16px)</h5>
<h6>Blender Pro heading 6 : (14px)</h6>

<br>

<p class="h1">Any tag (default Open Sans) styled as <kbd>h1</kbd></p>
<p class="h2">Any tag (default Open Sans) styled as <kbd>h2</kbd></p>
<p class="h3">Any tag (default Open Sans) styled as <kbd>h3</kbd></p>
<p class="h4">Any tag (default Open Sans) styled as <kbd>h4</kbd></p>
<p class="h5">Any tag (default Open Sans) styled as <kbd>h5</kbd></p>
<p class="h6">Any tag (default Open Sans) styled as <kbd>h6</kbd></p>