<!-- text-information.twig -->
<div class="c-text-information d-flex align-items-start {{ class|default('') }}">
    {% include '@atoms/06-icons/icon-svg.twig' with {
        iconName: "important",
        iconClass:"mr-2",
        iconSize: iconSize|default(2)
    } only %}
    <p class="mb-0 ml-1 {{ textClass|default('') }}">{{ textLabel|default('Adjustments to your services charge will be added to your next bill on a pro-rate basis.')|raw }}</p>
</div>