<!-- text-information.twig -->
<div class="d-flex {{ class|default('') }}">
    {% include '@atoms/06-icons/icon-svg-error.twig' with { iconClass:"mr-2" } only %}
    <p class="mb-0 ml-1 color--danger {{ textClass|default('') }}">{{ textLabel|default('Adjustments to your services charge will be added to your next bill on a pro-rate basis.') }}</p>
</div>