<!-- text-scroll-down.twig -->
<div class="text-center {{ class|default('') }}">
    <h4 class="vui--text-highlight mb-0">{{ scrollDownLabel|default('Scroll down') }}</h4>

    <div class="vui-anim--scroll-down-arrow ">
        {% include '@atoms/06-icons/icon-arrow-to-bottom.twig' with { iconClass:"icon-dark p-1", iconMarginLeft:"0" } %}
    </div>
</div>
