<div class="container-fluid py-section bg-gray--200">
  {# Frequently asked questions ---------------------------------------- #}
  <div class="row align-items-center">
    <div class="col-md-6 mb-4 mb-md-0">
      {% include '@molecules/07-content/content-suptitle-with-h2.twig' with {
        supTitle:"Billing & accounts",
        title:"Understanding my phoenix bill"
      } %}

      <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi aperiam architecto aspernatur, dolores expedita fuga fugiat in nemo numquam officia placeat quasi quia velit voluptatem voluptatum. Deleniti, praesentium!</p>

      <div class="col-8 col-md-8 col-lg-6 p-0">
        {% include '@atoms/02-buttons/10-button-outline.twig' with { buttonLabel:"Lorem ipsum", buttonClass:"w-100" } %}
      </div>
    </div>
    <div class="col-md-5 offset-md-1">
      {% include '@organisms/04-content/mosaic-image.twig' with {
        count: 1,
      } %}
    </div>
  </div>
</div>

<div class="container-fluid py-section gradient gradient-horizontal-5 gradient-horizontal-primary">
  {# Frequently asked questions ---------------------------------------- #}
  <div class="row align-items-center">
    <div class="col-md-5">
      {% include '@organisms/04-content/mosaic-image.twig' with {
        count: 3,
        mosaicPosition: 'left',
        direction: 'flex-row-reverse',
      } %}
    </div>
    <div class="col-md-6 offset-md-1 mb-4 mb-md-0">
      {% include '@molecules/07-content/content-suptitle-with-h2.twig' with {
        supTitle:"Billing & accounts",
        title:"Understanding my phoenix bill"
      } %}

      <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi aperiam architecto aspernatur, dolores expedita fuga fugiat in nemo numquam officia placeat quasi quia velit voluptatem voluptatum. Deleniti, praesentium!</p>

      <div class="col-8 col-md-8 col-lg-6 p-0">
        {% include '@atoms/02-buttons/10-button-outline.twig' with { buttonLabel:"Lorem ipsum", buttonClass:"w-100" } %}
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-section bg-gray--200">
  {# Frequently asked questions ---------------------------------------- #}
  <div class="row align-items-center">
    <div class="col-md-6 mb-4 mb-md-0">
      {% include '@molecules/07-content/content-suptitle-with-h2.twig' with {
        supTitle:"Billing & accounts",
        title:"Understanding my phoenix bill"
      } %}

      <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi aperiam architecto aspernatur, dolores expedita fuga fugiat in nemo numquam officia placeat quasi quia velit voluptatem voluptatum. Deleniti, praesentium!</p>

      <div class="col-8 col-md-8 col-lg-6 p-0">
        {% include '@atoms/02-buttons/10-button-outline.twig' with { buttonLabel:"Lorem ipsum", buttonClass:"w-100" } %}
      </div>
    </div>
    <div class="col-md-5 offset-md-1">
      {% include '@organisms/04-content/mosaic-image.twig' with {
        count: 4,
      } %}
    </div>
  </div>
</div>

<div class="container-fluid py-section gradient gradient-horizontal-5 gradient-horizontal-gray--500">
  {# Frequently asked questions ---------------------------------------- #}
  <div class="row align-items-center">
    <div class="col-md-6 mb-4 mb-md-0">
      {% include '@molecules/07-content/content-suptitle-with-h2.twig' with {
        supTitle:"Billing & accounts",
        title:"Understanding my phoenix bill"
      } %}

      <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi aperiam architecto aspernatur, dolores expedita fuga fugiat in nemo numquam officia placeat quasi quia velit voluptatem voluptatum. Deleniti, praesentium!</p>

      <div class="col-8 col-md-8 col-lg-6 p-0">
        {% include '@atoms/02-buttons/10-button-outline.twig' with { buttonLabel:"Lorem ipsum", buttonClass:"w-100" } %}
      </div>
    </div>
    <div class="col-md-5 offset-md-1">
      {% include '@organisms/04-content/mosaic.twig' %}
    </div>
  </div>
</div>


<div class="container-fluid py-section">
  <div class="row align-items-center">
    <div class="col-md-5 mb-4 mb-md-0">
      {% include '@organisms/04-content/mosaic.twig' with {
        direction: 'flex-row-reverse',
      } %}
    </div>

    <div class="d-none d-md-block col-md-6 offset-md-1">
      {% include '@molecules/07-content/content-suptitle-with-h2.twig' with {
        supTitle:"Billing & accounts",
        title:"Understanding my phoenix bill"
      } %}

      <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias animi aperiam architecto aspernatur, dolores expedita fuga fugiat in nemo numquam officia placeat quasi quia velit voluptatem voluptatum. Deleniti, praesentium!</p>

      <div class="col-8 col-md-8 col-lg-6 p-0">
        {% include '@atoms/02-buttons/10-button-outline.twig' with { buttonLabel:"Lorem ipsum", buttonClass:"w-100" } %}
      </div>
    </div>

  </div>
</div>
