<div class="videotron-ui">

<div class="bg-gray--100 py-section text-center">

    <div class="container-fluid">

        <h2>{{ carouselTitle|default('Lorem ipsum dolor sit amet') }}</h2>

        {% include '@organisms/50-carousel/carousel-internet-speed.twig' %}

        {% include '@atoms/02-buttons/00-button.twig' with { buttonClass:'mt-4', buttonLabel:'Shop Internet' } %}
    </div>

</div>

</div>
