{% set link = link|json_parse %}
{% set contentList = contentList|json_parse %}

{% set hasDivider = hasDivider|json_parse %}
{% set reversed = reversed|json_parse %}

<div  class='container-fluid {% if reversed %}reversed bf-color-bg-ground{% endif %}'>
  {% for index in [1,2] %}
    <div class='d-flex flex-column d-sm-flex flex-sm-row justify-content-center {% if index == 2 and reversed is not defined %}reversed bf-color-bg-ground{% endif %}' >
      <div class='p-3'>
        {% include '@bf-components/list-group/twig/index.twig' %}
      </div>
      <div class='p-3'>
        {% include '@bf-components/list-group/twig/index.twig' with {
          titleTag    : titleTag|default('p'),
          titleClass  : titleClass|default('bf-text font-weight-bold'),
          link        : {
            label          : 'link',
            href           : 'https://example.com',
          },
          contentList   : {
            content : [
              {
                label : contentList.content.label|default('Lorem ipsum'),
              },
              {
                label : contentList.content.label|default('Lorem ipsum'),
              },
              {
                label : contentList.content.label|default('Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.'),
                link  : content.link
              }
            ],
            class       : contentList.class|default('bf-text-display-sub-medium'),
            hasCheckBulletIcon : contentList.hasCheckBulletIcon|default(true),
          },
        } %}
      </div>
      <div class='p-3'>
        {% include '@bf-components/list-group/twig/index.twig' with {
          titleTag    : titleTag|default('p'),
          titleClass  : titleClass|default('h4'),
          class       : class|default('bf-text-display-sub-medium'),
          link        : null,
          contentList   : {
            content : [
              {
                label : contentList.content.label|default('Lorem ipsum'),
              },
              {
                label : contentList.content.label|default('Lorem ipsum'),
              },
              {
                label : contentList.content.label|default('Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.'),
                link  : content.link
              }
            ],
            hasDivider  : contentList.hasDivider|default(true),
          }
        } %}
      </div>
    </div>
  {% endfor %}
</div>