<div class="text-center vui--pseudo-center-line {{ bgColor|default('bg-white') }} {{ class|default('my-5') }}" data-animate="">
    <div class="{{ bgColor|default('bg-white') }} d-inline-block pl-3 pr-3">
        {% include '@atoms/02-buttons/00-button.twig' with {
            buttonLabel: buttonLabel|default("View more"),
            buttonClass:"link-underline btn-reset btn--load-more"
        } %}
    </div>
</div>
