
{% set class = class ~ " w-100 form-group--search-input" %}
{% set input = input|merge({ 
    class           : input.class ~ " js-input-search",
    iconPosition    : input.iconPosition ~ " pt-2",
    extraAttribute  : input.extraAttribute ~ "autocomplete=off"
}) %}

{% extends '@bf-components/input-search/twig/input-with-icon.twig' %}
    {% block icon_container %}
        <div class="position-relative pointer-none">
            {% include '@bf-components/icon/twig/index.twig' with {
                name        : 'svg-search',
                size        : 'xsmall'
            } only %}
        </div>

        <input id="{{ inputSubmit.id|default('') }}"
               class="btn h-100 m-0 p-0 position-absolute--center-right vui--style-reset w-100 sr-only"
               type="submit"
               placeholder="{{ input.placeholder|default('') }}"
               value="{{ inputSubmit.value|default('search') }}"
                {{ inputSubmit.extraAttribute|default(NULL) }}
        >
    {% endblock %}