{% if rowDatas is not defined or rowDatas is empty %}
    {% set rowDatas = [
        { cellValue: "Oct 10, 2018" },
        { cellValue: "$136.34" },
        { cellValue: "76567687-112" }
    ] %}
{% endif %}

{# ------------------------------------------------------------------------------------------------------------------ #}

<tr class="{{ class|default('') }}">
    {% for item in rowDatas %}
        <td class="">
            {% if item.status is not empty %}
                {% include '@atoms/08-tags/status.twig' with {
                    label: item.status.label,
                    color: item.status.color
                } only %}
            {% elseif item.link is not empty %}
                {% if item.link.isPDF is same as (true) %}
                    {% include '@atoms/04-links/link-underline-with-icon--pdf.twig' with {
                        class:"mb-0 d-inline-flex align-items-center",
                        label: item.link.label|default('link')
                    } %}
                {% else %}
                    {% include '@atoms/04-links/link-underline.twig' with { label: item.link.label|default('link'), class:""} %}
                {% endif %}
            {% else %}
                <p class="mb-1 text-uppercase font-weight-bold">{{ item.cellSubValueInfos }}</p>
                <span class="h6 mb-0">{{ item.cellValue|raw }}</span>
            {% endif %}
        </td>
    {% endfor %}
</tr>