<div class="d-flex align-items-baseline justify-content-end">
    <span class="color-gray--600">1-25 of 200</span>

    <div class="ml-3">
        {% include '@atoms/03-form/selectlist.twig' with {
            options: [
                { label:"25 lines", value:"25", isSelected:true },
                { label:"50 lines", value:"50" },
                { label:"75 lines", value:"75" },
                { label:"200 lines", value:"200" }
            ]
        } %}
    </div>
</div>