<div class="bg-primary py-3">
    <div class="d-flex align-items-center justify-content-center w-100 vui-anim--fade-slide-in">
        <p class="mb-0">{{ itemName|default('Casa was added') }}</p>
        <p class="font-weight-bold ml-2 mb-0">+ {{ itemPrice|default('6,99$/month') }}</p>
    </div>
</div>