<div class="bg-primary p-3">
    <div class="d-flex align-items-center justify-content-center w-100 vui-anim--fade-slide-in">
        <p class="mb-0 font-weight-bold ">{{ itemTitle|default('Casa was added') }}</p>
        <p class="ml-2 mr-4 mb-0">- {{ itemTxt|default('Lore ipsum dolir sit amet') }}</p>

        {% include '@atoms/04-links/01-link-button-outline.twig' with {
            class: "",
            buttonSize: "small",
            href: buttonHref|default(''),
            label: buttonLabel|default('View offer')
        } %}
    </div>
</div>