{# Boolean Variables #}
{% set hasOptions = options is defined and options is not empty %}
{% set areOptionTiles = areOptionTiles|default(false) is same as(true) %}
{% set areOptionTilesInline = areOptionTilesInline|default(false) is same as(true) %}
{% set areOptionTilesLarge = areOptionTilesLarge|default(false) is same as(true) %}

{# Default Variables (Props, Controls) #}
{% set class = class|default("") %}

{# Arrays of Classes With Dynamic Elements #}
{% set fieldsetClasses = [
  "bf-input-checkbox",
  (class),
] %}
{% set optionsContainerClasses = [
  "bf-input-checkbox__options",
  "gap-2 mb-0",
  (areOptionTiles and areOptionTilesInline ? "bf-input-checkbox__options--inline" : "d-flex flex-column flex-wrap"),
] %}

{# Template #}
{% embed "@bf-components/input/twig/index.twig" with {
  class: fieldsetClasses|join(' ')|trim,
  isLabelLegend: true,
} %}
  {% block inputContent %}
    {% if hasOptions %}
      <div class="{{ optionsContainerClasses|join(' ')|trim }}">
        {% if areOptionTiles %}
          {# Options are Selection Tiles #}
          {% for option in options %}

            {# In Loop - Arrays of Classes With Dynamic Elements #}
            {% set optionClasses = [
              (option.class|default("")),
              (areOptionTilesLarge ? "bf-selection-tile--large"),
            ] %}

            {% set option =
              option|merge({
                type: "checkbox",
                name: name,
                orientation: (areOptionTilesInline ? "vertical" : "horizontal"),
                class: (optionClasses|join(' ')|trim),
                fit: "content",
                errorMessage: null
              })
            %}
            {% include "@bf-components/selection-tile/twig/index.twig" with option only %}
          {% endfor %}
        {% else %}
          {# Options are simple checkbox #}
          {% for option in options %}
            {% set option =
              option|merge({
                name: name
              })
            %}
            {% include "@bf-components/input-checkbox-option/twig/index.twig" with option only %}
          {% endfor %}
        {% endif %}
      </div>
    {% endif %}
  {% endblock %}
{% endembed %}
