
<!-- Name credit card  -------------------------------- -->
<div class="{{ class|default('') }}">
    <div class="row mb-3">
        <div class="col-md-6">
            {% include '@atoms/03-form/input-readonly-with-label.twig' with { label:"Name on the credit card", inputId:"payment_creditCard", class:"", inputValue:"John Doe" } %}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            {% include '@atoms/03-form/input-readonly-with-label.twig' with { label:"Card number", inputId:"payment_creditCard", inputType:"number", class:"", inputValue:"**** **** **** 1234" } %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {% include '@atoms/03-form/input-readonly-with-label.twig' with { label:"Date of expiration", inputId:"payment_date", inputType:"month", class:"mb-0", inputValue:"XX-XX" } %}
        </div>
        <div class="col-md-3">
            {% include '@atoms/03-form/input-readonly-with-label.twig' with { label:"CCV", inputId:"payment_ccv", inputType:"number", class:"mb-0", inputValue:"XXX" } %}
        </div>
    </div>
</div>
