
<!-- Name credit card  -------------------------------- -->
<div class="{{ class|default('') }}">
    <div class="row mb-3">
        <div class="col-md-6">
            {% include '@atoms/03-form/input-with-label.twig' with { label:"Current provider's name", inputId:"_portin_service_name", class:"" } %}
        </div>
        <div class="col-md-6">
            {% include '@atoms/03-form/input-with-label.twig' with { label:"Account number", labelTooltipTxt:"Here is a tooltip", inputId:"_portin_service_accountnumber", class:"" } %}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            {% include '@atoms/03-form/input-with-label.twig' with { label:"First name", inputId:"_portin_service_firstname", class:"" } %}
        </div>
        <div class="col-md-6">
            {% include '@atoms/03-form/input-with-label.twig' with { label:"Last name", inputId:"_portin_service_lastname", class:""} %}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            {% include '@organisms/11-postal-code/00-address-search.twig' with { class:"" } only %}
            {#{% include '@atoms/03-form/input-with-label.twig' with { label:"Service address", inputId:"_portin_service_address" } %}#}
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-right">
            <p class="color-gray--800 font-italic small">All fields are required</p>
        </div>
    </div>
</div>
