
<!-- Form bank information -------------------------------- -->
<div class="{{ class|default('') }}">
    <div class="row">
        <div class="col-md-4">
            {% include '@atoms/03-form/input-with-label.twig' with { label:"Transit number", inputId:"_paymentbank_transit", inputType:"number", class:"" } %}
        </div>
        <div class="col-md-4">
            {% include '@atoms/03-form/input-with-label.twig' with { label:"Bank number", inputId:"_paymentbank_bank", inputType:"number", class:"" } %}
        </div>
        <div class="col-md-4">
            {% include '@atoms/03-form/input-with-label.twig' with { label:"Account number", inputId:"_paymentbank_account", inputType:"number", class:"" } %}
        </div>
    </div>

    {% include '@atoms/02-buttons/00-button.twig' with {
        buttonClass:"link-underline small d-inline-block mb-0 p-0",
        buttonColor: "reset",
        buttonLabel:"Find your bank informations",
        dataToggle:"modal",
        dataTarget:"#modalBankInformation"
    } %}
</div>