{# Default Variables (Props, Controls) #}
{% set _reversed = _reversed|json_parse %}
{% set cent = cent|json_parse %}
{% set class = class|json_parse %}
{% set details = details|json_parse %}
{% set dollar = dollar|json_parse %}
{% set dollarClass = dollarClass|json_parse %}
{% set fullWidth = fullWidth|json_parse %}
{% set hasAsterisk = hasAsterisk|json_parse %}
{% set isPriceBoxDisplayed = isPriceBoxDisplayed|json_parse %}
{% set language = language|json_parse %}
{% set message = message|json_parse %}
{% set promotion = promotion|json_parse %}
{% set size = size|json_parse %}
{% set upfront = upfront|json_parse %}
{% set upperTitle = upperTitle|json_parse %}

{# Arrays of Classes With Dynamic Elements #}
{% set mainContainerClasses = [
  "d-flex flex-column flex-sm-row justify-content-center minh-100",
  (_reversed ? "reversed bf-color-bg-ground"),
] %}

{# Template #}
<div class="{{ mainContainerClasses|join(' ')|trim }}">
  {% for index in [1, 2] %}

    {# In Loop : Boolean Variables #}
    {% set isReversed = index == 2 and _reversed is not defined %}

    {# In Loop : Arrays of Classes With Dynamic Elements #}
    {% set innerContainerClasses = [
      "flex-grow-1 d-flex flex-column align-items-center minh-100 pb-4",
      (isReversed ? "reversed bf-color-bg-ground"),
    ] %}

    <div class="{{ innerContainerClasses|join(' ')|trim }}">
      <div class="w-100">
        {% if size is defined and size is not empty %}
          <h3 class="mt-5 ml-3">
            Size "{{ size }}"
          </h3>
          <div class="d-flex flex-column flex-lg-row border-bottom bf-border-color-tertiary">
            {% include "@bf-components/price/twig/index.twig" %}

            {% include "@bf-components/price/twig/index.twig" with {
              language: language|default("fr")
            } %}
          </div>
        {% else %}
          <h3 class="mt-5 ml-3">
            Size "small" (default)
          </h3>
          <div class="d-flex flex-column flex-lg-row border-bottom bf-border-color-tertiary">
            <div class="w-100 w-lg-50">
              <div class="small py-1 px-3 bf-color-bg-underground">English CAD Format</div>
              {% include "@bf-components/price/twig/index.twig" %}
            </div>
            <div class="w-100 w-lg-50">
              <div class="small py-1 px-3 bf-color-bg-underground">French CAD Format</div>
              {% include "@bf-components/price/twig/index.twig" with {
                language: language|default("fr")
              } %}
            </div>
          </div>

          <h3 class="mt-5 ml-3">
            Size "medium"
          </h3>
          <div class="d-flex flex-column flex-lg-row border-bottom bf-border-color-tertiary">
            <div class="w-100 w-lg-50">
              <div class="small py-1 px-3 bf-color-bg-underground">English CAD Format</div>
              {% include "@bf-components/price/twig/index.twig" with {
                size: size|default("medium")
              } %}
            </div>
            <div class="w-100 w-lg-50">
              <div class="small py-1 px-3 bf-color-bg-underground">French CAD Format</div>
              {% include "@bf-components/price/twig/index.twig" with {
                size: size|default("medium"),
                language: language|default("fr")
              } %}
            </div>
          </div>

          <h3 class="mt-5 ml-3">
            Size "large"
          </h3>
          <div class="d-flex flex-column flex-lg-row">
            <div class="w-100 w-lg-50">
              <div class="small py-1 px-3 bf-color-bg-underground">English CAD Format</div>
              {% include "@bf-components/price/twig/index.twig" with {
                size: size|default("large")
              } %}
            </div>
            <div class="w-100 w-lg-50">
              <div class="small py-1 px-3 bf-color-bg-underground">French CAD Format</div>
              {% include "@bf-components/price/twig/index.twig" with {
                size: size|default("large"),
                language: language|default("fr")
              } %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
