{% set hasAsterisk      = hasAsterisk|json_parse %}

<div
    class="px-7 d-flex align-items-center justify-content-center h-100 w-100 {% if reversed %}reversed bf-color-bg-ground{% endif %}"
>
    {% include '@bf-components/price/twig/index.twig' %}
</div>