{% set hasAsterisk      = hasAsterisk|json_parse %}
{% set reversed         = reversed|json_parse %}

<div class='d-flex flex-column flex-md-row minh-100'>
    {% for index in [1,2] %}
        
        <div class='d-flex flex-column align-items-center justify-content-center gap-4 p-4 flex-grow-1 minh-100 {{ (reversed == true or index == 2) ? 'reversed bf-color-bg-ground' : ''  }}'>
                
            {% include '@bf-components/price/twig/index.twig' %}

            {% include '@bf-components/price/twig/index.twig' with {
                size : size|default('md')
            } %}

            {% include '@bf-components/price/twig/index.twig' with {
                size : size|default('lg')
            } %}

            {% include '@bf-components/price/twig/index.twig' with {
                language : 'fr'
            } %}

            {% include '@bf-components/price/twig/index.twig' with {
                size : size|default('md'),
                language : 'fr'
            } %}

            {% include '@bf-components/price/twig/index.twig' with {
                size : size|default('lg'),
                language : 'fr'
            } %}

        </div>

    {% endfor %}
</div>
