{% set hasAsterisk      = hasAsterisk|json_parse %}

<div class='px-7 d-flex flex-wrap align-items-center justify-content-center minh-100'>

    <div class='p-5'>
        {% include '@bf-components/price/twig/index.twig' %}
    </div>
    
    <div class='reversed bf-color-bg-ground p-5'>
        {% include '@bf-components/price/twig/index.twig' %}
    </div>

</div>
