{# Default Variables (Props, Controls) #}
{% set navItems = navItems|json_parse %}
{% set reversed = reversed|json_parse %}

{# Template #}
<div class="d-flex flex-column justify-content-center minh-100">
  {% for index in [1, 2] %}

    {# In Loop : Boolean Variables #}
    {% set isReversed = index == 2 and reversed is not defined %}

    {# In Loop : Arrays of Classes With Dynamic Elements #}
    {% set row1Classes = [
      "flex-grow-1 d-flex align-items-center justify-content-center minh-100 py-4 bf-color-bg-ground",
      (isReversed ? "reversed"),
    ] %}
    {% set row2Classes = [
      "flex-grow-1 d-flex align-items-center justify-content-center minh-100 py-4 bf-color-bg-underground",
      (isReversed ? "reversed"),
    ] %}

    <div class="{{ row1Classes|join(' ')|trim }}">
      {% include "@bf-components/tab/twig/index.twig" %}
    </div>
    <div class="{{ row2Classes|join(' ')|trim }}">
      {% include "@bf-components/tab/twig/index.twig" %}
    </div>
  {% endfor %}
</div>

<script>
  function init() { document.querySelectorAll(".nav-link").forEach(item => {
  item.addEventListener("click", event => { event.preventDefault(); }) }) }
  init();
</script>
