{% set navItems = navItems|json_parse %}
{% set reversed = reversed|json_parse %}

<div class='d-flex flex-column justify-content-center minh-100 {% if reversed %}reversed bf-color-bg-ground{% endif %}'>
    {% for index in [1,2] %}

        <div class='flex-grow-1 d-flex align-items-center justify-content-center minh-100 py-4 {% if index == 2 and reversed is not defined %}reversed bf-color-bg-ground{% endif %}'>

            {% include '@bf-components/tab/twig/index.twig' %}

        </div>

    {% endfor %}
</div>


<script>
    function init() {
        document.querySelectorAll('.nav-link').forEach(item => {
            item.addEventListener('click', event => {
                event.preventDefault();
            })
        })
    }
    init();
</script>