{# Default Variables (Props, Controls) #}
{% set formEncryptionType = formEncryptionType|json_parse %}
{% set formNoValidate = formNoValidate|json_parse %}
{% set formTarget = formTarget|json_parse %}
{% set fullWidth = fullWidth|json_parse %}
{% set isDisabled = isDisabled|json_parse %}
{% set isLoading = isLoading|json_parse %}
{% set isSubmit = isSubmit|json_parse %}

{% set _hierarchyList = hierarchy is defined
  ? [hierarchy]
  : ["primary", "primary-alt", "secondary", "tertiary"]
%}
{% set _variants = [
  {
    _name: "Ground",
    _backgroundClass: "bf-color-bg-ground"
  },
  {
    _name: "Underground",
    _backgroundClass: "bf-color-bg-underground"
  },
  {
    _name: "Ground + Reversed",
    _backgroundClass: "bf-color-bg-ground reversed",
  },
  {
    _name: "Underground + Reversed",
    _backgroundClass: "bf-color-bg-underground reversed",
  },
  {
    _name: "Highlight",
    _backgroundClass: "bf-color-bg-highlight highlight",
  },
  {
    _name: "Highlight + Reversed",
    _backgroundClass: "bf-color-bg-highlight reversed highlight",
  }
] %}

{# Template #}
<div class="d-flex flex-column minh-100">
  {% for _variant in _variants %}

    {# In Loop : Arrays of Classes With Dynamic Elements #}
    {% set variantContainerClasses = [
      "d-flex flex-column justify-content-center flex-grow-1 minh-100 p-4",
      (_variant._backgroundClass),
    ] %}

    <div class="{{ variantContainerClasses|join(' ')|trim }}">
      <h1 class="h3 mb-4">
        {{ _variant._name }}
      </h1>

      {% for _hierarchy in _hierarchyList %}
        <div class="row">
          <div class="flex-grow-1">
            {% include "@bf-components/button/twig/index.twig" with {
              label: label|default(_hierarchy),
              hierarchy: hierarchy|default(_hierarchy)
            } %}
          </div>

          <div class="flex-grow-1">
            {% include "@bf-components/button/twig/index.twig" with {
              label: label|default(_hierarchy),
              hierarchy: hierarchy|default(_hierarchy),
              iconName: iconName|default("placeholder")
            } %}
          </div>

          <div class="flex-grow-1">
            {% include "@bf-components/button/twig/index.twig" with {
              label: label|default(_hierarchy),
              hierarchy: hierarchy|default(_hierarchy),
              iconName: iconName|default("placeholder"),
              iconPosition: iconPosition|default("right")
            } %}
          </div>

          <div class="flex-grow-1">
            {% include "@bf-components/button/twig/index.twig" with {
              label: label|default(_hierarchy),
              hierarchy: hierarchy|default(_hierarchy),
              iconName: iconName|default("placeholder"),
              iconPosition: iconPosition|default("right"),
              isDisabled: isDisabled|default(true)
            } %}
          </div>

          <div class="flex-grow-1">
            {% include "@bf-components/button/twig/index.twig" with {
              label: label|default(_hierarchy),
              hierarchy: hierarchy|default(_hierarchy),
              isLoading: isLoading|default(true)
            } %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>

{% if isLoading|json_parse|default(false) %}
  <script>
    function setLoading() {
    document.getElementsByClassName(".bf-button")[0].classList.add("loading"); }
    setLoading();
  </script>
{% endif %}
