{% set hierarchyList = hierarchy is defined ? [hierarchy] : ['primary', 'primary-alt', 'secondary', 'tertiary'] %}

{% set variants = [
  {
    _name: 'Ground',
    backgroundClass: 'bf-color-bg-ground'
  },
  {
    _name: 'Underground',
    backgroundClass: 'bf-color-bg-underground'
  },
  {
    _name: 'Ground + Reversed',
    backgroundClass: 'bf-color-bg-ground reversed',
    reversed: true,
  },
  {
    _name: 'Underground + Reversed',
    backgroundClass: 'bf-color-bg-underground reversed',
    reversed: true
  },
  {
    _name: 'Highlight',
    backgroundClass: 'bf-color-bg-highlight highlight',
    highlight: true
  },
  {
    _name: 'Highlight + Reversed',
    backgroundClass: 'bf-color-bg-highlight reversed highlight',
    reversed: true,
    highlight: true
  }
] %}

<div class='d-flex flex-column minh-100'>
  {% for variant in variants %}
    {% set reversed = reversed|default(variant.reversed) %}
    {% set highlight = highlight|default(variant.highlight) %}

    <div class='d-flex flex-column justify-content-center flex-grow-1 minh-100 p-4 {{ variant.backgroundClass }}'>
      <h1 class='h3 mb-4'>
        {{ variant._name }}
      </h1>

      {% for _hierarchy in hierarchyList %}
        <div class='row'>
          <div class='flex-grow-1'>
            {% include '@bf-components/button/twig/index.twig' with {
              label       : label|default(_hierarchy),
              hierarchy   : hierarchy|default(_hierarchy),
            } %}
          </div>

          <div class='flex-grow-1'>
            {% include '@bf-components/button/twig/index.twig' with {
              label       : label|default(_hierarchy),
              hierarchy   : hierarchy|default(_hierarchy),
              iconName    : iconName|default('placeholder'),
            } %}
          </div>

          <div class='flex-grow-1'>
            {% include '@bf-components/button/twig/index.twig' with {
              label       : label|default(_hierarchy),
              hierarchy   : hierarchy|default(_hierarchy),
              iconName    : iconName|default('placeholder'),
              iconPosition: iconPosition|default('right'),
            } %}
          </div>

          <div class='flex-grow-1'>
            {% include '@bf-components/button/twig/index.twig' with {
              label       : label|default(_hierarchy),
              hierarchy   : hierarchy|default(_hierarchy),
              iconName    : iconName|default('placeholder'),
              iconPosition: iconPosition|default('right'),
              isDisabled  : isDisabled|default(true),
            } %}
          </div>

          <div class='flex-grow-1'>
            {% include '@bf-components/button/twig/index.twig' with {
              label       : label|default(_hierarchy),
              hierarchy   : hierarchy|default(_hierarchy),
              isLoading   : isLoading|default(true),
            } %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>


{% if isLoading|default(false) %}
  <script>
    function setLoading() {
      document.getElementsByClassName('.bf-button')[0].classList.add('loading');
    }
    setLoading();
  </script>
{% endif %}