{% set isReadOnly = isReadOnly|json_parse|default(false) %}
{% set isDisabled = isDisabled|json_parse|default(false) %}

<div class='px-7 d-flex flex-column align-items-center justify-content-center minh-100 position-relative'>
    {% for index in [1,2] %}
        {% set inputId = 'my-input-id-'~ index %}

        <div class="p-5 {{ index == 2 ? 'reversed bf-color-bg-ground' : ''  }}">

        {% include '@bf-components/input-increment/twig/index.twig' with {
            {
                customClass : '',
                isReadOnly  : false,
                isDisabled  : false,
                inputId     : {{ inputId }},
                inputValue  : null,
                min         : null,
                max         : null,
                }
            }
        %}

        </div>

    {% endfor %}
</div>