<div>
    {% for index in [1,2] %}

        <div class='d-flex gap-3 p-5 {{ index == 2 ? 'reversed bf-color-bg-ground' : ''  }}'>

            {% include '@bf-components/badge/twig/index.twig' with {
                label       : 'Primary',
                hierarchy   : 'primary',
                class       : 'm-2',
            } only %}

            {% include '@bf-components/badge/twig/index.twig' with {
                label       : 'Secondary',
                hierarchy   : 'secondary',
                class       : 'm-2',
            } only %}

            {% include '@bf-components/badge/twig/index.twig' with {
                label       : 'Tertiary',
                hierarchy   : 'tertiary',
                class       : 'm-2',
            } only %}

            {% include '@bf-components/badge/twig/index.twig' with {
                label   : 'Angle right',
                angle   : 'right',
                class   : 'm-2',
            } only %}

            {% include '@bf-components/badge/twig/index.twig' with {
                label   : 'Angle left',
                angle   : 'left',
                class   : 'm-2',
            } only %}

        </div>

    {% endfor %}
</div>
