<div>
    {% for index in [1,2] %}

        <div class="d-flex gap-3 p-5 {{ index == 2 ? "reversed bf-color-bg-ground" : ""  }}">

            {% include "@bf-components/button/twig/index.twig" with {
                label   : "Secondary",
            } only %}

            {% include "@bf-components/button/twig/index.twig" with {
                label       : "Primary",
                hierarchy   : "primary"
            } only %}

            {% include "@bf-components/button/twig/index.twig" with {
                label       : "Primary Alt",
                hierarchy   : "primary-alt"
            } only %}
        </div>

    {% endfor %}
</div>
