<div class='d-flex'>

  <div class='flex-grow-1 d-flex flex-column justify-content-center align-items-center p-4 {{ backgroundClass }}'>
    {% include '@bf-components/button-nav/twig/index.twig' with {
      iconName  : 'placeholder',
      label     : 'Label'
    } %}
  </div>

  <div class='flex-grow-1 d-flex flex-column justify-content-center align-items-center p-4 {{ backgroundClass|default('reversed bf-color-bg-ground') }}'>
    {% include '@bf-components/button-nav/twig/index.twig' with {
      reversed  : true,
      iconName  : 'placeholder',
      label     : 'Label'
    } %}
  </div>

  <div class='flex-grow-1 d-flex flex-column justify-content-center align-items-center p-4 {{ backgroundClass|default('bf-color-bg-highlight') }}'>
    {% include '@bf-components/button-nav/twig/index.twig' with {
      highlight : true,
      iconName  : 'placeholder',
      label     : 'Label'
    } %}
  </div>

</div>
