{% set contentLists = [
    {
        title           : 'Samsung Galaxy Note 20 Utra 5G',
        description     : 'Navy Blue, 128 Go',
        price           : '$24.00',
        saving          : '$30.00',
        fullPrice       : '$150.00',
    },
    {
        title           : 'All-inclusive 12 GB Mobile',
        description     : 'Lorem ipsum',
        price           : '$55.00',
    },
] %}

{% include '@bf-components/card/twig/index.twig' with {
    isDisabled      : false,
    upperTitle      : 'upperTitle',
    title           : 'All-Inclusive 12 GB Mobile',
    description     : 'So you can do what you want, when you want, without worrying about your data.',
    description_html: '<p>Empty <i>description</i> property to display this <strong>html content</strong>.</p>',
    link            : {
        label           : 'Learn more',
        href            : 'www.videotron.com',
    },
    badge           : 'PROMOTION',
    contentLists    : contentLists,
    price           : {
        class           : '',
        dollar          : '152',
        cent            : '34',
        infosSupp       : 'Taxes incl.',
        boxAlignement   : 'left',
        dashed          : '$150',
        saved           : '<strong>$30</strong>',
    },
    buttons           : [
        {
            label       : 'Add a phone with this plan',
            hierarchy   : 'primary-alt',
            reverse     : true,
            href        : 'www.videotron.com',
        },
        {
            label       : 'BUY only this PLAN',
            hierarchy   : 'tertiary',
            href        : 'www.videotron.com',
        }
    ],
    message             : 'Only plans with a minimum of $40.00 per month are available with that phone.',
    language            : 'en',
} only %}
