<div>
    {% for index in [1,2] %}

        <div class="d-flex gap-3 p-5 {{ index == 2 ? "reversed bf-color-bg-ground" : ""  }}">
            {% include "@bf-components/price/twig/index.twig" with {
                upperTitle      : "From",
                dollar          : "30",
                dollarClass     : "",
                cent            : "99",
                hasAsterisk     : false,
                details         : "/month",
                dashed          : "$150",
                saved           : "$10",
                message         : "Lorem ipsum dolor sit amet",
                class           : "class",
                size            : "md",
                language        : "en",
            } only %}
        </div>

    {% endfor %}
</div>
