<div class="border-left--vui-yellow border-width-4 pl-{{ spacingLeft|default("3") }} {{ class|default("") }}">
  {% if block("textFeatured_content") is defined %}
    {{ block("textFeatured_content") }}
  {% elseif textFeatured_content is defined %}
    {{ textFeatured_content|raw }}
  {% endif %}
</div>