{% set reversed    = reversed|json_parse %}
{% set isDisabled  = isDisabled|json_parse %}
{% set navItems    = navItems|json_parse %}
{% set orientation = orientation|json_parse %}

<div class='d-flex flex-column'>
  {% for index in [1,2] %}

    <div class='flex-grow-1 d-flex align-items-center justify-content-center py-4  bf-color-bg-ground {{ reversed|default(index == 2) ? 'reversed' }}'>
     {% include '@bf-components/table-content/twig/index.twig' with {
       id  : (id ~ '-1' ~ loop.index)
     }%}
    </div>

    <div class='flex-grow-1 d-flex align-items-center justify-content-center py-4 bf-color-bg-underground {{ reversed|default(index == 2) ? 'reversed' }}'>
      {% include '@bf-components/table-content/twig/index.twig' with {
        id  : (id ~ '-2' ~ loop.index)
      }%}
    </div>

  {% endfor %}
</div>