{% embed '@organisms/01-navigation/header-nav-helix.twig' with {
    class: "py-lg-3",
    hasNoLoginBtn:true,
    hasNoSearchBtn: true
} %}
    {% block navbar_content %}
        <li class="nav-item mr-0 ml-minus-3">
            <div class="nav-link nav-link--no-hover py-lg-2">
                {% include '@atoms/04-links/02-link-back.twig' with { class:"h6 m-0 pl-3 color--white" } %}
            </div>
        </li>
    {% endblock %}
{% endembed %}
