{# Import macros #}
{% import "@bf-utils/macros/twig/index.twig" as macros %}

{# Default Variables (Props, Controls) #}
{% set class = class|default("") %}
{% set itemClass = itemClass|default("") %}
{% set sliderClass = sliderClass|default("") %}

{# Arrays of Classes With Dynamic Elements #}
{% set tabClasses = [
  "bf-tab nav",
  (class),
] %}
{% set tabSliderClasses = [
  "bf-tab__slider list-reset",
  (sliderClass),
] %}

{# Template #}
<div class="{{ tabClasses|join(' ')|trim }}">
  <div>
    <ul role="tablist" class="{{ tabSliderClasses|join(' ')|trim }}">
      {% for item in navItems %}

        {# In Loop : Arrays of Classes With Dynamic Elements #}
        {% set tabLinkClasses = [
          "nav-link mr-lg-6 mr-4 my-0",
          (itemClass),
          (item.class|default("")),
        ] %}

        <li>
          <a {{ macros.addAttributes({
            "aria-controls": item.ariaControls,
            "aria-selected": item.ariaSelected,
            "class": tabLinkClasses|join(' ')|trim,
            "data-target": item.dataTarget,
            "data-toggle": "tab",
            "href": item.href|default("#"),
            "id": item.id,
            "role": "tab",
          }, item.extraAttribute|default({})) }}>
            {{ item.label|default("") }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
