{# For demo purpose #}
{% if registeredPaymentOptions is not defined %}
    {% set hasAutomaticPaymentOption = true %}
    {% set locationAddress = "123 Blvd St-Laurent, Montreal, QC H1W 1N2" %}
    {% set registeredPaymentOptions = [
        {isActivePaymentMethod: true, cardInfos: { type: "visa", ending: "5224", expirationDate: "06/20"}},
        {isActivePaymentMethod: false, cardInfos: { type: "mastercard", ending: "5224", expirationDate: "06/20"}},
    ] %}
{% endif %}

{# ------------------------------------------------------------------------------------------------------------------ #}

<div class="card {{ class|default('') }}" data-animate="fade-in">
    {% if hasAutomaticPaymentOption is defined and hasAutomaticPaymentOption is same as (true) %}
        <div class="card-header">
            <p class="mb-0 font-weight-medium">{{ locationLabel|default('House') }}</p>

            {% if locationAddress is defined and locationAddress is not empty %}
                <p class="mb-0 small">{{ locationAddress|default('123 Blvd St-Laurent, Montreal, QC H1W 1N2') }}</p>
            {% endif %}
        </div>
    {% endif %}

    <div class="card-body">
        {% include '@components/form/form-toogle.twig' with {
            class:"m-0 text-left",
            isChecked: (isAutomaticPaymentChecked is same as (true)) ? true : false,
            label: "Automatic Payment",
            labelOn:"Yes",
            labelOff:"No"
        }%}

        <hr>

        <div class="list-group list-group-flush {{ (hasAutomaticPaymentOption is defined and isAutomaticPaymentChecked is not same as (true)) ? 'vui--desactivated' : '' }}">
            {% for option in registeredPaymentOptions %}
                {% include '@molecules/05-input/input-radio-credit-card.twig' with {
                    isSelected : option.isActivePaymentMethod,
                    class:"list-group-item p-0" ~ item.class|default(''),
                    inputName: "_account_credit_billing_address",
                    inputId: "billingAddress_" ~ option.cardInfos.ending,
                    cardInfos: option.cardInfos
                } only %}
            {% endfor %}
        </div>
    </div>
</div>