<div class='container container-fluid my-6'>

    {% include '@bf-components/block-highlight/twig/index.twig' with {
        isFeatured  : isFeatured|default(true),
        class       : class|default('mb-4)'
    } %}

    <div class='d-flex flex-column flex-md-row gap-4'>
        {% include '@bf-components/block-highlight/twig/index.twig' %}
        {% include '@bf-components/block-highlight/twig/index.twig' %}
    </div>
</div>