{% set button              = button|json_parse|default({}) %}
{% set image               = image|json_parse|default({}) %}
{% set isFeatured          = isFeatured|json_parse %}
{% set reversed            = reversed|json_parse %}

<div class='container container-fluid my-6'>

    {% include '@bf-components/block-highlight/twig/index.twig' with {
        isFeatured : true,
        image : {
            src: 'https://videotron.com/vtrn/images/resi/accueil/2021-12-02/TMO-BAN-J-DUOIPTV-570x448-2112_FR.jpg'
        },
        visualBackgroundFit : 'cover',
        class : 'mb-4'
    } %}

    <div class='d-flex flex-column flex-md-row gap-4'>
        {% include '@bf-components/block-highlight/twig/index.twig' with {
            image : {
                src: 'https://videotron.com/sites/default/files/styles/original/public/image/TMO-BAN-PSGEN-521x288-FR-3_0.webp?itok=kPcZ_CR9'
            }
        } %}
        {% include '@bf-components/block-highlight/twig/index.twig' with {
            image : {
                src: 'https://videotron.com/sites/default/files/styles/original/public/image/MicrosoftTeams-image%20%282%29_0.webp?itok=oFqIZUxK'
            }
        } %}
    </div>
</div>