<!-- DXP ONLY -->
{# DEMO purpose #}
{% if filters is not defined or filters is empty %}
    {% set filters = [
        { label:"Help", value:"12" },
        { label:"Settings", value:"8" },
        { label:"Discovery", value:"6" },
        { label:"Follow-up", value:"5" },
        { label:"Equipment", value:"4" },
    ] %}
{% endif %}

{# ------------------------------------------------------------------------------------------------------------------ #}

<div class="card {{ class }}">
    <div class="card-header">
        <p class="mb-0 font-weight-bold">{{ title|default('Themes') }}</p>
    </div>

    {% block block_filter %}
        {% for info in filters %}
            {% include '@molecules/11-checkbox/checkbox-filter.twig' with { label:info.label, nb:info.value } %}
        {% endfor %}
    {% endblock %}
</div>
