{# Default Variables (Props, Controls) #}
{% set buttonSubmit = buttonSubmit|json_parse %}
{% set hasButtonClear = hasButtonClear|json_parse %}
{% set input = input|json_parse %}
{% set isDisabled = isDisabled|json_parse %}
{% set label = label|json_parse %}
{% set reversed = reversed|json_parse %}

{# Arrays of Classes With Dynamic Elements #}
{% set mainContainerClasses = [
  "px-5 py-4 d-flex align-items-center justify-content-center minh-100",
  (reversed ? "reversed bf-color-bg-ground"),
] %}

{# Template #}
<div class="{{ mainContainerClasses|join(' ')|trim }}">
  {% include "@bf-components/input-search/twig/index.twig" with {
    buttonSubmit: buttonSubmit,
    input: input,
    label: label
  } %}
</div>
