{% set reversed = reversed|default(false)|json_parse %}

<div
    class="px-7 d-flex align-items-center justify-content-center h-100 w-100 {% if reversed %}reversed bf-color-bg-ground{% endif %}"
>
    {% include '@bf-components/input-search/twig/index.twig' with {
        class                   : class|default(''),
        reversed                : reversed,
        buttonClass             : buttonClass|default(''),
        iconClass               : iconClass|default(''),
        invalidMsg              : invalidMsg|default(''),
        isDisabled              : isDisabled|default(false)|json_parse,
        isChecked               : isChecked|default(false)|json_parse,
        input                   : {
            id                      : inputId|default(''),
            class                   : inputClass|default(''),
            iconPosition            : inputIconPosition|default(''),
            type                    : inputType|default(''),
            placeholder             : inputPlaceholder|default(''),
            name                    : inputName|default(''),
            value                   : inputValue|default(''),
            extraAttribute          : extraAttribute|default(''),
        },
        inputSubmit             : {
            id                      : inputSubmitId|default(''),
            value                   : inputSubmitValue|default(''),
            extraAttribute          : inputSubmitExtraAttribute|default(NULL),
        },
        label                   : {
            value                   : label|default(''),
            class                   : labelClass|default(''),
            extraAttribute          : labelExtraAttribute|default(NULL),
        },
        mtValue                 : mtValue|default('0'),
        
    } only %}
</div>

{% if isInvalid|default(false)|json_parse %}
    <script>
        function setInvalid() {
            document.getElementsByClassName('form-group')[0].classList.add('is-invalid');
        }
        setInvalid();
    </script>
{% endif %}