<button 
    type="button"
    class="
        btn
        btn-{{ size|default('md') }} 
        btn-{{ color|default('primary') }} 
        {{ class|default('') }}
    " 
    
    {% if disabled is same as (true) %}disabled="disabled"{% endif %}
>
Button 1
    {{ label|default('Default') }}
</button>
