{% extends "base-page--funnel.twig" %}

{% set navStepByStep_tplName = "appointment" %}
{% set navStepByStep_activeNumber = 3 %}

{% set heroPageTitle = "Confirmation" %}
{% set heroPageSubTitle = "Lorem ipsum dolor sit amet, consectetur adipisicing elit" %}

{% set navBackLabel = "Back to overview" %}
{% set navBackHref = "/patterns/04-Pages-02-my-account-(etiya)-01-overview/04-Pages-02-my-account-(etiya)-01-overview.html" %}

{# ------------------------------------------------------------------------------------------------------------------ #}

{% block page_main_container  %}
    <section class="py-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-10">
                    {% embed '@molecules/02-alert/alert-callout.twig' with {
                        themeColor: "success",
                        class: "mb-4",
                        cardBodyClass: "p-3"
                    } %}
                        {% block callout_body %}
                            <p class="mb-0">
                                <p class="h3">Your appointment has been scheduled with success </p>
                                {% include '@atoms/04-links/00-link.twig' with {
                                    class: "h5",
                                    label: "back to overview",
                                    href: "/patterns/04-Pages-02-my-account-(etiya)-01-overview/04-Pages-02-my-account-(etiya)-01-overview.html",
                                }%}

                            </p>
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-3 ">
                    {% include 'molecules-card-appointment' with {
                        class:"h-100",
                        isStateEdition: false,
                        isStateMissedAppointment: true
                    } only %}
                </div>

                <div class="col-md-6 col-lg-4 mb-3">
                    {% include 'molecules-card-appointment' with {
                        class:"h-100",
                        isStateEdition: false
                    } only %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
