{% extends "base-page--funnel.twig" %}

{#{% set navBackLabel = "Back to overview" %}#}
{% set navBackHref = "/patterns/04-Pages-02-my-account-(etiya)-01-overview/04-Pages-02-my-account-(etiya)-01-overview.html" %}

{#% set navStepByStep_tplName = "billing-make-a-payment" %#}
{% set navStepByStep_activeNumber = 1 %}

{% set page_hero_title = "Make a payment" %}
{#{% set page_hero_subtitle = "Lorem ipsum dolor sit amet, consectetur adipisicing elit." %}#}

{# ------------------------------------------------------------------------------------------------------------------ #}

{% block page_main_container %}
<section class="py-section">
    <div class="container-fluid">
        {% embed 'templates-step-creation--8-4' with {
            btnBackStepHref : "/patterns/04-Pages-02-my-account-(etiya)-01-overview/04-Pages-02-my-account-(etiya)-01-overview.html",
            btnNextStepHref : "/patterns/04-Pages-02-my-account-(etiya)-0205-payment--make-a-payment-confirmation/04-Pages-02-my-account-(etiya)-0205-payment--make-a-payment-confirmation.html",
            btnNextStepLabel : "Pay now",
            hasNoSidebar: false,
            leftColClass: "col-lg-6"
        } only %}
            {% block step_content %}
                <div class="card-body px-md-6">
                    <div class="mb-4">
                        <h2 class="mb-4">Combien voulez-vous payez</h2>

                        <p class="font-weight-bold">Balance actuelle</p>
                        {% include '@atoms/07-payment/price-box.twig' with {
                            priceClass:"",
                            priceDollar: "152",
                            priceCent:"34",
                            priceInfosSupp:" ",
                            priceBoxAlignement:"left"
                        } only %}
                    </div>

                    <div class="mb-4">
                        {% include '@atoms/03-form/input-with-label.twig' with { label:"Payment amount", inputId:"payment_amount"} %}
                    </div>

                    <div class="">
                        <h2 class="mb-3">Entrez vos informations de carte de credit</h2>

                        {% include 'templates-add-credit-card' with {
                            class:"mb-4",
                            hasCheckboxSaveMyCard: true
                        } %}
                    </div>
                </div>
            {% endblock %}
        {% endembed %}
    </div>
</section>
{% endblock %}
