{% extends "base-page--myaccount.twig" %}

{% set myAccountSubnav_activeSection = "profile-and-settings" %}
{% set heroPageTitle = "Profile & settings" %}
{% set heroPageSubTitle = "Welcome, Benjamin Desjardins" %}

{% set footerHelpCarouselHasSeparator = true %}

{# ------------------------------------------------------------------------------------------------------------------ #}

{% block page_main_container_section %}
    <section class="pb-section">
        <div class="container-fluid">
            {% include 'templates-tab-profile-and-settings' %}
        </div>
    </section>
{% endblock %}

{% block modals_container %}
    {% include 'organisms-modal-videotronplus-subscribe' %}
    {% include 'organisms-modal-videotronplus-subscribe-confirmation' %}
{% endblock %}
