{% extends "base-page--funnel-users.twig" %}

{% set navStepByStep_tplName = "user-add" %}
{% set navStepByStep_activeNumber = 2 %}

{% set page_hero_title = "User credentials" %}
{% set page_hero_subtitle = "lorem ipsum dolor sit amet consder vivamus sagititas." %}

{# ------------------------------------------------------------------------------------------------------------------ #}

{% block page_main_container %}
    <section class="py-section">
        <div class="container-fluid">
            <div class="mb-4">
                <h2 class="mb-2">Enter users informations</h2>
                <p>This is the name we use to greet you when you log in to Videotron. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <!-- First / last name -------------------------------- -->
                    <div class="row">
                        <div class="col-md-6">
                            {% include '@atoms/03-form/input-with-label.twig' with { label:"First name", inputId:"_newuser_firstName"} %}
                        </div>
                        <div class="col-md-6">
                            {% include '@atoms/03-form/input-with-label.twig' with { label:"Last name", inputId:"_newuser_lastName" } %}
                        </div>
                    </div>

                    <!-- Email -------------------------------- -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            {% include '@atoms/03-form/input-with-label.twig' with { label:"Email address" } %}
                        </div>
                        <div class="col-md-6">
                            {% include '@atoms/03-form/input-with-label.twig' with { label:"Confirm email address" } %}
                        </div>
                    </div>

                    <!-- Birthday -------------------------------- -->
                    <div class="row">
                        <div class="col-md-6">
                            {% include '@atoms/03-form/input-with-label.twig' with { label:"Birthdate", inputId:"_newuser_birthdate", inputType:"date", class:"", inputClass:"text-uppercase" } %}
                        </div>
                    </div>
                </div>
            </div>

            <hr class="my-4">

            <div class="row">
                <div class="col-lg-8">
                    <h3>Secret pin number</h3>
                    <div class="row">
                        <div class="col-md-6">
                            {% include '@atoms/03-form/input-password-creation.twig' with {
                                label:"You 4 digit Pin Number",
                                labelTooltipTxt:"Here is a tooltip",
                                subInfos:"( maximum of 4 number )",
                                inputId:"_newuser_password",
                                validationList: [
                                    { class:"", label:"Only number" },
                                    { class:"is-invalid", label:"Maximum 4 characters" },
                                ]
                            } %}
                        </div>
                    </div>
                </div>
            </div>

            <hr class="my-4">

            {% include '@atoms/03-form/input-checkbox-with-label.twig' with {
                class:"mb-6",
                label:'I agree to the <a href="#" class="link">Legal text dynamic link</a> lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius enim et eveniet facilis fugiat nisi.',
                inputId:"_newuser_accept-termsconditions"
            } %}

            {% include 'molecules-btn-back-and-next' with {
                class:"",
                btnBackHref: "/patterns/04-Pages-02-my-account-(etiya)-0501-settings-new-user--step-account-permission/04-Pages-02-my-account-(etiya)-0501-settings-new-user--step-account-permission.html",
                btnNextHref: "/patterns/04-Pages-02-my-account-(etiya)-05-profile-and-settings/04-Pages-02-my-account-(etiya)-05-profile-and-settings.html",
                btnNextLabel: "Continue",
            } only %}
        </div>

    </section>
{% endblock %}