<div class="bg--vui-yellow error-bg error-bg--maintenance">
    <img class="img-fluid d-block d-md-none" src="/images/error/helix_maintenance_img_mobile.png" alt="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 mb-8 mb-md-0">
                <h1 class="mb-3">{{ errorTitle|default('En cours de maintenance.') }}</h1>
                <p class="h4 lh-3">{{ errorText|default("Le site est présentement en cours de maintenance et est temporairement indisponible. Revenez nous visiter un peu plus tard!") }}</p>

                {% block error_content %}
                    <div class="border-left--dark border-width-3 pl-4 mt-4">
                        <p class="font-weight-bold h4 mb-1">Soutien technique 24/7</p>
                        <p class="h4 mb-4">1 877 380-2611 (611 depuis votre mobile)</p>

                        <p class="font-weight-bold h4 mb-1">Service à la clientèle</p>
                        <p class="h4 mb-0">1 877 512-0911 (611 depuis votre mobile)</p>
                        <p class="font-italic mb-0">du lundi au vendredi de 7h30 à 22h, le samedi et le dimanche de 8h à 20h.</p>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
