{# Import macros #}
{% import "@bf-utils/macros/twig/index.twig" as macros %}

{# Boolean Variables #}
{% set hasEmphasis = emphasis is defined and emphasis is not empty %}
{% set hasId = id is defined and id is not empty %}
{% set isBlockEmphasisDefined = block("emphasis") is defined %}

{# Default Variables #}
{% set class = class|default("") %}

{# Arrays of Classes With Dynamic Elements #}
{% set accordionClasses = [
  "bf-accordion",
  (class),
] %}

{# Template #}
<div {{ macros.addAttributes({
  "class": accordionClasses|join(' ')|trim,
  "id": (hasId ? id),
}) }}>
    <button class="bf-accordion__header">
      <span class="bf-accordion__header__title">
        {{ title }}
      </span>

      {% if isBlockEmphasisDefined %}
        {{ block("emphasis") }}
      {% elseif hasEmphasis %}
        {{ emphasis|raw }}
      {% else %}
        {% block emphasis %}

        {% endblock %}
      {% endif %}
    </button>
</div>
