/* *****************************************************************************
*
*  Accordion (collapse)
*
* ***************************************************************************** */

.accordion {
  &-rounded {
    & > .accordion-item--arrow-down {
      &:first-of-type {
        border-top-left-radius: $border-radius-lg;
        border-top-right-radius: $border-radius-lg;
      }

      &:last-of-type {
        border-bottom-left-radius: $border-radius-lg;
        border-bottom-right-radius: $border-radius-lg;
      }
    }
  }
}
