{% if label is defined and label %}
  {# TODO: refactor the status-color #}
  {# TODO: refactor the main class status and bf-status #}
  <p class='bf-status m-0 status status-{{ color|default('') }} {{ class|default('') }}'>{{ label }}</p>
{% endif %}